[2017-01-05 10:32] rayrutjes commented on #717
Hi @Inwerpsel ,

For now we actually bundle every JavaScript dependency of the extension so that we ensure we do not run into any kind of JavaScript conflicts.

You are right that it adds some overhead, but this was a compromise we were ready to take in the past to ensure it works everywhere, regardless of the availability of other libs.

I hope that makes sense.

[2017-01-05 11:51] Inwerpsel commented on #717
Hi Ray,

I understand that it is important to provide a solution that works out of the box, but for people that really care about their website's performance and are willing and able to do the custom coding required for it, it would be really helpful if the option was there, with the default being the bundled file.

The demo site for this extension has only about 350KB of js in total, including Ma

[2017-01-05 12:24] rayrutjes commented on #717
We are on the same page @Inwerpsel ,

For now, the best I can offer is you manually generate the bundle by excluding jQuery from it: https://github.com/algolia/algoliasearch-extensions-bundle

Let me know if that would work for you.

[2017-01-05 22:15] JanPetr commented on #716
Thanks for the suggestion @royduin, good idea. The issue is that as you said, there are many options and it's not easy to keep all the options configurable and implemented in the extension out of the box as it'd bring more complexity to the UI of the extension.
And not all those options aren't required for most of the customers.

This is something we would like to solve by introducing custom hooks

[2017-01-05 22:22] JanPetr commented on #701
Will be part of the next release. Currently it's part of 1.8.0-RC

[2017-01-05 22:22] #701 closed

[2017-01-06 00:00] JanPetr commented on #691
Hello @manish172,
sorry for the very late answer.
I tried to reproduce the issue but I didn't manage.

Do you mind investigating in the code of the extension why the correct image is not loaded?
The images' URLs are assigned to product here: https://github.com/algolia/algoliasearch-magento/blob/master/app/code/community/Algolia/Algoliasearch/Helper/Entity/Producthelper.php#L768-L812
And here is th

[2017-01-06 02:50] hungthanhtran commented on #680
Hello @JanPetr, you said "set color as retrievable attribute it will be present as variable in hit.phtml template out of box."

How I can set color as retrievable attribute, can you give me some details? I also want to show some attributes in hit.phtml, can I do this way? Thank you.

[2017-01-06 03:52] JanPetr commented on #680
Hey, I'm not sure if I understand your question. What do you mean by "calculate retrievable attributes"? Can you describe your use-case?
Feel free to open a new issue for that.

[2017-01-06 04:05] hungthanhtran commented on #680
Hey @JanPetr, thank for answer me . For example, I have 2 prices:
{{price<?php echo $price_key; ?>_formated}}
{{price<?php echo $price_key; ?>_original_formated}}

Now I want to make a subtraction of that. Do you know how to do it?

[2017-01-06 11:08] royduin commented on #716
Custom hooks would be awesome, that way people can modify it easily without the need of overwriting the complete file. I would say: merge your pull request and this issue can be closed.

[2017-01-06 17:28] JanPetr commented on #680
For that you can use `trasformData` parameter of `hits` widget. There you can transform data of the single hit, add new attributes to a hit etc. Here's the documentation of the widget: https://community.algolia.com/instantsearch.js/documentation/#hits

[2017-01-06 17:58] JanPetr commented on #690
Solved via Algolia support. The issue was in two concurrent crons, which launched a queue runner indexer at the very same time. So the queue runner got launched twice and performed two moves of the TMP Index and the second move wiped out the settings.

We implemented a DB transaction (#713, #715) into a queue runner so the issue should not repeat in a new versions. Thanks for your cooperation @gre

[2017-01-06 17:58] #690 closed

[2017-01-06 18:46] erikshosting opened #719 "Facet Indexes level0 categories when only level 1 requested"
I have configured only the product name and category.level1 to be indexed via the config panel.
When indexing I see that level0 and level1 both are added to the indice. Am I mis-understanding something?
![product indexing](https://cloud.githubusercontent.com/assets/6295678/21728843/2239e4a6-d3fd-11e6-8f52-92065fdf12d8.JPG)
![index capture](https://cloud.githubusercontent.com/assets/6295678/2172888

[2017-01-06 18:49] JanPetr commented on #719
Hello @erikshosting,
yes, when you add one of `categories...` to attributes to index, the whole tree is getting indexed. Is that a problem? Why do you want to index only `level1`?

[2017-01-06 19:38] erikshosting commented on #719
It's not a problem, I just was curious if that was as it was designed to work.
We are using organizational categories and indexing level1 would exclude the organization directories at level0. I've found a way around this by setting level0 dirs to not visible in nav, and indexing categories_without_path instead.

Why are their options to add specific levels to index if it indexes all? I think I'm j

[2017-01-06 19:40] JanPetr commented on #719
The `level` options are there to be able to select which level you want to use as searchable attribute. So it always index the whole tree, but by selecting only `level1` you can specify, that you want only `level1` to be searchable instead of the whole tree.

I'm closing the issue now, but if you have any further questions, feel free to ask.

[2017-01-06 19:40] #719 closed

[2017-01-06 19:41] erikshosting commented on #719
Awesome, thanks for the explanation.

[2017-01-09 11:47] dudusotero commented on #691
I have the same problem. Any idea what it might be?

[2017-01-10 18:41] JanPetr commented on #618
All done - https://community.algolia.com/magento/doc/m1/indexing/

[2017-01-10 18:41] #618 closed

[2017-01-10 18:42] JanPetr commented on #620
Already built-in with Magento's "Manual Update" indexer mode

[2017-01-10 18:42] #620 closed

[2017-01-10 23:03] #717 closed

[2017-01-10 23:04] JanPetr commented on #716
Will be handled by hooks from #631, closing now.
If you have something to add @royduin, feel free to reopen.

[2017-01-10 23:04] #716 closed

[2017-01-10 23:08] JanPetr commented on #687
Hello @royduin,
sorry for the late answer, I completely missed the issue /o\

I'm not sure what you mean. `catalog_category_product` is one of Magento's default indexers, why/how would you want to disable it? You just don't have to use it, no?

[2017-01-10 23:10] JanPetr commented on #681
Hello @rehamwael,

I finally got to your issue. We found out where the issue is and currently we're working on a fix.
The approach we're taking here is to display current category in a current refinements widget and give a user a possibility to remove the category refinement, so the search can be performed either on the whole catalog or within the selected category.

Hope it will solve the issue.

[2017-01-10 23:38] JanPetr commented on #439
Won't be integrated directly to the extension because of it's complexity.
Will be available through JS hooks ( #631 ) and [IS.js analytics widget](https://community.algolia.com/instantsearch.js/documentation/#analytics-1). Closing the issue now.

[2017-01-10 23:38] #439 closed

[2017-01-11 06:41] rehamwael commented on #681
@JanPetr thank you so much I will keeping up to date with you

[2017-01-11 10:32] royduin commented on #687
Sorry, me bad. I meant the `catalogsearch_fulltext` index. It's indeed a default index but it's only used for the search. This one stays automatically up-to-date when it's on "real time", we've set it on "manual" which improves speed a bit. But with imports etc and when users like to reindex everything from the backend this one will be reindexed too which is useless because it's not used when all

[2017-01-11 19:02] JanPetr commented on #703
It's part of the [1.8.0 release](https://github.com/algolia/algoliasearch-magento/releases/tag/1.8.0)

[2017-01-11 19:02] #703 closed

[2017-01-12 09:29] vvo commented on #703
NICE

[2017-01-12 09:54] rayrutjes commented on #703
@vvo we should probably detect mobile in autocomplete and handle this out of the box by default, is there a reason this would not apply @JanPetr ?

[2017-01-12 10:05] vvo commented on #703
@rayrutjes Yes good idea

[2017-01-14 00:54] JanPetr commented on #297
Hello @michaelwylde,

thank you for your amazing work on that one. Your work is great!
If you don't mind, I reimplemented your code directly to the Algolia extension so we can maintain it and keep it in sync with a future changes. The pull request is here: https://github.com/algolia/algoliasearch-magento/pull/726

I would really appreciate if you could find some time and review it. It would mean a

[2017-01-14 01:18] JanPetr commented on #606
Hello @moloughlin,

we removed the `releases` from the repository (#724), but we're going to keep it in history. So only new versions won't be added to GIT.
If it still causes you problems, you can use [shallow clones](https://www.perforce.com/blog/141218/git-beyond-basics-using-shallow-clones) in you CI builds so no history is cloned.

I'm closing the issue now.

[2017-01-14 01:18] #606 closed

[2017-01-16 14:09] richdynamix opened #727 "Wrong Indexed Fields for Customer Group Pricing"
When switching on the advanced section "Customer Groups" the prices does not show on the frontend. Having investigated this further it would appear the fields indexed are incorrect.

The `$priceKey` within the hit template shows `string '.GBP.group_0' (length=12)` when the customer group pricing is switched on.

When this is switched off we see `string '.GBP.default' (length=12)`, however the data

[2017-01-16 15:12] richdynamix commented on #727
Ah this can be closed, it would appear that my indexing wasn't updating due to an issue with the queue, leaving me to believe it wasn't sending the correct info. This is now working as expected.

[2017-01-16 15:12] #727 closed

[2017-01-16 21:33] JanPetr opened #728 "Automatically add "updateAt"

[2017-01-16 21:33] JanPetr opened #729 "Automatically add "updateAt" timestamp equals to NOW() to a record pushed to Algolia"

[2017-01-16 21:41] #728 closed

[2017-01-18 00:08] JanPetr commented on #681
The issue was fixed in #725, it will be part of the next release.

[2017-01-18 00:08] #681 closed

[2017-01-18 01:58] JanPetr commented on #595
Implemented in #731. It'll be part of the next release.

[2017-01-18 01:58] #595 closed

[2017-01-18 18:13] JanPetr opened #732 "Pass product object into dispatched events from product helper's getObject"

[2017-01-18 20:01] JanPetr commented on #729
Implemented in #730, it'll be part of the next release

[2017-01-18 20:01] #729 closed

[2017-01-18 22:57] JanPetr commented on #687
Hey @royduin,
that makes sense and as an option it might be useful for some customers.
However I did a small research and didn't find a way on how to disable non-Algolia indexer completely. The only thing is to put this indexer to manual mode. What should be enough for this use case.
Or do you have an idea on how to disable it?

[2017-01-21 16:53] royduin commented on #687
It's possible to remove a index with XML, but then it will be removed when the module is installed which isn't what we want (in case a user only wants to use the autocomplete, not the instantsearch for example). Another option is to override the index class as suggested here: http://magento.stackexchange.com/questions/39946/can-i-completely-disable-an-indexer. From there we can check a module conf

[2017-01-22 13:29] Inwerpsel commented on #714
Hello @JanPetr,

I think the comment saying "Hide the instant-search selector ASAP to remove flickering. Will be re-displayed later with JS." is misleading: although it isn't false, in that the next line indeed also prevents flickering, it should really tell the whole story so developers know what is happening and can take action.

It would be helpful to add something like: "Hide the search result

[2017-01-24 02:36] JanPetr commented on #714
Hello @Inwerpsel,

thanks for your research.
The message you're mentioning in the first paragraph is also true and you're right that it can be added as a comment to the code. I'll add it.

From our research and our data we got confirmed that Google indexes the data rendered by server side and so far we didn't notice any harmful impact on SEO with changing the site with JS. Maybe it's because the p

[2017-01-24 09:14] hungthanhtran opened #737 "Handle hitsperpage changing event"
Hi all,
In Instant search result page, I want to CSS limiter select options (it's in #hits-per-page-selector). But the select option can't be layout so I made a new limiter, and link to the old one. Now when I change the new one, the old one also change.

But there're one problem, Json string don't return and the page also not render hits per page again.

Can anyone help me to resolve this problem

[2017-01-24 12:38] dudusotero commented on #686
Sorry for the delay. I discovered how to reproduce the problem, when a product reaches 0 in stock its image in the catalog is replaced by an empty placeholder. To fix this it is necessary to reindex the Algolia catalog again, but this is not the best way. Is there any way around this?

Thanks for the support!

[2017-01-24 12:58] dudusotero opened #738 "When the product stock reaches 0, the catalog image are replaced by empty placeholder"
I created this issue because I could not reopen the task #686 @JanPetr .

I discovered how to reproduce the problem, when a product reaches 0 in stock its image in the catalog is replaced by an empty placeholder. To fix this it is necessary to reindex the Algolia catalog again, but this is not the best way. Is there any way around this?

Thanks for the support!

-Edit-
I use configurable product,

[2017-01-26 14:33] royduin opened #739 "CSS Merge issues with SVG data"
For example this line: https://github.com/algolia/algoliasearch-magento/blob/master/skin/frontend/base/default/algoliasearch/algoliasearch.css#L718 cause issues when CSS merging is enabled in Magento. That's because there is a bug in Magento (still in version 1.9.3.1), see: http://magento.stackexchange.com/questions/14973/problem-with-data-uris-and-css-file-merge

If Magento knows this I'm sure it

[2017-01-26 17:00] JanPetr commented on #739
Thanks for the report @royduin,
definitely something we'll target. I'll keep you posted.

[2017-01-30 02:13] tomekjordan commented on #682
Hi. Personally I don't see any reason to integrate AW Blog. Its very old and basic plugin Maybe 5 years ago somebody used it. Its not a good solution for blogging comparing to Wordpress (AW Blog slow downs Magento, and is really oldschool plugin. If somebody like to integrate AW Blog for searching it may be done just like any other native CMS pages are crawled by Algolia.

[2017-01-30 02:18] tomekjordan opened #740 "Magento 1931 + Algolia 1.8"
Hi. Can somebody tell me what's going on. I'm getting Please Provide an API key msg in console. after update from Magento 1924 to 1931 and from Algolia 162 to 180. Really strange. since I have all API keys filled. Or it is a problem of multiwebsite env? or because my store load it via CNAME subdomain? All searching features works. only this is seen in the console

[code]

[2017-01-30 13:45] dudusotero opened #741 "Adding banners to the catalog according to the selected category"
Hello!

Does anyone have any tips or ideas for adding banners according to the category selected in Algolia?
I would like to add banners under the search bar according to their category (Female, Male, Child). I thought about adding the banners according to the URL, but if my category has the changed name it would already break the code :(

Thanks for the support.

[2017-01-31 09:10] royduin commented on #740
Did you save the api key again from the backend after de update? The API key is stored encrypted in the latest version.

[2017-01-31 12:15] tomekjordan commented on #740
Yes, I checked it today again. copying all 3 keys to Magento panel. and the same result. Searching works, but error appear in chrome console

[2017-01-31 12:16] JanPetr commented on #740
Hello @tomekjordan, would you mind sharing a live website with me where I can check it? If you don't want to post it publicly, you can send it to support+magento@algolia.com.

Thanks!

[2017-01-31 12:18] tomekjordan commented on #740
dzieckoimy DOT pl

[2017-01-31 12:28] JanPetr commented on #740
Thanks @tomekjordan,
the issue is, that you have autocomplete loaded twice into the website. And one of those is legacy version. It looks like you didn't upgrade the extension properly.

One version (correct one) is loaded via JS file - https://cdn1 (dot) dzieckoimy (dot) pl/media/extendware/ewminify/files/js/08172eae12f184c6.js
The second version is loaded directly to the page: view-source:https:

[2017-01-31 12:28] #740 closed

[2017-01-31 14:01] JanPetr commented on #741
Hey @dudusotero,
how about base the banner on the category ID which you can get from the [`current_category` registry](https://github.com/algolia/algoliasearch-magento/blob/master/app/design/frontend/base/default/template/algoliasearch/internals/configuration.phtml#L51)?

[2017-01-31 14:14] Mobecls opened #744 "Slow mobile device typing"
I'm not sure, if there is anything you can do, but if instant search is enabled, when you search site on mobile the letters don't show up till well after you finish typing. So it's kind of slow laggy typing....

Have you met this before and is there anything we can do about that?

[2017-01-31 14:15] JanPetr commented on #744
Hello @Mobecls,

thanks for the report. Can you specify which mobile phone with which browser do you use? Thanks!

[2017-01-31 15:16] Mobecls commented on #744
Android, Google Chrome.
iPhone 6, safari.

Just try to type-delete-type and you will see the lags.

[2017-01-31 17:05] dudusotero commented on #741
To make the catalog more dynamic, I replace the menu links at the top of the page with the Algolia category filter links, without having to use the Magento catalog any time you switch categories, using only Algolia and being very fast.
Since I can not access the category page, it is not possible to load which category I am and what your image is.

Example: https://www.useliverpool.com.br/

[2017-02-01 09:46] Mobecls opened #745 "Avoid duplications in queue"
Is there a way we could avoid duplications in queue table at mysql?

Right now product might be updated twice, and that means that it will be added to the queue twice... and indexed twice...

[2017-02-02 16:11] JanPetr commented on #745
Hello @Mobecls,
when the queue is processed, duplicated jobs [are merged if possible](https://github.com/algolia/algoliasearch-magento/blob/master/app/code/community/Algolia/Algoliasearch/Model/Queue.php#L206). However sometimes it's not possible in order to keep the data 100% synchronised with Algolia. I wouldn't recommend to remove duplicates or not to insert duplicate jobs, because it could hap

[2017-02-02 16:11] #745 closed

[2017-02-02 16:14] JanPetr commented on #741
Oh I see. Nicely fast solution! 👍  However I'm afraid you'll have to rely on the category name to display right banner.
Algolia is based on textual values (names, ...) and not on IDs, so in this case I can't see any other solution now.

[2017-02-02 16:15] JanPetr commented on #737
Hello @hungthanhtran,
sorry for the late answer. To be honest I'm not sure I understand the issue. Would you mind sharing a live website where I could see and investigate the issue?

Thanks!

[2017-02-02 16:15] JanPetr commented on #732
Will be part of the next release

[2017-02-02 16:15] #732 closed

[2017-02-02 17:11] dudusotero commented on #741
Thanks @JanPetr!

I'll keep looking for some way to present the banners.
I was thinking to make clicking on the category, get the name, put it in lowercase and concatenate in some way with the url of the image.
Something like this: "`/media/catalog/category/{{categoryName}}.png`"

Any ideas on how to get this category name?

Thanks for your support!

[2017-02-03 05:01] hyesungs opened #747 "Clean install on Magento2 (Using Ultimo Theme)"
Hi there,

Just installed Algolia on Magento2. Added the credentials and api keys. However the search bar on homepage has gone and cannot be seen.

The only error I can find in the browser console is this below:

![image](https://cloud.githubusercontent.com/assets/25263158/22580083/cca2fca8-ea18-11e6-989f-06e841760f9e.png)

Unfortunately I am not very techy and don't understand what it means. Plea

[2017-02-03 20:16] royduin commented on #739
For the time being I've created a module to fix the bug: https://github.com/just-better/magento1-css-merge-data-uri-fix

[2017-02-03 22:18] LukyVj commented on #739
I can definitely create a workaround for that!

[2017-02-04 14:48] valuehaat commented on #199
Hello @redox ,

Is this facility available to add add to cart button in live search ?

[2017-02-04 14:54] JanPetr commented on #199
Hello @valuehaat,

as today it's possible to add "Add to cart" button to the results on instant search page.
The extension doesn't support the button on autocomplete results and you need to change [product template](https://github.com/algolia/algoliasearch-magento/blob/master/app/design/frontend/base/default/template/algoliasearch/autocomplete/product.phtml) to add "Add to cart" button.

[2017-02-04 14:57] valuehaat commented on #199
And it will not disturb anything. am i right ?

and i have a question also . is this free or premium , my website is valuehaat.com and i am asking for this site.

[2017-02-08 01:20] jlaustill opened #750 "Composer install, search not showing up"
Today I installed this plugin with composer require algolia/algoliasearch-magento and it showed up in the back end no problem.  Added our keys, did the indexing and tried to test it out.  The problem is that when enabled it makes the default search box disappear, but nothing replaced it.  It just made our site have NO search at all.

I'm not allowed to install via magento connect, but I can't find

[2017-02-08 10:46] JanPetr commented on #750
Hello @jlaustill,

I don't think it's installation issue, more probably it's the extension's compatibility with your theme.
Can you navigate to the Algolia settings in Magento and in Advanced tab change the search bar selector to the one of your default search bar?
Then the extension won't try to replace your default search bar, but it'll you the default one and search should work.

[2017-02-08 17:06] jlaustill commented on #750
This was an install issue for sure.  I reverted back to my head commit, and installed with modman and now it is working fine.  This is a pita for me though as I don't have the ability to install modman on my servers.  So When I move from dev to qa and prod I am going to have to manually clone the modman repo's under /.modman/xxxx.  That being said, it is at least working.

[2017-02-08 21:28] Mobecls opened #751 "Google Analytics at algoliaBundle.js"
There is an article - https://community.algolia.com/instantsearch.js/documentation/#analytics-1 - saying that there is an Analytics Widget to algolia. And there is an example of the code. But the code is in  instantsearch.js - which is not used by algolia in magento.

As I understand, magento uses algoliaBundle.js. And current version of that lib doesn't have any Analytics widget.

We can add inst

[2017-02-09 08:45] JanPetr commented on #751
Hello @Mobecls,

yes, this is a plan. We will update algoliaBundle.js so it'll contain the latest version of instantsearch.js with analytics widget.

btw the analytics widget itself doesn't contain GA code. That code needs to be included to website by you.

[2017-02-09 09:34] Mobecls commented on #751
Yes, we understand, Thanks. And do you know, when it will be done?

[2017-02-09 09:53] JanPetr commented on #751
I cannot promise any date, but I'd like to work on it next week.

[2017-02-09 10:43] Mobecls commented on #751
ok, thanks.

[2017-02-09 22:21] Mobecls opened #752 "Unnecessary deletions"
We have reviewed the logs, and it seems, that 50% of our operations - are Delete operations in Indexes. And huge amount of Deletions is coming from the products, that were never added to algolia.

`2017-02-09T09:47:16+00:00 DEBUG (7): >>>>> BEGIN REMOVE FROM ALGOLIA
2017-02-09T09:47:20+00:00 DEBUG (7): Product IDs: 80107
2017-02-09T09:47:20+00:00 DEBUG (7): <<<<< END REMOVE FROM ALGOLIA (3.8532199

[2017-02-10 14:00] JanPetr commented on #752
Hello @Mobecls,

That's true that in some cases it's inefficient and to be honest, it's on purpose. But not because of price or higher plans, that's definitely not the reason!

The reason is that the extension tries to always keep the data in sync with Algolia. This delete/update operations make sure that the data which should(n't) be in Algolia are correctly removed or added. So there are delete

[2017-02-10 14:00] #752 closed

[2017-02-11 07:45] Mobecls commented on #752
Hi JanPetr,

this is the problem. We have Queue enabled and we don't use full reindex.
We have queue indexer for set to be reindexed each 2 minutes. All other algolia indexers are set to "updated on save". And we udpated magento indexers twice a day.

At your documentation you are saying:

It means, that you are not supposed to index products, that are not visible. And all our simple products, tha

[2017-02-13 16:37] robmorgan commented on #717
I'm in the same boat as @Inwerpsel. A ~600K bundle on an ecommerce site isn't going to win me any brownie points. I'm going to have a play with https://github.com/algolia/algoliasearch-extensions-bundle. @Inwerpsel did you have any luck?

[2017-02-13 18:50] Inwerpsel commented on #717
Hi @rayrutjes and @robmorgan ,

I've been working on other things over the last month but will probably have a go at slicing away some js sometime in the next couple of weeks. I'll let you know how it goes.

[2017-02-14 13:47] robmorgan commented on #717
@Inwerpsel I might have a play as well.

[2017-02-15 11:26] Mobecls opened #755 "Why do we need category index"
Hello @JanPetr,

could you, please, tell me, why do we need to reindex categories of the product on each product change via admin area (when a product is changed, it's categories are getting reindexed"? And why do we need categories at all?

As I understand, facets are getting categories from product information (as all products have a list of categories it is included in). In the code there is a

[2017-02-15 12:31] JanPetr commented on #755
Hello @Mobecls,

the categories index is for autocomplete menu, where you can search even for categories.

The change of the operation when the product is saved is there because the product might not be active anymore (you could save it's visibility, delete, ...) so we need to reindex the category to make sure the category still contains products and should be searchable in autocomplete menu.

[2017-02-15 13:03] Mobecls commented on #755
@JanPetr i see, thanks.

So if we don't use categories in search autocomplete - we may comment it in the code?

[2017-02-15 13:23] JanPetr commented on #755
Yes, you can comment it in a code.

Since a new version (1.8.0) it's possible to turn off categories from autocomplete by setting "0" to a number of categories in Algolia configuration in Magento. But the extension would still index categories. It'd be nice if you could send a pull request which fixes it.

[2017-02-17 15:15] JanPetr commented on #737
As I don't have any feedback, I'm closing the issue. Feel free to reopen @hungthanhtran.

[2017-02-17 15:15] #737 closed

[2017-02-17 15:16] JanPetr commented on #744
Hello @Mobecls, we didn't manage to reproduce the issue. Isn't it related only to your phone / website?

[2017-02-17 15:16] #744 closed

[2017-02-17 15:17] JanPetr commented on #751
It's been implemented in #754, will be part of the next release.

[2017-02-17 15:17] #751 closed

[2017-02-20 12:35] #755 closed

[2017-02-20 12:36] JanPetr commented on #747
Hello @hyesungs,

I'm super sorry for the late answer.
We introduced fix for our Magento 2 extension to work with Ultimo theme. Feel free to update the extension via composer to `dev-master` and change your search box selector to `#search`. That'll do the trick.

[2017-02-20 12:36] #747 closed

[2017-02-20 12:41] JanPetr commented on #741
Hello @dudusotero,

I'm super sorry for the late answer.
How about rendering those banners in `render` event of the instant search and do something like that?

[code]

[2017-02-20 12:42] JanPetr commented on #750
Thanks for the explanation @jlaustill,
I will investigate and come back to you.

[2017-02-20 13:29] Mobecls commented on #755
Hello @JanPetr JanPetr,

we have done our fix as a standalone extension and we won't be able to make a pull request, but we will write how did we do that and what exactly, so that it would be easier for you to implement.

[2017-02-20 13:56] JanPetr opened #762 "Create debug / support script"
The script dumps all config values and other debug-related data to a single log file, which can be sent to Algolia support in terms of issues with the extension.

[2017-02-20 13:59] JanPetr opened #763 "Implement a possibility to send "extra" Algolia settings to Algolia from Magento dashboard"
Add configuration textarea for each index type (products, categories, pages, ...) which will accept a JSON which can contain extra Algolia settings (like `exactOnSingleWordQuery`).
Those settings will be send to Algolia in separate `setSettings` request to make it easier to debug.

The reason is to give our users possibility to easily set settings which can be set only programatically.

[2017-02-20 22:31] Mobecls commented on #744
That's what happens - https://drive.google.com/open?id=0B1cCPhTwji9KUGNUajJzZFg4d1k

[2017-02-21 08:46] JanPetr commented on #744
I don't have permission to access it @Mobecls

[2017-02-21 10:33] aude opened #764 "Resume killed indexing process"
Some times, when there is a lot of products or some huge CMS pages, the indexing process can be killed.

Here is an example error message:

    PHP Fatal error:  Allowed memory size of 805306368 bytes exhausted (tried to allocate 28672 bytes) in .../lib/Varien/Image/Adapter/Gd2.php on line 74

Next time the indexing is run, it should resume where it left off. That is not happening now, the indexer

[2017-02-21 10:47] JanPetr commented on #764
Hello @aude,

thanks for the report.
The issue should be fixed by #726, where the queue catches exceptions and applies retry strategy on failed jobs. So if the the job fails, it'll be processed again.

[2017-02-21 19:17] jlaustill opened #766 "Category pages not updating"
Hello,

We went live with the Magento Algolia plugin this week, and the search is working fantastic.  However the plugin seems to be causing our magento categories to not rebuild.  We have the settings to replace the search page, but NOT the category pages.

[North40 sale example](https://north40.com/sale16)

This page is an example, this is a direct category but non of the products are getting ad

[2017-02-21 23:02] dmytro-butko opened #767 "Magento Infinite Scroll"
https://community.algolia.com/demo-infinite-scroll/

hi there,

  This is mostly a question, sorry if it is not a right place for it...
  But is it possible to enable infinite scroll in Magento extension?
  And if not, are there any plans for this functionality?

thanks in advance,

[2017-02-21 23:33] vvo commented on #766
Hi @jlaustill right now I can only recommend you double checking your installation follows our documentation and indexing sections: https://community.algolia.com/magento/doc/m1/indexing/.

As soon as @JanPetr is available he will be able to better help you out.

Let us know how it goes.

[2017-02-22 02:28] wdhrudra opened #768 "Re-indexing Search Categories & Search Pages showing "Error : 404" in Magento"
Hi,

I am using Magento 1.9.3.2 and i installed Algolia Search. However, while i was trying to re-indexing, "Algolia Search Category" and "Algolia Search Pages" showing me 'Error : 404'.

Is this a bug? or my Magento version issue?

How can I fix this issue?

Thanks,

[2017-02-22 09:04] JanPetr commented on #766
Hello @jlaustill,

thanks for the report.
From what I can see on your store, your config is correct. I tried various categories and all are loaded via Magento. Algolia doesn't play any role there and products are fetched directly from Magento.

But I couldn't find the category "Sale" in your menu. Is the category supposed to be included in menu? If not, that's the reason why the category is not as

[2017-02-22 09:07] JanPetr commented on #767
Hello @dmytro-butko,

the extension doesn't support infinite scroll out of the box. We plan to add it (#556), but don't have any ETA for this feature so far.

What you can do is to implement it on your own by modifying [instantsearch.js file](https://github.com/algolia/algoliasearch-magento/blob/master/js/algoliasearch/instantsearch.js) and replace the `hits` widget by the widget from the [Infinit

[2017-02-22 09:07] #767 closed

[2017-02-22 09:09] JanPetr commented on #768
Hello @wdhrudra,

no, the extension is compatible with 1.9.3.2 version of Magento.
Can you see any error message besides "404"? Can you check your error logs in Magento is there is any Algolia-related error logged?

[2017-02-22 12:21] royduin opened #769 "Reindex all is running the Algolia index twice"
We've got a custom product import running which performs a reindex all at the end. Because Algolia also performs a reindex on the `catalogsearch_fulltext` index everything is running twice.

Related issue: https://github.com/algolia/algoliasearch-magento/issues/687

[2017-02-22 15:29] jlaustill commented on #766
I don't think I explained very well :)  The sales are loading to our algolia indexes just fine, and show up in the search properly.

What is breaking is the "normal" standard magento category pages.  I think we've made the decision that we are just going to have to turn alogolia off :(

[2017-02-22 16:06] JanPetr commented on #766
Hey @jlaustill,
when you have "Replace categories" disabled Algolia doesn't have any impact on the category pages. It's Magento loading those products there without Algolia.
I cannot explain why the products are not showing up there with Algolia enabled :-/

[2017-02-22 18:29] Mobecls commented on #744
sorry, here is the new link: https://drive.google.com/file/d/0B1cCPhTwji9KUGNUajJzZFg4d1k/view?usp=sharing

[2017-02-23 01:25] jlaustill commented on #766
Here's an update.  We have been unable to duplicate this issue on a local install running only nginx, MySQL, redis, and php-fpm.

The server we are having this issue on uses nginx reverse proxied to apache which then uses php 5.5.  This is a much more complicated setup than the purely nginx setup.  So we are starting to suspect that this is an issue related to either the setup or the older version

[2017-02-23 04:14] hungthanhtran commented on #737
Thanks mate.

2017-02-17 22:15 GMT+07:00 Jan Petr <notifications@github.com>:

[2017-02-23 10:20] JanPetr commented on #766
Thanks for the update @jlaustill, I'll be looking forward to more information from you.

[2017-02-23 22:06] jlaustill opened #771 "missing clearfix class"
`<div class="clearfix"></div>`

This snippet appears in the wrapper.phtml file, but I don't see it defined anywhere in the algoliasearch.css file.  I'm assuming this is to cover the height of the floated elements above it, and it is probably a dependency on bootstrap?  Our site, however, doesn't contain bootstrap at all, so it's not formatting perfectly.

I'd recommend(assuming I'm correct and not

[2017-02-23 23:22] jlaustill commented on #766
Another update, we have determined that if we enable the instant search page AND the replace category pages options, everything seems to work fine, fingers crossed.  So we are hopefully going to go live with that setup with a bit more testing.  So to recap,

instant search off, category pages off = no issue
instant search on, category pages off = issue
instant search on, category pages on = no iss

[2017-02-24 08:22] JanPetr commented on #766
Thank you for the detailed info @jlaustill 💯

It's really not expected as the extension doesn't run any special PHP code on category pages. There is not even any backend query sent Algolia. When you have enabled "Replace category pages", it's only front end's JavaScript which re-renders the page when it's loaded in a browser.

I'll close the issue now, but I'm really interested in your further inv

[2017-02-24 08:22] #766 closed

[2017-02-24 08:40] JanPetr commented on #771
Great catch @jlaustill,
I made a fix in #772. Feel free to give it a try.

[2017-02-24 13:35] jlaustill commented on #771
Wow, that was fast!  I actually did basically the exact same thing and copy and pasted the bootstrap classes into our custom AlgloliaSearch.less file and it made everything work great.  Your fix is exactly the same thing almost, so I'll test it on my next sprint for sure!

In the meantime, I see the pull request so I think you can go ahead and close then when you see fit.  Thanks!

[2017-02-24 13:39] jlaustill commented on #766
I think closing is appropriate.  I have found so many other issues in debugging this I can't even remotely say I think this is an issue with your code anymore.

[2017-02-24 15:44] JanPetr commented on #771
Thanks for the feedback. PR was merged, I'm closing the issue. The fix will be part of the next release

[2017-02-24 15:44] #771 closed

[2017-02-27 08:47] Mobecls opened #773 "Is there an option to set different default sorting for Catalog and SERP?"
Hello @JanPetr

is there a way we could set different sorting for Catalog and Search Results page (in admin area or via code)?

[2017-02-27 09:49] aude opened #774 "Unable to edit query at search results page"
When at the search results page, editing the search query is buggy. It seems the cursor is moved to the end of the input field at each key press.

## How to reproduce

1. Go to https://magento.algolia.com/catalogsearch/result/?q=shirt.
2. Click the search field.
3. Go to the start of the field, with your mouse or _Home_ button.
4. Try to write a word.

[2017-02-27 10:00] JanPetr commented on #774
Hello @aude,

indeed. Thank you for the report. We will address it soon.

[2017-02-27 10:03] JanPetr commented on #773
Hello @Mobecls,

you can do it by creating other Algolia replice indices with custom sorting strategies and then during the search you can target the index with your custom sorting strategy.
More information about different sorting strategies here: https://www.algolia.com/doc/guides/relevance/sorting/#guides

You can define replica indices directly via Algolia configuration in Magento:
![screensho

[2017-02-27 11:26] imso077 opened #776 "Multistore & multicurrency ranking Price issue"
If we have a a multistore setup, and each store have different base currency is used on the sorting (When price is a sorting attribute) is simply wrong, as it just get the allowed currency code, not the base currency code for that particular store. (It could use a currency code what is not even indexed, and thats stops the sorting function working.)

You can solve this by changing these: then on s

[2017-02-27 12:40] JanPetr commented on #776
Hello @imso077,

thanks for the report, great catch!
Would you be able to send a PR with the fix? I'd really appreciate, thank you.

[2017-02-27 12:44] imso077 commented on #776
Sure, I can. Will send it later today.

[2017-02-27 12:45] JanPetr commented on #776
Thanks, I'm looking forward

[2017-02-27 13:59] JanPetr commented on #769
Hello @royduin,

I just tested to reindex with `$ php shell/indexer.php -- -reindex catalogsearch_fulltext` and the reindex was triggered only once.

Can you provide me with more information like version of the extension, version of the Magento and steps how to reproduce? Thank you!

[2017-02-27 14:04] royduin commented on #769
That's true, but when you run reindex all with `php shell/indexer.php --reindexall` it's reindexing twice because `catalogsearch_fulltext` and `algolia_search_indexer` are running the same.

[2017-02-27 18:03] JanPetr commented on #774
So I investigated and realized it's instantsearch.js issue. Reported here: https://github.com/algolia/instantsearch.js/issues/2012

[2017-02-28 09:39] #773 closed

[2017-02-28 09:50] imso077 commented on #776
Sorry @JanPetr  looks like I don't have permission to create Pull requests, or push?

[2017-02-28 09:52] JanPetr commented on #776
Yes, you don't. You need to [fork the repository](https://help.github.com/articles/working-with-forks/), push the change to your forked repository and [create a pull request from there](https://help.github.com/articles/creating-a-pull-request-from-a-fork/).

Would that work for you?

[2017-02-28 10:16] imso077 commented on #776
Ok, done it now.

[2017-02-28 10:35] JanPetr commented on #769
Thanks @royduin for that.

I investigated a bit and realized the extension actually already overrides the `catalogsearch_fulltext` indexer. Not the indexer itself, but [the resource model behind it](https://github.com/algolia/algoliasearch-magento/blob/master/app/code/community/Algolia/Algoliasearch/Model/Resource/Fulltext.php).

When you take a look, the original indexer "just" matches events and

[2017-02-28 10:36] JanPetr commented on #769
So we don't have to rewrite the indexer, and use only the rewritten resource model which is already present.

[2017-02-28 11:17] royduin commented on #769
Maybe it's easier to remove the `algolia_search_indexer` index because `catalogsearch_fulltext` is doing the same?

[2017-02-28 16:12] JanPetr commented on #774
It's been merged to `develop` branch and will be a part of the next release. Closing the issue now.

[2017-02-28 16:12] #774 closed

[2017-03-01 12:47] Mobecls commented on #773
Hi @JanPetr

not sure what do you mean by - create other Algolia Replice indices...
In admin area we do have several attributes to sort: http://i.imgur.com/3EdNVFN.jpg

And then - do you mean, that we have to create new index for Search Results Page and somehow use there another Attribute as default for sorting?

[2017-03-01 17:38] jlaustill opened #780 "Categories not being removed after deleting"
We seem to be having an issue whereby categories aren't being removed from the index when we remove them.  If you go to www.north40.com and search for real ranching sale you will see a category on the left with 330 products.  When you click it, it takes you to the instant search page and displays zero products, which is correct because we deleted this category.  It doesn't even exist in the backen

[2017-03-01 17:42] JanPetr commented on #780
Hello @jlaustill,

thanks for the report, I can reproduce on your website.
Can I ask you how did you remove the category? You went to a category administration and just deleted it?
I'm asking because I need to understand your workflow as there are maybe some use-cases which we missed in the extension.

Thank you for your help.

[2017-03-01 20:49] jlaustill commented on #780
My ecom manager sent me this response "So maybe you can re-word your question...we don't delete the categories, we change them...like change the products or the name of the category"

So essentially it seems like when we rename a category or change the products assigned they aren't updating.  We use these for temporary sales, that may or may not be the Magento standard?

[2017-03-02 18:05] Mobecls commented on #755
We have redefined (rewrited) method getProductsRecords () in Algolia_Algoliasearch_Helper_Data class:
we added deleting (unset) of results from the array  (return array) products in the end of code. These products have been sent to the server and after that the product's data in the request have not changed.

[2017-03-06 15:54] JanPetr opened #781 "Clearing IS search input doesn't refresh the page and URL"
When only IS is enabled, clicking on the cross in the search input clear the query but should even clear the IS page and reset the URL.

[2017-03-07 06:49] tintutech commented on #781
Hi,

Use the following code

var search = instantsearch(/* ... */);

// bind any event with jQuery then call:
search.helper.setQuery('').search();
This should clear the query and refresh results. Thanks.

Credit to @vvo

[2017-03-07 22:08] Mobecls opened #782 "Can't access to the Sorted Category via direct url."
Hello @JanPetr

we have created couple of banners at home page and trying to link them to a category page sorted by a newest products.

But we have problems with that. Whenever we visit the page using that url:

websiteurl.com/golf-clubs#q=&idx=stagingmobecls_default_products_created_at_desc&p=0&hFR%5Bcategories.level0%5D%5B0%5D=Golf%20Clubs&is_v=1

it ignores category and shows completely differe

[2017-03-08 09:56] JanPetr commented on #782
Hello,

thanks for the report @Mobecls, I managed to reproduce the issue.
I'll investigate and let you know.

[2017-03-08 11:43] JanPetr commented on #782
Hello @Mobecls,
fix is in #783, feel free to give it a try! 👍

[2017-03-08 17:36] JanPetr commented on #781
Hey @tintutech,
thanks for the advice. I handled it a bit differently, but in the end it works the same - see #784

The only issue is that it's not possible to "clear" URL, but results are cleared OK.

[2017-03-09 15:37] Mobecls commented on #782
Problem still exist. Fix didn't help.
It is still ignores category and shows completely different products.

We found one more thing. May be it help.
If we use filters to get some results, and then try open this results by url we have next situation:
this url show wrong results
websiteurl.com/golf-clubs#q=&idx=stagingmobecls_default_products&p=0&hFR%5Bcategories.level0%5D%5B0%5D=Brands%20%2F%2F%2F

[2017-03-09 16:51] julienbourdeau commented on #539
Hi @VincentMarmiesse and @davids101,

I started looking into it. Without the extension, I don't think Magento has this feature natively. I played around with attributes, attributes sets and category configuration but I couldn't change the facets displayed on a category page. Did I miss something?

[2017-03-09 16:59] VincentMarmiesse commented on #539
Hi @julienbourdeau,

Indeed, it's not a native feature of Magento.

[2017-03-10 13:01] Mobecls commented on #782
@JanPetr sorry to misguide you, but to be exact - sorting works fine, but when you are trying to visit directly url with Filtered products - that is what's not working. But sorting works fine

[2017-03-10 13:02] Mobecls opened #785 "Why old magento code is in source of the page?"
Hi, i have noticed, that old magento code is still in the source-code of the page.
Is this done specifically in order to let Search Bots see all the urls and the page?

[2017-03-10 15:14] JanPetr commented on #782
Hello @Mobecls,

I'm not able to reproduce. Would you mind sharing with me a live website where I could investigate? Thanks!

[2017-03-10 15:25] JanPetr commented on #785
What you mean by "old" Magento code? The code generated by Magento on the backend with products etc.?
Yes, this is on purpose so search engines can see products, links, the whole page ...

[2017-03-10 15:36] JanPetr commented on #781
Will be part of the next release

[2017-03-10 15:36] #781 closed

[2017-03-10 15:38] JanPetr commented on #768
Hello @wdhrudra,

since I didn't hear from you back, I'm closing the issue. If you still have issues, feel free to reopen it.

[2017-03-10 15:38] #768 closed

[2017-03-10 15:39] JanPetr commented on #769
I wouldn't go that way because of backward compatibility and it gives us possibilities to edit the index as we need.

[2017-03-10 16:51] #785 closed

[2017-03-10 16:52] JanPetr commented on #741
I'm closing the issue now as it's stale for a while. Feel free to reopen.

[2017-03-10 16:52] #741 closed

[2017-03-10 17:06] JanPetr commented on #631
will be part of the next release

[2017-03-10 17:06] #631 closed

[2017-03-10 17:06] JanPetr opened #786 "Write documentation for JS custom events / hooks"

[2017-03-10 17:07] JanPetr commented on #687
Closing the issue - duplicate to #769

[2017-03-10 17:07] #687 closed

[2017-03-13 18:57] Mobecls opened #787 "You cannot define a correlation name 'at_stock_qty' more than once"
@JanPetr hi,

we have updated algolia and stareted receiving error in logs. The queue sends 100 products, but only 10-20 are getting reindexed and we get such error:

2017-03-13T18:44:23+00:00 DEBUG (7): Queue processing  [KO]: Mage::getSingleton(algoliasearch/observer)->rebuildProductIndex({"store_id":"1","product_ids":["5924","5925","5926","5944","5946","5947","5948","5949","5950","5951","5952",

[2017-03-13 19:49] Mobecls commented on #787
It seems that these steps can reproduce the issue:

1. set Max number of element per indexing job = 120
2. wait till you get in queue severla id's with 120 products
3. set Max number of element per indexing job = 50

And you'll get an error. Seems like because of that rebuildStoreProductIndexPage() being called recursevily.

[2017-03-14 10:52] Mobecls opened #788 "Product listing description disappeared"
@JanPetr after our latest update - non of our categories have description.

Though, in sourcecode we can see that magento's part has that block... Why could that happen?

[2017-03-14 11:00] Mobecls commented on #788
it affects our seo, so this is kind of importaint issue

[2017-03-14 11:14] Mobecls commented on #744
@JanPetr  do you have access now?

[2017-03-14 11:24] Mobecls commented on #782
Here is how can you reproduce it:
1. open a subcategory
2. filter out products via category (3rd level)
3. sort out files via the price
4. copy url, insert it to other browser and compare the products and their order.

They do have Lowest price selected, but the products are different.

[2017-03-15 05:26] Mobecls commented on #788
@JanPetr we have tried to make a dirty-fix and get the catalog description via script, but in that case Instant-Search on CMS pages stop working...

[2017-03-15 09:50] JanPetr commented on #788
Hello @Mobecls,
there shouldn't be any changes to instant search script which would end up in not-displaying the description.
Do you have live website where I could see the issue live?

[2017-03-15 12:21] JanPetr commented on #782
Hello @Mobecls,
thanks for the steps. I did it, but it still works with the fix from #783, can you make sure that you have correctly implemented the fix and that you have latest adminBundle.js?

[2017-03-15 13:17] Mobecls commented on #788
Hello @JanPetr it seems, that this issue was connected to our template, we also deployed some fixes and it changed template, based on some settings in admin area.

[2017-03-15 13:17] #788 closed

[2017-03-15 13:18] Mobecls commented on #785
@JanPetr and is it possible to delete Layered Navigation from the source code? We don't want Google to index it, so we would like to delete it, also to save some page load timing.

But would it lead to any issues with algolia?

[2017-03-15 13:28] JanPetr commented on #785
No, when you delete it it shouldn't lead to any issue with Algolia.
But you'll have to delete / remove it from your code, I don't know what renders the layered navigation there.

[2017-03-15 13:30] JanPetr commented on #788
OK, thanks for letting me know 👍

[2017-03-15 18:18] shbrown100 opened #791 "Cannot add items to cart!"
Hi,
I have just installed your extension and currently testing it on our live sites. We have 2 stores, one for USA (.com) and one for Canada (.ca). We have a strange issue. When we search items on the Canadian site and click on the products found in the search box, everything is fine. If we do the same on the USA site the product URL includes a ?SID****** variable at the end of the URL. This then

[2017-03-24 07:27] aschrammel opened #799 "Error on loading instant search page"
Hi everyone,

I'm facing the problem, when hitting enter in the autocomplete search **as long as there are any suggestions**, I receive an JS error on loading the instant search results page.
At the moment the autocomplete search returns that there are no results found, the instant search results load correctly and I'm also able to refine the search/perform a search on other terms in the searchbox

[2017-03-24 17:01] michaelscheel commented on #780
The extension currently only re-indexes the category index and does not update the related products when renaming a category. We had the same issue and solved it. I could create a PR if that is an intended functionality.

[2017-03-25 11:37] Mobecls opened #800 "How disable Algolia for store or website?"
Hello!

We manage several websites by magento. And for one of them we want to use default magento search. For that we disabled Algolia in admin panel for website. But default magento search not working. If we completly disable Algolia, default magento search start working. It seems like default search somewhere blocked by Algolia.

How we can solve this problem?  (we use Algolia 1.8.1 now)

[2017-03-27 02:42] dmytro-butko opened #801 "css abs path"
app/code/community/Algolia/Algoliasearch/etc/system.xml

lines:
[code]
should be
[code]

[2017-03-27 07:58] julienbourdeau commented on #801
Hi @dmytro-butko,

Can you describe the problem you are trying to fix? You don't get the logo displayed?

On my store, I only get it with `/` so can you give us more details about your configuration and which error you get if you look at the _network_ tab of your dev tools?

[2017-03-27 09:26] julienbourdeau commented on #801
Is the error you're talking about is related to https://github.com/algolia/algoliasearch-magento/issues/739 ?

If it's not, please let me know and I will reopen this issue. :)

[2017-03-27 09:26] #801 closed

[2017-03-29 01:33] wdhrudra opened #802 "how to use this with a custom theme ?"
Hi,

The Algolia search is working perfectly with Magento RWD and RWD child themes. But my webstore is using Meigee "Universal" theme. And now Algolia Search is not working in my case.

**Setup taken action in my case** :
**1**. the theme have the search input class name "form-control". I changed the Algolia "Search input DOM Selector" to ".form-control"

**Issues :**
**1**. Algolia Search output

[2017-03-29 13:13] alaabadran opened #804 "Facets Refine by Changing the URL"
I wonder if there is a URL schema that i can follow to build filtering URLs using product attributes.
For example:
**Women products**
`Gender = women `
**Women Products with Color pink**
`Gender = women & color = pink`
**Women Products with Attribute2 val2**
`Gender = women & attribute2 = val2`
Can anyone explain how to quickly build URLs from attributes?
Thanks

[2017-04-06 15:56] greatwitenorth commented on #705
I'm still seeing this issue running algolia 1.9.0 and Magento 1.9.3.1. The only way I can get algolia to show it's results on the search page is if I enable "Instant Search Results Page". But I don't want the instant results page. I just want my standard results page being populated by products returned by Algolia.

[2017-04-08 01:43] hungthanhtran opened #809 "How to add optionalWords "a, for, and" for all search requests"
In Magento Algolia extension, is that exists a way that I can add those optionalWords? Can you tell me how to do that? Thank so much.

[2017-04-12 08:40] JanPetr commented on #799
Hello @aschrammel,
very sorry for the late answer. I completely missed the issue.
Would it be possible to give me an access to a live website where I could experience the issue?

It looks like the `algoliasearch-magento/app/design/frontend/base/default/template/algoliasearch/instantsearch/wrapper.phtml` template is not loaded to the page, but it should be always present. No matter if you get any r

[2017-04-14 10:05] Mobecls commented on #800
Can somebody help with this problem?

[2017-04-14 12:45] julienbourdeau commented on #800
Hi @Mobecls,

Can you upgrade the the latest version? I believe this pull request fixed the issue: https://github.com/algolia/algoliasearch-magento/pull/793

[2017-04-18 03:34] ProxiBlue opened #810 "Incomplete composer,json, discrepency in package name to install"
Hi,

Your magento 1 module has composer.json which gives the package name as:
```algolia/algoliasearch-magento```
but, this does not actually exist in ```https://packages.firegento.com```
which will result in a composer error:

[code]

Checking ```https://packages.firegento.com``` there is one as per magento connect :

https://packages.firegento.com/#!/algolia

thus using ```connect20/algoliasearc

[2017-04-18 04:33] ProxiBlue commented on #810
This issue seems localized to some environments.

On another box, composer install using 'algolia/algoliasearch-magento' worked 100%, using same package repositories.

Not entirely sure on cause, but seems to be our side.

Closing this ticket.

[2017-04-18 04:33] #810 closed

[2017-04-18 09:30] aschrammel commented on #799
Hello @JanPetr,
thanks for your reply.
Unfortunately at the moment there's no live website I can show you.

The template is present in the `app/design/frontend/base/default/template/algoliasearch/instantsearch/` folder as it should.
Do you have any idea what the reason could be, that it isn't loaded, as long as I get any result from Algolia?
This behaviour occurs every time a search URL is loaded

[2017-04-19 07:51] eddyparkinson commented on #238
I have the same issue but with shopify and alogolia.
Any ideas?

**shopify  image**
 I want to use this image

`{{ product.images[0].src }}`

but algolia is using
`{{ product.images[1].src }}`

e.g.
in  algolia_instant_search_product.hogan.liquid

`  <div class="ais-hit--picture" style="background-image: url('[[# helpers.mediumImage ]][[/ helpers.mediumImage ]]')"></div>`

`helpers.mediumImage ` r

[2017-04-19 08:12] Jerskouille commented on #238
Hi Eddy, could you post your question here : https://discourse.algolia.com/shopify/ ? :)

[2017-04-19 18:53] hyesungs commented on #747
Is the search selector in here?

-----------------------------------------------------------------------------

<?php
// @codingStandardsIgnoreFile
?>
<?php
/** @var $block \Magento\Framework\View\Element\Template */
/** @var $helper \Magento\Search\Helper\Data */
$helper = $this->helper('Magento\Search\Helper\Data');
?>
<div id="header-search" class="skip-content skip-content--style">
    <div cl

[2017-04-20 07:20] JanPetr commented on #747
Yes, it is. It's `#search`

[2017-04-20 08:34] annapivniak opened #811 "The deleted product still appears in the Algolia index"
After the product is deleted in Magento its Algolia index is never updated. It stays in Algolia until it is deleted manually.

Thank you for your support.

[2017-04-20 08:40] JanPetr commented on #811
Hello @annapivniak,

what version of the extension do you use?
Do you have enabled the indexing queue?

[2017-04-20 08:48] annapivniak commented on #811
Hi @JanPetr
Thank you for the immediate answer.
We use the Algolia Search 1.8.1, and I`ve just noticed that the 1.9.0 is released. Is it fixed there?
I was testing it with the indexing queue and without. Started full Magento reindex several times. The deleted products are always shown in the search.

Is there anything else I can try?

[2017-04-20 08:51] JanPetr commented on #811
There shouldn't be any change regarding indexing deleted products between 1.8.1 and 1.9.0 - it works OK in 1.8.1.
Can you try to enable indexing queue, reindex products and let the queue runner to process all the queue?
With this approach, all "active" products will be indexed into a temporary index and when it's finished, the temporary index is moved to production by trashing old production index

[2017-04-20 09:11] annapivniak opened #812 "The magnifier icon for the search field disappears with the Merge Css Files setting"
STR:
Go to System=>Configuration=>Advanced=>Developer. Select Css Settings. Set Merge Css Files to Yes.

With this setting enabled the icon disappears. The URL for the magnifier is broken.

[2017-04-20 12:49] JanPetr commented on #812
Hello @annapivniak,

thanks for report. It's duplicate issue to #739, so I'm closing this one.
If I missed something, feel free to reopen.

[2017-04-20 12:49] #812 closed

[2017-04-27 14:06] trosyno opened #813 "Weee is not indexed"
Hello,

Weee is not added to the price when products are indexed. Is there a fix for that?

Thank you

[2017-04-28 10:19] Inwerpsel commented on #513
Hi,

Commenting out the lines (which are now at [)](https://github.com/algolia/algoliasearch-magento/blob/master/js/algoliasearch/instantsearch.js#278-305) is no solution: it doesn't work because category facets are only in search results with keys for each level. The is no "attributes" facet in the results, only "attributes.level0", "attributes.level1", ... Even if you rewrite the code to make it

[2017-04-29 21:09] Mobecls opened #814 "Product indexes are not transferring from tmp to main index"
Hi @JanPetr , it happens so that when we do full reindex, all our products are indexed to ...tmp index in algolia, but main index is kept untouched and no products updated...

that started happening after we updated to the latest version couple of days ago.

[2017-05-01 12:39] JanPetr commented on #814
Hello @Mobecls,

can you check `algoliasearch_queue` table and see if the jobs `moveIndex` are correctly processed?

[2017-05-01 15:38] JanPetr commented on #813
Hello @trosyno,
maybe a stupid question, but ... what is "Weeee"? Thanks!

[2017-05-01 15:49] JanPetr commented on #811
Hello @annapivniak,
did you manage to fix your issue?

[2017-05-01 15:51] JanPetr commented on #804
Hello @alaabadran,

the best way to figure it out is to go here https://magento.algolia.com/catalogsearch/result/?q=shirt and try to add some filters. You'll see how the URL changes and you'll be able to find out what to add to the URL for your specific attributes and its values.

[2017-05-01 15:51] #804 closed

[2017-05-01 15:54] JanPetr commented on #809
Hello @hungthanhtran,

you can find documentation of optionalWords here: https://www.algolia.com/doc/api-client/php/parameters/optionalWords/#optionalwords
If you want to set it once (for all search queries), you can do it via Extra settings textarea in the latest version (1.9.0) of the extension.

If you want to specify different optionalWords for each query, you'll have to tweak the frontend of

[2017-05-01 16:01] JanPetr commented on #802
Hello @wdhrudra,

sorry for the late answer.
As you says, the autocomplete works but it's not visible - it's under your theme. What you need to do is to write your custom CSS to override default extension's CSS.
In your custom CSS you can specify/override different properties like `z-index` to make your autocomplete dropdown menu visible and nice.

[2017-05-01 16:01] #802 closed

[2017-05-01 16:04] JanPetr commented on #799
Hello @aschrammel,

can you check that tbe block `before_body_end` is rendered on the page when there are no results? Maybe there's something in Magento preventing that block to render on no results and therefore the template is not rendered correctly.

[2017-05-01 16:05] JanPetr commented on #800
Hello @Mobecls,
did you manage to solve your issue?
I'm closing the issue, feel free to reopen if you still experience problems.

[2017-05-01 16:05] #800 closed

[2017-05-01 16:11] JanPetr commented on #787
Hello @Mobecls,

I tried to reproduce, but I couldn't, everything works OK.
Could you try it with the latest version if you still experience the issue? Let me know.

[2017-05-02 12:04] Mobecls commented on #787
Hello @JanPetr, the exact problem was connected to the cache issues.

As for the reindexing - we are still verifying it. If we still have any issues, I will create separate issue.

[2017-05-02 12:04] #787 closed

[2017-05-02 12:05] Mobecls commented on #814
They are moving, but sometimes we get PID... we didn't find to what it is connected. And it is not only at moveIndex job, but for all jobs in Queue (fullReindex, indexproduct, moveIndex).

We are still investigating it.

[2017-05-02 12:37] rehamwael opened #815 "An error occurred while saving this configuration: Invalid API key"
Hi ,
We are using the extension on production with its own API key .
I have problem with free trial API on my local machine and testing servers
its shows to me invalid API key ? why ?

<img width="1280" alt="screen shot 2017-05-02 at 3 35 41 pm" src="https://cloud.githubusercontent.com/assets/17198176/25617885/208a3786-2f4d-11e7-9621-6aa76fa87ae2.png">

[2017-05-02 12:47] JanPetr commented on #815
Hello @rehamwael,
can you make sure you fill in the right and valid Admin API key and Search API key?
What you mean by "own API key"?

[2017-05-02 12:54] rehamwael commented on #815
yes sure I copy and paste them
actually we have an paid API for production alone .
but for testing I need to sign for free but it shows this error because I don't want to mixing the API's together .

thank you

[2017-05-02 13:27] trosyno commented on #813
Hello,

Weee is "Waste Electrical and Electronic Equipment Directive", a tax in Europe for electronic products. The module that handles it is Mage_Weee

Here's how it works:
![weee1](https://cloud.githubusercontent.com/assets/8102461/25619414/12703300-2f4b-11e7-8e16-5a81355eb80b.jpg)
![weee2](https://cloud.githubusercontent.com/assets/8102461/25619473/4a48f6e0-2f4b-11e7-9a85-fc7edd6e46d4.jpg)
![we

[2017-05-02 14:56] JanPetr commented on #813
Thanks for explanation. I will take a look and see what can be done.

[2017-05-03 04:45] davids101 opened #816 "Including a search on the bottom of the page"
What would be the easiest way to include the search anywhere else on the page? aka having it multiple places

[2017-05-03 14:21] JanPetr commented on #815
It makes sense @rehamwael, but it looks like you're not pasting there a real Admin API key. Can you dive in a code and see if output of [this method](https://github.com/algolia/algoliasearch-magento/blob/master/app/code/community/Algolia/Algoliasearch/Helper/Config.php#L359-L367) is your admin API key?

[2017-05-03 14:21] JanPetr commented on #814
ok, let me know if you'll manage to find out the root cause.

[2017-05-03 14:22] #811 closed

[2017-05-03 14:23] #809 closed

[2017-05-03 14:23] #763 closed

[2017-05-03 14:23] JanPetr commented on #763
Implemented in 1.9.0

[2017-05-03 14:23] JanPetr commented on #762
Implemented in 1.9.0

[2017-05-03 14:24] #762 closed

[2017-05-04 07:59] #714 closed

[2017-05-04 08:01] #297 closed

[2017-05-04 08:05] JanPetr commented on #816
Hello @davids101,

interesting question. How it'd behave? When you have a search bar on the bottom of the page and you start typing there, where would you display the results? Would you jump to the top? Would you move the search bar as well? Would you switch the content to top search bar?

[2017-05-04 08:55] JanPetr commented on #691
Hello @manish172,

since I didn't hear from you for a while and I'm still not able to reproduce the issue, I'm closing this one.
If you still experience the issue, feel free to reopen.

[2017-05-04 08:55] #691 closed

[2017-05-04 09:22] JanPetr commented on #682
Hello @dimitri-koenig and @tomekjordan for your inputs. In the end we decided not to integrate AW_Blog to the extension for the reasons @tomekjordan mentioned. I believe you understand.

[2017-05-04 09:22] #682 closed

[2017-05-04 09:43] JanPetr commented on #780
Hello @jlaustill,
I finally have found time to investigate your issue.

When I rename any category, the change is automatically propagated to Algolia's category index. So when you search in autocomplete menu there should always be the correct name:

<img width="722" alt="screenshot 2017-05-04 11 37 01" src="https://cloud.githubusercontent.com/assets/1058144/25698180/1b4a480c-30be-11e7-8ac6-2b72c82

[2017-05-04 09:43] #780 closed

[2017-05-04 10:11] JanPetr commented on #739
Fixed, will be part of the next release.
Thanks for bringing it up @royduin ❤️  💯

[2017-05-04 10:11] #739 closed

[2017-05-04 10:34] rehamwael commented on #815
thank you @JanPetr The issue was on the API after Algolia upgrade , also I was copied the encrypted Admin API without decryption it .

thanks always for your support 👍 :)

[2017-05-04 10:34] #815 closed

[2017-05-04 11:11] JanPetr commented on #815
It's nice to hear you made it work 🚀
You're welcome, happy searching 💥

[2017-05-04 11:14] JanPetr commented on #776
Will be part of the next release.
Thanks for bringing it up @imso077 💯

[2017-05-04 11:14] #776 closed

[2017-05-04 11:59] JanPetr commented on #750
Hello @jlaustill,
I just checked the Composer installation and the extension was installed correctly.
I tried on multiple Magento versions (1.8, 1.9.2, 1.9.3) and all templates and files were installed correctly.

Do you think it'd be possible for you to have a live website where I could investigate the missing search bar?
Or can you check whether all the frontend templates are installed to correc

[2017-05-04 12:12] JanPetr opened #821 "Redo InstantSearch JS hooks to use one generic configuration object"
**Ideas:**

Harder to implement, easier for developer to make any changes:
[code]

Easier to implement, harder for developer to make a change - requires to remove a widget completely and add it again:
[code]

[2017-05-04 12:32] JanPetr commented on #705
Hello @greatwitenorth,
​
​so I took a look and tried to investigate your issue.
I'm not able to reproduce on my side. When I search, all products are coming back in the right order.
​
​When I took a look on your website, the products fetched from Algolia and displayed on the result page are the same. They are just displayed in a wrong order on the result page.
​Don't you use any other extension wh

[2017-05-04 12:56] davids101 commented on #816
it would be great if you just had a snippet of code where we could place it
anywhere and the search results are confined to a set size box, similar to
what you have on the algolia.com homepage

On Thu, May 4, 2017 at 3:05 AM, Jan Petr <notifications@github.com> wrote:

[2017-05-05 08:47] SergioViteri opened #823 "Reindex fails with many products"
Hello,

When I make a fullstext_search reindex I get this error:
I get Exception: Item (Mage_Catalog_Model_Product) with the same id "10324" already exist in /var/www/shop/lib/Varien/Data/Collection.php:373

The most of the products are well indexed but not all of them. I tried the indexing queue and it works fine but I still don't get all the products indexed.

Any clue?

Thank you,
Sergio.

[2017-05-05 09:22] JanPetr commented on #561
Will be easily doable with new JS hooks to modify the IS page. (#822)
In the end it won't be implemented to the UI.

[2017-05-05 09:22] #561 closed

[2017-05-05 09:23] JanPetr commented on #318
When i'll be implemented to IS, it will be usable via new custom JS hooks to modify IS behavior (#822).

[2017-05-05 09:23] #318 closed

[2017-05-05 09:24] JanPetr commented on #499
When it'll be implemented to IS, it will be usable via new custom JS hooks to modify IS behavior (#822).

[2017-05-05 09:24] #499 closed

[2017-05-05 09:27] JanPetr commented on #821
Implemented in #822, will be part of the next release.

[2017-05-05 09:27] #821 closed

[2017-05-05 10:03] eonlab opened #824 "New products are only indexed if full index is processed"
Hello,

I can' t index new products without running:
EMPTY_QUEUE=1 /usr/bin/php7.1 -f /public_html/shell/indexer.php -- -reindex algolia_queue_runner

All other options, Re-Index on Magento admin or even using a cronjob job, do not work.

I also noticed that the new products show up in the categories but not in magento's search. And yes I have visibility, stock, and display on Catalog and Search s

[2017-05-09 14:00] trosyno commented on #813
Thank you. Our need is quite urgent so we may get to do it before you do. If so, the method we need to alter is handlePrice in Algolia_Algoliasearch_Helper_Entity_Producthelper, right?

[2017-05-09 14:02] JanPetr commented on #813
Hello @trosyno,

yes, you are completely right. If you'll manage to fix it, it'll be awesome if you could send a PR with the fix :) Thanks!

[2017-05-09 15:31] Mobecls opened #825 "Back button doesn't gets user back to the filtered category, but to all products instead"
We have a "_Global Search on Category Page_" setting set to Yes and we have a problem.

if you go to any subcategory: shoes/styles/juniors (https://goo.gl/CFSl0a) , select any filter, like "size = 5" - you will see the filtered by size products. That's correct.

After that try to hit Back button at browser and you will be back to shoes/styles/juniors page, but instead of seeing the products from t

[2017-05-11 09:27] JanPetr opened #826 "Add a new option to not index zero-priced products"

[2017-05-11 15:54] JanPetr commented on #824
Solved via Algolia support

[2017-05-11 15:54] #824 closed

[2017-05-16 12:48] JanPetr commented on #612
Won't be implemented to UI. Will be possible to do programmatically via new JS hook (#822)

[2017-05-16 12:48] #612 closed

[2017-05-16 12:49] JanPetr commented on #705
Hello @greatwitenorth, did you manage to fix the issue? Is everything alright now?

I'm closing the issue, but if the problem persists, feel free to reopen.

[2017-05-16 12:49] #705 closed

[2017-05-16 12:50] JanPetr commented on #799
Hello @aschrammel,
since I didn't hear from you for a while I'm closing the issue.
Feel free to reopen if your problem persists.

[2017-05-16 12:50] #799 closed

[2017-05-16 12:51] JanPetr commented on #814
Hello @Mobecls,
since I didn't hear from you for a while I'm closing the issue.
Feel free to reopen if your problem persists.

[2017-05-16 12:51] #814 closed

[2017-05-16 12:51] JanPetr commented on #813
Implemented in #829, it'll be part of the next release.

[2017-05-16 12:51] #813 closed

[2017-05-16 18:43] greatwitenorth commented on #705
It ended up being an issue with the Amasty sorting plugin. We disabled it and now the search page results are showing correctly.

[2017-05-16 20:39] JanPetr commented on #705
Perfect, thanks for letting me know @greatwitenorth. Happy searching! 💯

[2017-05-17 09:02] Inwerpsel opened #831 "Two queries are executed when visiting category page url without query parameters"
When instantsearch on category pages is enabled then two queries are executed.

Steps to reproduce:
- go to [https://magento.algolia.com/accessories/eyewear.html](https://magento.algolia.com/accessories/eyewear.html)
- open network pane, filter on XHR and refresh
- there are two almost identical requests for the search

This seems to be caused by [https://github.com/algolia/algoliasearch-magento/b

[2017-05-17 09:04] JanPetr commented on #831
Thanks for the report @Inwerpsel, I investigate and come back to you.

[2017-05-17 09:40] Inwerpsel commented on #831
Wouldn't it make more sense to use the url to know if any other category filter is applied instead of executing the search just to know this?

Probably it is possible to set the category parameter after the search object is instantiated with on https://github.com/algolia/algoliasearch-magento/blob/master/js/algoliasearch/instantsearch.js#L66 but before calling search,start().

[2017-05-17 09:52] JanPetr commented on #831
It'd be the best, but it has some unexpected behavior as it won't add category to current refinements and causes confusion for end users.
The second query is there to correctly filter the category and show it in current refinements widget.

[2017-05-17 11:34] Inwerpsel commented on #831
[code]

There is probably a better way to check the url if any other category filters have been applied, but this applies the current category filter before the search is made.

Then, to make the category appear in the current refinements, you can just remove the lines that exclude this facet when on a category page:

[code]

[2017-05-17 14:58] Inwerpsel commented on #831
It appears that those lines I mentioned I had commented out where removed in recent versions of the module and I had added them again myself in the code of the project I'm using the module for at work.

However it was still the only thing I needed to do to have the category appear in the current refinements without having to call the index twice.

[2017-05-18 13:06] #750 closed

[2017-05-21 07:20] alaabadran opened #833 "What are the needed configurations to show facets (filters)?"
Hello,

I have added some facets (from attributes), but i still can't see changes on Front End. Is there any kind of configuration or options to set to show facets?
Please note:
- I have these Attributes working.
- I did multiple re-indexing.
- I see the attributes on Algolia indices, in product information.

Looking forward for an answer, while i am confused about this.
Thank you

[2017-05-22 03:22] webtekindo opened #834 "Indices ordered_qty=0 and stock_qty=0 for configurable products"
Hello,

Our website use 90% of configurable products, and we notice in the product indices that ordered_qty and stock_qty are 0 for all our configurable. Our first attribute for ranking is ordered_qty which make sense but because of that problem we get some weird result like a simple product very low on sale on top of a configurable that we sell 1000s times.

I believe that's a big issue for a lot

[2017-05-22 08:41] 87pancakes opened #835 "Displaying price_with_tax on autocomplete menu"
I can't find an option to show the tax price in the autocomplete menu.

The price_with_tax is being indexed, there's just not an option to show it in the frontend, instead of the price without tax.

[2017-05-22 09:30] JanPetr commented on #835
Hello @87pancakes,

the displayed price is depended on Tax -> Price Display Settings:
![screenshot 2017-05-22 11 29 17](https://cloud.githubusercontent.com/assets/1058144/26301612/00131a1e-3ee2-11e7-98b8-e15b333d1b98.png)

The extension respects the global settings of the store and displays the same price.

[2017-05-22 09:36] JanPetr commented on #834
Hello @webtekindo,

I just checked and I'm not able to reproduce. Which version of Magento do you use?
The extension [gets the `ordered_qty` directly from Product object](https://github.com/algolia/algoliasearch-magento/blob/master/app/code/community/Algolia/Algoliasearch/Helper/Entity/Producthelper.php#L857). Can you dive into a code there and see why it fetches 0 for you?

Thanks!

[2017-05-22 09:37] JanPetr commented on #833
Hello @alaabadran,

you did everything right. Could you share with me a live website where I could see and investigate the issue?

Thanks!

[2017-05-22 09:39] JanPetr commented on #823
Hello @SergioViteri,

I'm sorry for the late answer. I investigated the issue, but I'm not able to reproduce. Everything works OK on my side.
I have just one idea - Can you try to add `$products = $products->distinct(true);` to https://github.com/algolia/algoliasearch-magento/blob/master/app/code/community/Algolia/Algoliasearch/Helper/Entity/Producthelper.php#L154

It should definitely avoid dupli

[2017-05-22 10:19] SergioViteri commented on #823
Hi @JanPetr

thank you for your answer but I'm afraid I keep getting the same error (full stack trace below). Any further ideas?

Sergio.

Catalog Search Index index process unknown error:
Exception: Item (Mage_Catalog_Model_Product) with the same id "10324" already exist in /var/www/shop/lib/Varien/Data/Collection.php:373
Stack trace:
#0 /var/www/shop/app/code/core/Mage/Eav/Model/Entity/Collectio

[2017-05-22 10:28] 87pancakes opened #836 "Error on saving configuration"
I'm receiving the following error when attempting to save the configuration;

`An error occurred while saving this configuration: Invalid ranking parameter: "()", you should use typo,geo,words,filters,proximity,attribute,exact,custom or asc(attribute),desc(attribute) near line:1 column:455`

Also, I'm unable to add additional attributes in the configuration panel; See attached screen shot.

![conf

[2017-05-22 10:58] JanPetr commented on #836
Hello @87pancakes,

thanks for the report. It's very weird, that this is happening. You should have select boxes there.
What version of Magento do you use please?

[2017-05-22 11:01] 87pancakes commented on #835
I have updated these settings but it still isn't reflecting in the algolia frontend unfortunately.

See attached screenshots;

![configuration___system___magento_admin3](https://cloud.githubusercontent.com/assets/11280589/26305222/59c29540-3ee6-11e7-8b16-9c98ad63403c.jpg)
![megaman_14w_cfl_spiral_-_daylight_es_e27](https://cloud.githubusercontent.com/assets/11280589/26305221/59c10b94-3ee6-11e7-948

[2017-05-22 11:04] 87pancakes commented on #836
We're using Magento version 1.8.1.0

[2017-05-22 11:08] JanPetr commented on #835
When you change this settings, you need to reindex products. Can you do that?

[2017-05-22 11:10] 87pancakes commented on #836
I've fixed this. The extensions output was disabled within the Advanced section of Magento.

Thank-you for your help.

[2017-05-22 11:11] #836 closed

[2017-05-22 11:17] JanPetr commented on #836
Thank you for coming back to me!
I'm glad you sorted it out and everything works now 👍

[2017-05-22 12:27] alaabadran commented on #833
I found a way to apply them.
The problem was:
i set facets for specific store view. While i should work on Website level.
Once i set the facets for all, things worked fine as expected

[2017-05-22 12:27] #833 closed

[2017-05-22 12:28] JanPetr commented on #833
👍 I'm happy you made it work. Happy searching!

[2017-05-22 12:36] webtekindo commented on #834
Hi @JanPetr ,

I check the code and the [ordered_qty is set in Helper/Data](https://github.com/algolia/algoliasearch-magento/blob/master/app/code/community/Algolia/Algoliasearch/Helper/Data.php#L521).

I believe the problem is because we use the very popular extension [Simple Configurable Product](https://www.magentocommerce.com/magento-connect/simple-configurable-products.html). The product add t

[2017-05-22 13:18] 87pancakes commented on #835
All fixed thank-you

[2017-05-22 13:18] #835 closed

[2017-05-22 13:24] Inwerpsel commented on #831
In addition to executing two queries the current code has another issue: it doesn't work well with browser history.

To reproduce:
- go to a category page
- select another category filter
- hit back

What you would expect is see that the original category filter is being applied, what actually happens is that no filter is applied.

If the filter is applied before executing the first query then goi

[2017-05-22 13:49] JanPetr commented on #835
No problem :) Happy you made it work! 👍  🚀

[2017-05-23 13:09] 87pancakes opened #837 "Cannot read property 'top' of undefined"
I'm receiving the following error on the homepage of our website;

[code]

On the inside pages, the search is displaying correctly with no errors.

[2017-05-24 09:56] JanPetr commented on #837
Hello @87pancakes,

can you make sure that element with ID `algolia-autocomplete-container` is rendered to your homepage?

[2017-05-29 13:08] JanPetr opened #839 "Products with visibility set to "Catalog" appear on IS result page"

[2017-05-30 14:17] jimbo11883 opened #840 "Uncaught TypeError on search results page"
Uncaught TypeError: Cannot read property 'enabled' of undefined
    at HTMLDocument.<anonymous> (instantsearch.js:423)
    at u (jquery.js:3232)
    at Object.add [as done] (jquery.js:3291)
    at ge.fn.init.ge.fn.ready (jquery.js:3542)
    at ge.fn.init (jquery.js:2967)
    at Object.ge [as $] (jquery.js:75)
    at HTMLDocument.<anonymous> (instantsearch.js:2)

This happens when visiting search r

[2017-05-30 14:26] JanPetr commented on #840
Hello @jimbo11883,

could you share a live website where I can see the issue?
It looks like the configuration.phtml is not rendered correctly to the website.

[2017-05-30 15:27] greatwitenorth opened #841 "Custom product type not being reindexed"
Our system contains a custom product type named 'Brochure'. When I edit a brochure product and click save, Algolia's magento module correctly send the item's information to Algolia's servers and I'm able to search for the product. But if I trigger a full reindex on the command line (php 0f indexer.php reindexall) and wait for the algolia queue to fully empty of jobs, all of my brochure products ar

[2017-05-31 07:13] Inwerpsel opened #842 "Is it possible to add product count to the price ranges widget?"

[2017-05-31 07:16] JanPetr commented on #842
Hello @Inwerpsel,

unfortunately it's not possible right now, this is the Algolia limitation for now.

[2017-05-31 07:16] #842 closed

[2017-05-31 07:51] Inwerpsel commented on #842
Thanks for the quick answer.

Is this a feature that will be added? And, if so, do you know when?

I ask this because I might try a workaround with fixed ranges and then indexing these as attributes on the products.

And just out of curiosity: what is the reason for the limitation?

[2017-06-01 13:34] JanPetr commented on #841
Hello @greatwitenorth,

the logic behind indexing should be the very same for both single product indexing and full reindex.
I'll investigate and come back to you.

[2017-06-01 13:36] JanPetr commented on #837
Hello @87pancakes,

since I didn't hear from you back, I'm closing the issue. If you still experience the issue, feel free to re-open.

[2017-06-01 13:57] JanPetr commented on #823
Hello @SergioViteri,

unfortunately no ideas :( I'm not able to reproduce.
Does it happen when reindexing products with the indexing queue enabled or not?

[2017-06-01 20:47] aliomattux opened #843 "With this extension enabled on Magento 1x, it exponentially increases the time needed to save cataloginventory/stock_item"
On a Magento instance before this extension installed it takes 3.5 minutes to update 1,000 products stock by this method I wrote,

$stockItem = Mage::getModel('cataloginventory/stock_item')->loadByProduct($productId);
$stockItem->addData($data);
$stockItem->save();

With Algolia search extension just installed, this takes more than 10 minutes.

It must be that this extension either forces load of

[2017-06-01 21:23] greatwitenorth commented on #841
ok thanks. I wasn't sure if the issue was being caused by the fact that we have a custom product type.

[2017-06-02 08:03] JanPetr commented on #843
Hello @aliomattux,

the extension listens on event `catalog_product_save_before` which is triggered when you save the item. Each time it's saved the extension reindexes complete product to Algolia which causes the delay.
For you the way to go is to enable the indexing queue so the indexing operation is "only" queued in database and then processed by a queue runner. It should radically decrease the

[2017-06-02 11:27] annapivniak commented on #811
hi @JanPetr
yes, the issue is fixed
Thank you!
Sorry for late answer.

[2017-06-02 13:33] bmartus opened #844 "Grouped Products names?"
I see the associated products in a grouped product in the sku attribute as an array.  Is there any way to include the names of these associated products in the grouped products data, so that when searching for the name of one of the child products, the results will show the grouped product?

[2017-06-02 16:15] aliomattux commented on #843
I saw the observer definition in the config.xml, but i'm confused why that observer would fire when im saving stock item.

In my code, I do not load or save a product, only the stock item. This allows my update to perform very quickly, being able to do thousands of products in a very short time.

[2017-06-05 10:28] SergioViteri commented on #823
It thoughts the error when indexing with queue disabled. With queue enabled I don't see errors but the product in the error (id 10324) is not indexed.

[2017-06-05 18:03] fuxing8 opened #845 "Would you help me?"
Hello,

For example, I have this Magento 1.7 site using Algolia.

I have tried to customize instantsearch.js and custom.js in algolia module.
http://vaegteeksperten.dev.magepartner.net/live/akseltryk-vaegte.html#q=&idx=dev-livedk_products&p=0&is_v=1

Here, as you can see here, there are several facets.
However let's focus to the label is "MAXIMUM".
What I want to do, is the same as following.

Whe

[2017-06-07 09:19] JanPetr commented on #845
Hello @fuxing8,

Your use case requires a little bit of custom coding, but it's definitely doable.
First of all, you will have to modify the records you index in Algolia to index your filter attributes like:

maximum_value: "100g|10",
maximum_pos: 10

It can be done by hooking your code to algolia_after_create_product_object custom event. There you can modify the array of record which is indexed t

[2017-06-07 09:19] #845 closed

[2017-06-07 09:28] JanPetr commented on #844
Hello @bmartus,

the extension doesn't do that out of the box. But it's something you can add to your product records by hooking your code to [algolia_after_create_product_object event](https://github.com/algolia/algoliasearch-magento/blob/master/app/code/community/Algolia/Algoliasearch/Helper/Entity/Producthelper.php#L967) and there add a new attribute with array of names.

Is it doable for you?

[2017-06-07 13:04] bmartus commented on #844
That should be doable.  I didn't even think to look for dispatched events.
I'll reopen if I run into any trouble.
Thanks!

[2017-06-07 13:04] #844 closed

[2017-06-07 13:14] JanPetr commented on #844
You are welcome.
You can find the list of all custom events here: https://community.algolia.com/magento/doc/m1/backend/#custom-events

[2017-06-11 08:54] Mobecls opened #850 "Amp and algolia"
Hi @JanPetr,

Do you have any customers using algolia along with amp?

[2017-06-12 07:58] JanPetr commented on #850
Hello @Mobecls,

not that I'm aware of. Did you give it a try?

[2017-06-12 08:00] Mobecls commented on #850
we will, i'll let you know.

[2017-06-12 08:02] #850 closed

[2017-06-12 08:02] JanPetr commented on #850
Thanks!

[2017-06-14 06:34] nareshphp1 commented on #249
Getting below error when search first time
"Uncaught [Algolia] Invalid instant-search selector: .main" in console and result page show blank

[2017-06-14 07:47] JanPetr commented on #249
Hello @nareshphp1,

that means that Algolia extension is looking for element with class "main", but this element doesn't exist in your theme.
You can change the selector to the existing one in Algolia configuration:
![screenshot 2017-06-14 09 47 10](https://user-images.githubusercontent.com/1058144/27121176-7af89770-50e6-11e7-9b42-cc72f10177c3.png)

[2017-06-14 08:30] nareshphp1 commented on #249
Hi JanPetr
Thanks for your reply!
DOM selector is already " .main "

![configuration_system_magento_admin](https://user-images.githubusercontent.com/14833512/27122806-6d5baecc-5109-11e7-9241-fa11abd63f41.png)

[2017-06-14 08:34] nareshphp1 commented on #249
When click on product page from search result then also show blank page with black background. Error as per screenshot. Error doesn't show everytime

![configuration-zylax](https://user-images.githubusercontent.com/14833512/27122986-07917cec-510a-11e7-8e2f-ea3d4e589ecc.png)

[2017-06-14 08:39] JanPetr commented on #249
Yes it's .main. But the .main element doesn't exist on your page. So you need to change it to an existing one..

[2017-06-14 09:17] nareshphp1 commented on #249
Please check my site zylax.com.au and let me know which dom element I have to use for the algoria search

[2017-06-15 16:33] drant-t commented on #825
Any news on this issue?

[2017-06-16 12:35] JanPetr commented on #825
@Mobecls @drant-t I created a fix for that - #852. Could you give it a try and confirm that it works for you?

[2017-06-16 12:36] JanPetr commented on #831
Thank you for your work on that @Inwerpsel! ❤️  I created a fix  - #852. Could you give it a try and confirm that it works for you? Thanks a lot!

[2017-06-16 12:52] JanPetr commented on #840
Hello @jimbo11883,
since I didn't hear from you, I'm closing the issue. Feel free to reopen if you still experience the issue.

[2017-06-16 12:52] #840 closed

[2017-06-16 12:58] Mobecls commented on #825
We will test it on next week, after extension update.

[2017-06-17 07:31] andrew-smart opened #853 "Hardcoded admin urls in admin_scripts.js"
The hardcoded url on https://github.com/algolia/algoliasearch-magento/blob/master/js/algoliasearch/internals/adminhtml/admin_scripts.js#L37 means you will never see the clear queue button if you don't run under the default /admin url.

Ref: We are using v1.10.0 and Magento v1.9.3.3

[2017-06-18 10:55] JanPetr commented on #853
Thank you for the @andrew-smart,

I'm aware of this issue. I'll deliver the fix soon. I'll keep you posted.

[2017-06-19 09:47] JanPetr commented on #853
Hey @andrew-dwyer,
the fix is in #854, feel free to give it a try. Any feedback appreciated :) Thanks! :)

[2017-06-19 16:12] JanPetr commented on #843
Hello @aliomattux,

I'm very sorry for the late answer.
We need to propagate the stock availability to Algolia in order to provide the best results.

Did you try to enable the queue? Did it help you to increase the performance?

[2017-06-19 16:13] JanPetr commented on #825
Thanks @Mobecls,
I'm looking forward to your feedback.

[2017-06-19 16:15] JanPetr commented on #514
Right now we [have listed a settings](https://community.algolia.com/magento/doc/m1/indexing/#index-settings) which are managed and controlled by the extension.
With explanation that all other settings can be controlled in Algolia dashbord.

[2017-06-19 16:15] #514 closed

[2017-06-20 02:50] akshoysaha opened #855 "Category Replacement is not working"
We are using v1.10 of Algolia extension on Magento 1.9.2.4. We have "Replace Category" set to yes. But when we are on category page we cannot see "selected filter" option - see http://bit.ly/2skBj6O, however the category page shows the correct product.

**Instant search is not working from any category page when "replace category" is enabled.** Start typing on search box returns all products.

Whe

[2017-06-20 08:59] nareshphp1 commented on #249
Hi, Any solution for blank(black) screen.

[2017-06-20 12:46] JanPetr commented on #249
Hello @nareshphp1,

I just checked your website and it works as expected. DId you manage to fix the issue?

[2017-06-26 03:39] dmytro-butko opened #857 "Store View Specific facets do not work"
We have facets (and attributes) defined on default (global) level.
All works great for all the store views.

However we've tried to override facets for some specific store view and all the facets gone from the results page. Switching back to 'default config' works ok.

Is there any specific logic around it? Of course, all the facets we've tried to use on a store view level are indexed/etc.

[2017-06-26 21:05] maaxxicarvalho opened #858 "No prices or images are visible with the autocomplete after 1.10.0 update"
After applying the 1.10.0 I can only see the product name on the autocomplete search results, no prices or images are visible.

[2017-06-27 02:17] alexgran commented on #858
I have this behaviour when I have customer groups enabled. When I disable it, stuff shows up.
Not that this is a usable workaround, but might direct someone to a solution.

[2017-06-27 05:45] JanPetr commented on #858
Hello, this is due to a bug with retrievable attributes. It's fixed in #856, feel free to apply the code.

[2017-06-27 05:45] #858 closed

[2017-06-28 12:49] alexkoepke opened #860 "Extension breaks cataloging even when disabled."
If you install the extension and do not have the Algolia credentials, the extension will break your site/prevent you from cataloging and cannot be disabled via `system > configuration > Advanced > Disable Modules Output > Algolia_Algoliasearch`.

The following is the error given when trying to catalog with the extension "disabled":
![75e5bc47-1a93-44ca-a293-acb93362f54a](https://user-images.github

[2017-06-28 14:01] JanPetr commented on #860
Good catch @alexkoepke,
I will take a look at that and come back to you.

[2017-07-02 10:29] tomekjordan opened #861 "Development mode switcher in admin area"
Please add development switcher right into Algolia configuration tab at magento admin. Sometimes we need to make tweaks to css etc - and searching for development mode in the files is not convenient

thanks

[2017-07-02 10:31] tomekjordan opened #862 "plan exhausted - default Magento searching should work"
HI. right now when Algolia plan is exhausted it stops. no searching is posssible at the store.
but why not to switch back automatically to default Magento search feature.

thanks

[2017-07-03 00:50] maximbaibakov opened #863 "Website specific categories are shown on other websites"
Hi there,

We have multi website setup (3 websites).
Each of the website has own category tree (3 root categories). Some of the categories have the same name.

When we are doing search on 1 website, we are observing categories (with the same name) from another website.

I had a look on in Indices in Algolia backend and noticed that website Indice contains records from other 2 websites.

Is there k

[2017-07-03 00:53] maximbaibakov commented on #863
Sorry, it is related to M2, created a new ticket in correct place: https://github.com/algolia/algoliasearch-magento-2/issues/275

[2017-07-03 10:33] JanPetr commented on #862
Hello @tomekjordan,

that's good idea. However currently Algolia doesn't have an API endpoint which would tell that the plan is exhausted.
So the extension would have to perform a "dummy" query every time the page is refreshed to see if the query returns results or not. And then display either default search functionality or the Algolia one.
But this approach would mean a huge overload to operatio

[2017-07-03 10:34] JanPetr commented on #863
Thanks @maximbaibakov for opening the issue on M2 repo. I'll close this one.

[2017-07-03 10:34] #863 closed

[2017-07-03 10:42] JanPetr commented on #861
Hello @tomekjordan,

do you mean the switch for [autocomplete's `debug: true/false`](https://github.com/algolia/algoliasearch-magento/blob/master/js/algoliasearch/autocomplete.js#L71)?
That definitely makes sense.

[2017-07-03 10:42] #853 closed

[2017-07-03 10:43] tomekjordan commented on #861
yes, because very often devs needs to change somethin and check behavior for instant search block on multiple devices - like IPAD. so its easier to switch on debug via Magento panel than digging into files
thanks

[2017-07-03 14:50] paul-siteway opened #864 "JS Error in Backend 🔥"
With this Configuration:
System>Configuration>Advanced>Developer>Javascript Settings: Merge Javascript Files: Yes

Causes the Magento Backend to throw JS errors in the Algolia Konfiguration Section:

![image](https://user-images.githubusercontent.com/3603487/27797907-a4e46342-600f-11e7-9e3b-955e9827024e.png)

Algolia Extention Version: 1.10.0
Magneto Version 1.8.1.0

[2017-07-04 09:44] JanPetr commented on #861
Hello @tomekjordan,
it's implemented in #865, feel free to give it a try. I'll be happy for any feedback.

[2017-07-04 10:05] JanPetr commented on #860
Hey @alexkoepke,

I fixed that in #866, feel free to give it a try.
Now when you disable the extension no indexing will be performed and no error will be thrown.

[2017-07-04 10:46] JanPetr commented on #857
Hello @dmytro-butko,

thanks for the report. I just checked and I cannot reproduce the issue. Everything works as expected.

**My configuration:**

Default config:
<img width="1158" alt="screenshot 2017-07-04 12 41 43" src="https://user-images.githubusercontent.com/1058144/27827221-83683322-60b6-11e7-9a73-a1f2c876c688.png">

English store config:
<img width="1248" alt="screenshot 2017-07-04 12 43

[2017-07-04 10:48] JanPetr commented on #855
Hello @akshoysaha,

I remember we discussed the issue with you on Algolia support and if I recall correctly you managed to fix it?
I'm closing the issue now, but if you still experience any problems, feel free to reopen.

[2017-07-04 10:48] #855 closed

[2017-07-04 10:48] #862 closed

[2017-07-04 10:54] JanPetr commented on #843
Hello @aliomattux,

as I didn't hear from you for a while I'm closing the issue. If you still experience any issues or if you have more questions, feel free to re-open or open a new issue.

[2017-07-04 10:54] #843 closed

[2017-07-04 10:55] JanPetr commented on #786
Done, https://community.algolia.com/magento/doc/m1/customize-autocomplete/ and https://community.algolia.com/magento/doc/m1/customize-instantsearch/

[2017-07-04 10:55] #786 closed

[2017-07-04 20:33] andrew-smart opened #867 "CMS Page Synchronisation"
CMS pages are not synced on save like products are meaning you have to rebuild all of the page index each time manually. There is a function defined in the Observer.php called rebuildPageIndex along with a few others. Could that not be fired on cms_page_save_before?

[2017-07-05 00:12] dmytro-butko commented on #857
thanks and okay.

after playing more with it, the issue actually to be re-phrased as:
 if store view facet is not a subset of default view facets -> it won't
show up on store view level

so in your config to reproduce:
 1. remove color as facet from default config
 2. visit french store view

regards.

On 4 July 2017 at 20:46, Jan Petr <notifications@github.com> wrote:

[2017-07-05 08:31] JanPetr commented on #857
Thanks @dmytro-butko,

I'm able to reproduce now. Will investigate and come back to you. Thanks for the additional info.

[2017-07-05 09:15] JanPetr commented on #861
Will be part of the next version.

[2017-07-05 09:15] #861 closed

[2017-07-05 09:17] JanPetr commented on #825
Fix will be part of the next release

[2017-07-05 09:17] #825 closed

[2017-07-05 09:17] JanPetr commented on #831
Fix will be part of the next release

[2017-07-05 09:17] #831 closed

[2017-07-05 09:21] JanPetr commented on #867
Hello @andrew-smart,

that's true. The extension currently doesn't have defined listener on `cms_page_save_before`. Neither it has defined a way how reindex only one page.
But it's definitely something what can be improved. Let's keep the issue open and I'll let you know when we have something.
Or if you want, feel free to send a PR. I'll be more than happy to review 💯

[2017-07-05 17:09] alex-koepke commented on #860
Awesome! Thanks @JanPetr!
I'll check it out soon.

[2017-07-06 13:29] paul-siteway opened #871 "Images not generated correctly when using module "Netzarbeiter_NicerImageNames""
We have a shop that has the Extention Nicer-Image-Names installed:
https://github.com/Vinai/nicer-image-names/

When this module is active Algolia product indexer does not generate images correctly anymore:

![image](https://user-images.githubusercontent.com/3603487/27913225-b850e1a6-625f-11e7-94e3-e769a7fee53d.png)

Is there a way around this issue?

[2017-07-06 13:36] JanPetr commented on #871
Hello @paul-siteway,

thanks for the report. The extension is not tested to run with this extension, however the extension gets the image URL directly from Magento's ImageHelper (https://github.com/algolia/algoliasearch-magento/blob/master/app/code/community/Algolia/Algoliasearch/Helper/Entity/Producthelper.php#L786-L830).

Workaround for you might be to hook your code to [`algolia_after_create_pr

[2017-07-06 14:38] paul-siteway commented on #871
From the top of my head, i don't have any idea on how to tackle this.

What's working for me is at the moment is disabling the _nicer-image-names_ extension while the Algolia indexer is running.

[2017-07-07 10:24] royduin opened #872 "Make "Refined category is now shown in Current refinements section on replaced category page" configurable"
In 1.8.1 https://github.com/algolia/algoliasearch-magento/pull/725 fixes https://github.com/algolia/algoliasearch-magento/issues/681 but our clients don't want that. For now I'm reverting that pull request in our projects but it would be nice if this is configurable from the backend in the next version.

[2017-07-10 09:13] lisaclio opened #873 "search box not lining up with template"
Hi guys, I'm not a whizz at html but know the basics etc so need a bit of help.
I've managed to configure and install the algolia search but I'm having an issue with the the search box not lining up with the search title and the magnifying glass as you can see in the link I have provided. If I could just be told which file to edit and to what to help it all line up then you have helped me out load

[2017-07-10 22:34] alexgran commented on #873
I had a similar issue, due to the fact that when you leave the selector configured to default, algolia will replace the template used to show the search box with their own one (which didn't fit our CSS as well). Setting it to the real ID used by our template made the algolia template (base/default/template/algoliasearch/autocomplete.phtml) unsued and css etc was fine.

[2017-07-12 12:42] JanPetr commented on #860
It'll be part of the next version

[2017-07-12 12:42] #860 closed

[2017-07-12 12:55] JanPetr commented on #872
Good idea @royduin,
I got that feedback from multiple sides.

However ... When you land on a category page now and then use the top search - what do you and your customers expect to search at? Whole catalog or the particular category?

[2017-07-12 12:55] JanPetr commented on #857
Will be part of the next release.

[2017-07-12 12:55] #857 closed

[2017-07-12 12:59] royduin commented on #872
As it worked before; just in the category. So the searchbox in the headers searches the whole site the, the searchbox on a category just searches in the category currently in.

[2017-07-13 15:46] JanPetr commented on #873
Hello @lisaclio,
did it help to change the selector?

I'm closing the issue now, but feel free to re-open if you still experience the issue.

[2017-07-13 15:46] #873 closed

[2017-07-14 16:52] tomekjordan opened #875 "Added new magento-website/store view - algolia shows empty instant results"
HI. I just added 3rd website to my store, different domain.
The problem is that algolia is not giving any results - it shows empty autocomplete/instant search block.
The only difference from 2nd website - which works is that 3rd website view inherits category from 1st and global website. But 2nd website have its own category structure.
Some categories are disabled on this store view - but it shoul

[2017-07-14 17:00] tomekjordan commented on #826
Some products are for 0,00, for example that one from 3rd party rewards extensions. Where you have price 0,00 and products are to be redeemed for points rewards. So it should be just option in Algolia config, not mandatory exclusion.

[2017-07-20 06:30] jiitpiyush commented on #263
I think you should only store real path instead of cached path in algolia db. This will be a permaent solution.

[2017-07-21 16:04] julienbourdeau opened #876 "Synonyms seems to have been deleted and pushed again"
we need to investigate how synonyms could disappear from the dashboard.

[2017-07-24 09:31] julienbourdeau opened #877 "If IS is enabled, don't load product from the backend"
By default, if you use instantsearch, the server will render the page with the product collection from Magento. This could be avoided since we're going to replace them with JavaScript.

https://discourse.algolia.com/t/dont-load-products-in-html/2056

[2017-07-25 08:55] JanPetr commented on #876
It can happen when synonyms are defined via Algolia dashboard, but the synonyms management is enabled in Magento configuration.
Then the synonyms get wiped out when Magento config is saved.

What I don't get is the "pushed back again" - what is the workflow?

[2017-07-25 11:37] JanPetr commented on #875
Hello Tomek,

sorry for the late answer. I wasn't online for a while.
I'll investigate your issue and come back to you. Thank you for all the information provided.

[2017-07-25 11:41] tomekjordan commented on #875
Cool, when I added separate root category to this website searching works. but if backend has shared products adding extra root cateories is not the best solution. its multiplication for everything

[2017-07-26 07:41] Adel-Magebinary opened #878 "Algolia index went to dead loop."
Hi guys,

Just a quick bug report here. The indexer dies when manually trigger the reindex.

Product Attributes index was rebuilt successfully in 00:00:00
Product Prices index was rebuilt successfully in 00:00:01
Catalog URL Rewrites index was rebuilt successfully in 00:00:06
Category Products index was rebuilt successfully in 00:00:00
PHP Fatal error:  Allowed memory size of 268435456 bytes exhau

[2017-07-26 09:10] JanPetr commented on #878
Hey @Adel-Magebinary,

thanks for the report! Can I ask you what version of Magento do you use and how many products do you have (try to index)?

[2017-07-27 01:59] 3Dgoo opened #879 "admin URL referenced in JavaScript"
In the `admin_scripts.js` file there are a few references to the `admin` url:
https://github.com/algolia/algoliasearch-magento/blob/master/js/algoliasearch/internals/adminhtml/admin_scripts.js#L37

This won't work if the Magento instance has a different admin URL.

[2017-07-30 09:24] Mobecls opened #880 "Analytics Search - _empty_"
Hey @JanPetr , we have enabled analytics for search and it works fine.
But when I'm looking to analytics report, I can see _empty_ value - http://i.imgur.com/XJsaQqB.jpg

Do you know what does it mean? Is that when pages just loaded without any search?

[2017-07-31 08:02] JanPetr commented on #880
Hello @Mobecls,

it happens when you hit "Enter" in searchbox, but the searchbox is empty. So the searchpage is loaded with `?q=__empty__`.
Is that issue for you? Can you filter it out in GA?

[2017-07-31 08:04] JanPetr commented on #880
Do you have enabled "Trigger the push function after the initial search"?
<img width="627" alt="screenshot 2017-07-31 10 04 00" src="https://user-images.githubusercontent.com/1058144/28768353-9b7df736-75d7-11e7-9bc9-762274b7fd77.png">

[2017-07-31 08:05] JanPetr commented on #879
Hello @3Dgoo,

thank you for the report! 💯
The issue was solved in #854, and it'll be released in the next two weeks.

[2017-07-31 08:05] #879 closed

[2017-08-02 13:42] 87pancakes commented on #837
Hi,

I am still having this issue on custom CMS pages;

The `algolia-autocomplete-container ` is rendering yes.

https://goo.gl/8MqWSt

![screen shot 2017-08-02 at 13 08 08](https://user-images.githubusercontent.com/11280589/28876342-c4ba957c-7790-11e7-9485-b3f1d174ed4d.png)

[2017-08-02 19:20] #876 closed

[2017-08-02 21:51] Adel-Magebinary commented on #878
@JanPetr We are running 1.9.3.2

[2017-08-02 21:59] JanPetr commented on #878
And how many products do you have? Can you enable [indexing queue](https://community.algolia.com/magento/doc/m1/indexing/#general-information)?

[2017-08-03 15:39] JanPetr commented on #738
I couldn't reproduce the issue and don't have any other reports about it. So I'm closing the issue.
If you still experience the issue even in newer versions, feel free to reopen.

[2017-08-03 15:39] #738 closed

[2017-08-03 15:42] JanPetr commented on #816
Hello @davids101,
sorry for the extra late answer, I completely missed this issue.
I'm worried the extension is not intended to do such a feature. And you'll have to write a custom front end to achieve that. Is that something you can do? Or did you already manage to make it work?

Let me know. I'm closing the issue now, but feel free to re-open.

[2017-08-03 15:42] #816 closed

[2017-08-04 07:52] maximgubar opened #884 "Records quota exceeded"
I'm not sure that this is the right place to submit this issue, but anyway.

I've had a trial plan, there was approx 30k records in it, now trial has ended and it switched me to community plan. and since I have to many records, it requires to switch the plan. I've tried to go to the records management and just drop most of them, but page is not working(see screenshot).

![screenshot 2017-08-04 09

[2017-08-04 16:12] greatwitenorth opened #885 "algoliaAnalyticsPushFunction doesn't fire on non-instant search pages with search bar"
We are currently using Algolia with instant search pages disabled. We still want to track searches through Google Analytics. It appears as though this module only fires off search events when its on an instantsearch page. I need to gather analytics from any page on the site when the search bar is present.

[2017-08-04 16:29] JanPetr commented on #885
Hey @greatwitenorth,

the analytics feature is intended to work only on instant search pages and is tied to instant search feature. That makes sense for me as the instant search page re-renders completely on search and it's worth to track it as search page views in analytics tools.

What you're saying is that you want to track what people are searching for even on autocomplete menu?

[2017-08-04 16:40] JanPetr commented on #884
Hello Maxime,

I checked and you application wasn't moved to a free plan, but it was blocked. As you have more than 10k records (free plan limit), we couldn't move you automatically.

There are two ways how to solve the issue:

1. You can select a paid plan, update billing information and you'll be unblocked automatically
2. You can give me access to your account [here](https://www.algolia.com/use

[2017-08-06 04:53] ProxiBlue commented on #199
Hi @JanPetr

Adding in teh Add to cart to the autocomplete is fairly easy, but I am struggling with the click on the resulting product info. Basically I cannot seem to prevent that click from also being actioned.

The end result is that the add to cart works, but then the page location also browses to the product in question.
Suggestion how to prevent the click through to the product from being ac

[2017-08-07 15:00] JanPetr commented on #199
Hello @ProxiBlue,

yes, you've found the right line. It should be enough to just comment it out. Did you try that?

[2017-08-07 15:00] #884 closed

[2017-08-07 15:02] #880 closed

[2017-08-07 15:03] JanPetr commented on #837
Solved on [Algolia Community forum](https://discourse.algolia.com/t/magento-cms-page-search-styling/2169)

[2017-08-07 15:03] #837 closed

[2017-08-07 16:04] Mobecls commented on #880
@JanPetr  and do we have to enable it or disable - to get rid of _empty_?
We have it set to "No". It takes 1.7% of all our searches... seems a a lot as it takes 3rd place in overall chart of the most popular searches.

[2017-08-08 19:45] bnymn commented on #199
@redox the links are dead. I would like to add add to cart button to instant search results. How can I do this?

[2017-08-08 21:39] JanPetr commented on #199
@bnymn That's possible directly from configuration:
<img width="1258" alt="screenshot 2017-08-08 17 38 52" src="https://user-images.githubusercontent.com/1058144/29095886-87f98722-7c60-11e7-9865-de877646ad1b.png">

[2017-08-09 01:01] ProxiBlue commented on #199
@JanPetr

Yep, all good.
Rather than editing teh module code, I naturally moved teh file to the site skin folder, and laoding the edited version there
[code]

[2017-08-09 12:31] bnymn commented on #199
@JanPetr I actually would like to implement something like this image. I am using Magento 2.1. When I enable the feature you mentioned, it does not add `add to cart` button to autocomplete part.

![image](https://user-images.githubusercontent.com/3506402/29121530-435e1526-7ce5-11e7-99ab-0e7dedc16078.png)

[2017-08-10 12:53] u12206050 opened #889 "An error occurred while saving this configuration: Invalid CustomRanking function(()), you should use asc() or desc() near line:1 column:48"
On clicking SAVE in the settings, I get the following error:
`An error occurred while saving this configuration: Invalid CustomRanking function(()), you should use asc() or desc() near line:1 column:48`
It does seem like the settings are saved but when trying to index Algolia, I also get:
`There was a problem with reindexing process.`

This started happening after I updated from 1.7.2 to 1.10.0

[2017-08-10 14:10] JanPetr commented on #889
Hello @u12206050,

can you share with me a screenshot with Ranking configuration for both Products and Categories?

[2017-08-10 14:16] royduin opened #890 "catalogsearch_fulltext table isn't getting updated anymore?"
We've got a shop with 3 stores, 2 of them are using Algolia and the 3th one is using the default Magento search. I noticed that the `catalogsearch_fulltext` table wasn't updated for a while (after the customer complained about new products not showing up in the search) so I've truncated the table, ran all indexes and noticed the table was still empty. When I disable Algolia completely and running

[2017-08-10 14:44] u12206050 commented on #889
I have none specified. Should I

[2017-08-10 14:45] royduin commented on #890
I think we'll have to implement something like this: https://github.com/OpenMage/magento-mirror/blob/magento-1.9/app/code/core/Mage/CatalogSearch/Model/Resource/Fulltext.php#L114:L121 here: https://github.com/algolia/algoliasearch-magento/blob/master/app/code/community/Algolia/Algoliasearch/Model/Resource/Fulltext.php#L46:L48 and maybe on some other places where Algolia is overwriting core functio

[2017-08-10 15:06] timothyCoxon opened #891 "Not displaying 0 product categories."
We have one site in our Magento install that we have used categories for a hierarchal CMS system, for which none have products associated with them.
Is there a way to force this extension to index and display these categories?

[2017-08-11 10:47] Mobecls commented on #814
Hello @JanPetr ,

we have the same issue on our staging server.

Here is what happens:

1. I have enabled Queue,
2. in tmp index we already have 2900 products (so I would like just to transfer them to needed index)
3. I have run php shell/indexer.php --reindex algolia_search_indexer and it created in algoliasearch_queue table 3 pages of tasks. I have deleted all of them and left just two:

saveSet

[2017-08-11 17:47] JanPetr commented on #891
Hello @timothyCoxon,

it's true that those categories are not indexed.
The solution for you would be to comment out this code: https://github.com/algolia/algoliasearch-magento/blob/master/app/code/community/Algolia/Algoliasearch/Helper/Data.php#L414-L416

Or better - you can hook your code to [`algolia_after_create_category_object` event](https://github.com/algolia/algoliasearch-magento/blob/maste

[2017-08-11 18:06] JanPetr commented on #890
Hello @royduin,

nice catch. To be honest I don't have any idea why your fix doesn't work. I will take a look and investigate and come back to you what I have something.
Let me know if you'll manage to find a fix sooner.

[2017-08-11 18:09] #885 closed

[2017-08-11 18:13] JanPetr commented on #889
If you don't have specifies any it should be OK.
Anyway, can you please specify at least one attribute for each ranking to see if it keeps happening?

[2017-08-14 17:04] bmartus opened #892 "How can I translate 'Price' and 'Categories' facet headers?"
Is it possible to translate 'Price' and 'Categories' in the headers of the instant search facets?

![image](https://user-images.githubusercontent.com/4819899/29282511-b1e795e2-80e8-11e7-9a3a-09914aac7380.png)

[2017-08-14 17:09] bmartus commented on #892
Sorry about that .. just saw where I can set those in the Algolia config.

Carry on ;)

[2017-08-14 17:09] #892 closed

[2017-08-14 21:14] #891 closed

[2017-08-14 21:14] JanPetr commented on #878
Since I didn't hear from you for a while @Adel-Magebinary I'm closing the issue.
If you still experience troubles feel free to reopen.

[2017-08-14 21:14] #878 closed

[2017-08-14 22:27] JanPetr commented on #864
Hello @paul-siteway,

I was not able to reproduce with the latest version. Do you still experience the issue?

[2017-08-14 22:27] #864 closed

[2017-08-14 22:31] JanPetr commented on #841
Hello @greatwitenorth,

I'm sorry for coming back to you that late, but I finally found time to work on that.
Can I ask you - do you use any custom extension for creating a new product types in Magento?

[2017-08-14 23:46] #839 closed

[2017-08-15 00:13] JanPetr commented on #875
Hello @tomekjordan,

I just tested it, tried to reproduce your environment and managed to reproduce the issue when nothing was indexed.
But then I realized that I didn't assign products to the new website:
<img width="265" alt="screenshot 2017-08-14 17 12 25" src="https://user-images.githubusercontent.com/1058144/29297154-ccb664d6-8113-11e7-8e78-a33652fc651c.png">

When I assigned a product to the

[2017-08-15 01:40] tomekjordan commented on #875
Its not the same
1. I had products assigned to all websites
2. root category was inherited from global to website - and thats why it doesnt work, I needed to add new root category and subcategories tree to this 2nd website and them Algolia started
to provide results
But this is just not good, when you need to duplicate categories for other websites -
while you can just share them
among websites

[2017-08-15 22:55] JanPetr commented on #875
I understand that Tomek, I created the same setup. My other website shares the same root category as my primary store and all indexing works as expected.

**My store setup:**
<img width="1404" alt="screenshot 2017-08-15 15 52 43" src="https://user-images.githubusercontent.com/1058144/29340077-1b455238-81d2-11e7-956b-0623561e7350.png">

**Category trees:**

Default / English:
<img width="240" alt="

[2017-08-22 02:06] greatwitenorth commented on #885
Correct. I think most people would want search term analytics on both the autocomplete search bar and the instant search results. Is this possible?

[2017-08-22 02:10] greatwitenorth commented on #841
The custom product type was initially created via a module we developed. It was created via the module's install script. Would this be part of the issue?

[2017-08-23 09:28] u12206050 commented on #889
Hi, Sorry for the delay.

I can't seem to select attributes at all. This is quite strange since in another magento instance with "Exactly" the same Algolia code, I can see that I am suppose to have dropdown selects to select attribute. See attached image:
![screenshot](https://user-images.githubusercontent.com/6641242/29609009-26d7c57a-87f6-11e7-9475-2132564c68e4.png)

[2017-08-23 09:30] u12206050 commented on #889
Products have the same issue.

![screenshot1](https://user-images.githubusercontent.com/6641242/29609105-71186464-87f6-11e7-9f11-7e7dd6b804cc.png)

[2017-08-23 10:07] u12206050 commented on #889
Found the issue. Even though the plugin showed up etc. It wasn't activated under the Plugins list. Such a simple mistake on my my part. Hope it helps anyone else :)

[2017-08-23 15:55] JanPetr commented on #889
Thanks for keeping it updated and I'm happy you made it work 💯

[2017-08-23 15:55] #889 closed

[2017-08-29 11:23] quadrophenianl opened #899 "Autocomplete not working since update!"
Hi there,

Since I updated the Algolia search for a client, the search bar is not working anymore. If I type a few letters, nothing at all happen. Please see the screenshot also:

![1](https://user-images.githubusercontent.com/31439621/29818538-0d541a10-8cbd-11e7-8b54-485694a6f410.png)

Downgrading also didn't work anymore because of some conflicts. Is it possible to help me out?

Thanks already!

[2017-08-29 11:24] quadrophenianl commented on #899
Maybe some more information is good to know. I updated from 1.5.4 to the newest version. Everything worked like a charm before.

It is also not possible to click on the icon within the search bar.

If you need any more information, please let me know!

[2017-08-29 11:35] JanPetr commented on #899
Hello @quadrophenianl, would you mind sharing a live website with me where I'd be able to investigate?

Thanks!

[2017-08-29 11:54] quadrophenianl commented on #899
No problem at all!

www.esigaret4u.nl

Hope to hear soon from you! Thanks already!

[2017-08-30 06:19] quadrophenianl commented on #899
Hi @JanPetr,

Already have a clue? As I leave for a holiday in a few days, I'll hope I can fix this problem for my client before leaving.

Take care!

Mark

[2017-08-30 08:16] JanPetr commented on #899
Hello Mark,

thanks for sharing the website. The issue is that for some reason the front-end config is not generated to the website. This is what is generated:

[code]

and it should look something like this:

[code]

Would you be able to check in [configuration.phtml file](https://github.com/algolia/algoliasearch-magento/blob/master/app/design/frontend/base/default/template/algoliasearch/internal

[2017-08-30 09:45] alexbogias opened #900 "Magento Connect not yet updated to 1.11.0"
I received the notification in configuration page but when i tried to install it to the latest version I keep getting that 1.10.0 is the latest
![screenshot-2017-8-30 magento downloader](https://user-images.githubusercontent.com/1313467/29866382-e95f60aa-8d80-11e7-8484-e6d4f2a32366.png)

[2017-08-30 10:20] quadrophenianl commented on #899
Hi @JanPetr ,

The config file looks fine, actually it has the same content as the one you were linking to. Any other idea wat possibly could be wrong?

Best wishes,

Mark

[2017-08-30 10:24] quadrophenianl commented on #899
![image 3](https://user-images.githubusercontent.com/31439621/29868150-2576e156-8d7e-11e7-84da-eb1a2a2ef1a7.png)

[2017-08-30 10:46] JanPetr commented on #900
Hey @alexbogias,

it looks like Magento Connect has some issues with updating. I uploaded the [new version](https://www.magentocommerce.com/magento-connect/search-algolia-search.html) to Connect before it was tagged on GitHub.

<img width="1016" alt="screenshot 2017-08-30 12 45 47" src="https://user-images.githubusercontent.com/1058144/29868935-2bbb846a-8d81-11e7-9cd7-1978a917fd26.png">

[2017-08-30 10:47] quadrophenianl commented on #899
The unexpected token from above directed to the script line in the config file... Strange.

[2017-08-30 10:47] JanPetr commented on #899
Yes, the issues from console are generated by "not-generated" config.
Can you explore in the code why it's not echoing the JSON configuration?

[2017-08-30 10:57] alexbogias commented on #900
Yeah i show this already. I knew that connect has some updating issues. They are closing it anyway. I just wanted to let you know. Thanks a lot @JanPetr for your great job on this extension.

[2017-08-30 11:26] JanPetr commented on #900
Thanks for the kind words!
We are already in process of putting the extension on Magento Marketplace, it should be there very soon.

[2017-08-30 11:26] #900 closed

[2017-08-30 11:41] quadrophenianl commented on #899
Hi @JanPetr,

In tried loads of things, but it's impossible to get it work. Can you give me more hints where to look?

Thanks!

Best wishes,

Mark

[2017-08-30 11:45] JanPetr commented on #899
You need to look to the line I linked. The JSON is not printed to website and I have no clue why. Can you investigate there and see why it comes out empty?

[2017-08-30 12:16] quadrophenianl commented on #899
As I got stuckin my investigation I uninstalled the plugin and deleted all entries in PHPMyAdmin. Afterwards I installed version 1.5.4 again as this was working like a charm. But now I get the following error:

An error occurred while saving this configuration: You cannot specify "attributesToIndex" and "searchableAttributes" at the same time. "attributesToIndex" is deprecated you should only use

[2017-08-30 13:14] magegirl opened #901 "Some product attributes do not go back in the ajax query"
I upgraded from version 1.6 to the latest.
I use the event algolia_product_index_before and therefore I add 2 data that are not attributes qty_increments and has_qty_increment.
I find them well in the index algolia but they are not reassembled via the ajax query.
Do you have an idea ?
Thanks

[2017-08-30 14:18] JanPetr commented on #899
Yes, there was a change in Algolia API where we changed the name of `attributesToIndex` setting to `searchableAttributes`. Both versions are supported, but it cannot be mixed.
If you once set `searchableAttributes` setting to Algolia (via dashboard or via newer version of the extension), you won't be able to use `searchableAttributes` again.
The newer version of extension have a mechanism to solve

[2017-08-30 14:21] JanPetr commented on #901
Hello,

most probably those attributes are not included in [`attributesToRetrieve` parameter](https://github.com/algolia/algoliasearch-magento/blob/master/app/design/frontend/base/default/template/algoliasearch/internals/configuration.phtml#L160-L165) of the secured API key.

Can you use [`algolia_after_create_configuration` event](https://github.com/algolia/algoliasearch-magento/blob/master/app/d

[2017-08-30 14:29] magegirl commented on #901
Thanks I will try on

[2017-08-30 14:48] magegirl commented on #901
@JanPetr Not even by including them it does not work.

[2017-08-30 20:07] magegirl commented on #901
@JanPetr Not even by including them it does not work.

[2017-08-30 20:07] #901 closed

[2017-08-30 20:08] sam327 opened #902 "weirdness on apple devices - have to click search results twice to go to a page"
I'm running into an issue with the latest version 1.11 - I updated my dev site this morning. But this also happens on algolia's test site - https://magento.algolia.com/ - so I'll show you how to recreate it there.

Go to that test site on an iPhone or iPad. Search for something, like _pants_, and the autocomplete dropdown will show up. Try clicking on one of the results.

The first click with sele

[2017-08-31 13:45] quadrophenianl commented on #899
Hi @JanPetr,

Unfortunately, I can't find the problem where it goes wrong. I guess it's time to find an alternative search bar. Pretty frustrating as this one is perfect.

Isn't it possible that this is because I'm running on a Hypernode server on Nginx?

[2017-08-31 13:50] sam327 opened #904 "Images-only reindexer"
I saw issue #704 and wanted to add a similar suggestion. If you're considering an index function to just do specific components, it'd be nice to have one to do just images.

I run into a particular annoyance on sites that use a CDN - When I go to the Cache Management and hit the "Clear Catalog Images Cache," it breaks all the images in the algolia search. And they won't fix themselves until I rein

[2017-09-03 10:38] JanPetr commented on #904
Hello @sam327,

thanks for the suggestion. It makes sense to do a "simple" images-only indexer. I'll will investigate what are our options here and see how much resources could this indexer save.
I'll keep you posted.

[2017-09-03 10:39] JanPetr commented on #902
Hello @sam327,

thank you for the report! I managed to re-produce. I'll target the issue soon and will let you know when I have fix for that.

[2017-09-04 07:00] alexbogias commented on #900
Sorry for commenting again but while now magento connect updated the new version I am getting another error. I know that I am able to install it manually but I just want to inform you.

![magento-downloader-algolia-version-bug](https://user-images.githubusercontent.com/1313467/30015071-d288ab40-9157-11e7-8d8a-16ceb5a27607.png)

[2017-09-04 08:20] Haroenv commented on #902
This is because it has a `:hover` style, when you have that the first tap will apply the hover style, the second to actually apply the click.

[2017-09-13 06:12] HRR1337 opened #909 "Some links to documentation in backoffice gives 404 error"
Hi there,

When I click on a link to Algolia Search Documentation via the backoffice of Magento 1.9 i get a 404 error.

I use Algolia Search Version 1.11.0

**Synonyms:**

- https://www.algolia.com/doc/synonyms
- https://www.algolia.com/doc/synonyms#synonyms
- https://www.algolia.com/doc/synonyms#one-way-synonyms

**Advanced:**

- https://www.algolia.com/doc/api-client/default/settings/#index-sett

[2017-09-13 06:26] HRR1337 opened #910 "Disable some CMS pages from being indexed and shown in autocomplete"
Hi there,

We make alot of 'test' cms pages, or 'work in progress' cms pages. And now they are also indexed by the engine. It would be nice if there is an option to disable some CMS pages (by id?) to be indexed so it wont show up in the autocomplete.

Or is it already here and am I missing something?

Thanks!

[2017-09-13 08:49] JanPetr commented on #910
Hello @HRR1337,

yes, this is already in place. You can remove pages with this configuration:
<img width="705" alt="screenshot 2017-09-13 10 49 05" src="https://user-images.githubusercontent.com/1058144/30368360-390e23d4-9871-11e7-91a9-74b35fabf327.png">

You can exclude as many pages as I'd like.

[2017-09-13 08:50] JanPetr commented on #909
Thanks for the report @HRR1337! 💯

We'll change the links and will try to add redirects for the current ones. I'll let you know when it's done.

[2017-09-13 08:57] HRR1337 commented on #910
Thanks! Totally overlooked it!

[2017-09-13 09:30] JanPetr commented on #910
You're welcome, happy searching!

[2017-09-13 09:30] #910 closed

[2017-09-13 14:17] HRR1337 opened #911 "Incosistent indexing?"
Hello,

At this moment i'm testing Algolia Search on a dev domainname. So I'm changing configurations etc. And I know that when I change some configurations, I have to do a reindex.

The issue is, I dont know why the changes I made are not most of the time NOT visible even when I do a reindex on my queue. I only get: Algolia Search Queue Runner index was rebuilt successfully in 00:00:00

Example:

[2017-09-14 07:29] alexbogias commented on #900
@JanPetr Can you please reopen this and check?

[2017-09-14 07:50] alexbogias opened #912 "Lock wait timeout exceeded while reindexing"
I am getting this log on my exception.log. I dont know if its my setup or a general algolia issue, The attribute with id 98 which is mentioned is url_path which I think that is created by algolia. I dont see it in my Manage Attributes screen.

[code]

[2017-09-19 09:17] JanPetr commented on #911
Hello @HRR1337,

did you reindex Products indexer before you run the queue indexer? If you won't run products indexer, queue won't do anything as there are no jobs in the queue.

[2017-09-19 09:19] JanPetr commented on #912
Hello Alex,

according the error you pasted here, it happens when you reindex `Mage_Catalog_Model_Product_Indexer_Flat` and not any Algolia indexers.
Did I miss something? Is it Algolia indexer which triggers the error? Do you know which one?

[2017-09-19 09:54] alexbogias commented on #912
Hello @JanPetr,
I thought that "url_path" attribute was created by algolia exension but i now saw it in other magento installation without algolia. You can close this ticket if you think that isnt related.

[2017-09-19 12:51] HRR1337 commented on #911
let me try if this is the case :-)

[2017-09-19 13:48] JanPetr commented on #912
Thanks for coming back to me Alex!
No, the extension doesn't create such attribute. So I'm closing the issue, but feel free to re-open! 💯

[2017-09-19 13:48] #912 closed

[2017-09-20 09:36] HRR1337 opened #918 "Upgrade algoliasearch to 1.11.1 cant find table"
Hi there,

I have 2 issues regarding the upgrade from 1.11.0 to 1.11.1.

#1. Is it possible to disable the blue row on top of whole magento screens with the indexing status?

#2. I have updated the algolia search via github manual. Can you also provide a sql to create the missing table? .algoliasearch_queue_log

Thanks!

HRR

[2017-09-20 09:44] HRR1337 commented on #918
Number 2 is fixed:

Add in phpmyadmin this:

CREATE TABLE IF NOT EXISTS `algoliasearch_queue_log` (
  `id` INT(20) NOT NULL auto_increment,
  `started` DATETIME NOT NULL,
  `duration` INT(20) NOT NULL,
  `processed_jobs` INT NOT NULL,
  `with_empty_queue` INT(1) NOT NULL,
  PRIMARY KEY `id` (`id`)
) ENGINE=InnoDB DEFAULT CHARACTER SET=utf8 AUTO_INCREMENT=1;

After that the queue is running :-)

[2017-09-20 12:52] JanPetr commented on #918
Hello @HRR1337,

for the first point - no, it's not possible to remove it now. It's on purpose everywhere so you know how many jobs you have in the queue and how long it'll take. For the next version we can add a configuration to turn it off, but currently it's there for everybody.

The second point - should be done automatically via [Magento migration](https://github.com/algolia/algoliasearch-mag

[2017-09-20 15:51] JanPetr commented on #909
The redirects are live!

[2017-09-20 15:51] #909 closed

[2017-09-20 23:40] dannydnz commented on #918
This is actually quite a serious issue for people who aren't aware of how Magento install scripts work.

Steps to reproduce.

1) Install a version of  Algolia_Algoliasearch less than 1.11.0  but greater than version 1.7.1. Refresh caches etc
2) Upgrade Algolia_Algoliasearch to version >= 1.11.0

Expected.
Algolia_Algoliasearch works seamlessly.

Actual:
PDOException is thrown when executing the Al

[2017-09-21 03:35] HRR1337 commented on #918
Hi Jan Petr,

About the first issue with the big blue row... Please make a configuration to disable it. For a merchant it has no use at all, and it only distracts. And dont see any value to see the indexing status of algolia when you are working on cms pages etc..

Thanks,

HRR

[2017-09-21 08:53] JanPetr commented on #918
Thanks for the thorough explanation @dannydnz. I'll fix it in the next version!

@HRR1337, it's already on my roadmap, thanks for bringing it up! 💯

[2017-09-21 08:53] #918 closed

[2017-09-21 10:34] JanPetr commented on #918
@HRR1337 It's done in #920

[2017-09-22 12:54] rudissaar opened #923 "Hit template price and currency"
Is it possible to have price and currency inside separate elements?

I would like to use different color for currency, but everything is inside same span.

[2017-09-24 11:22] chatlumo opened #924 "Algolia doesn't display"
Hello,

I set up Algolia on Magento 1.9.3.6 but Algolia doesn't display.
My search block disapear on my own theme, but also on default theme or RWD theme.

If i display templates hint, i see the frontend/base/default/template/algoliasearch/autocomplete.phtml (Mage_Core_Block_Template) file but with no content.
Do you have an idea why this issue ?
![greenshot 2017-09-24 13 21 45](https://user-image

[2017-09-25 02:18] rudissaar commented on #923
I can see that algolia result include price_default and price_formatted, but maybe default package also should include formatted one without currency.

[2017-09-25 07:28] alexbogias commented on #918
Same issue here after upgrading from 1.10.0 to 1.11.0

[2017-09-25 08:27] JanPetr commented on #924
Hello @chatlumo,

Did you change the default search box DOM selector to your own? If no, can you try to do that?

[2017-09-25 08:30] JanPetr commented on #923
Hello @rudissaar,

currently it's not split, you're right.
You can split it manually by [transforming data on frontend](https://community.algolia.com/magento/doc/m1/frontend-events/) or by changing the way how data are indexed by using [backend events](https://community.algolia.com/magento/doc/m1/backend/).

Would that work for you?

If you want to send PR to index price and currency separately, I

[2017-09-25 08:57] chatlumo commented on #924
I didn't change anything because if i disable algolia, i see my search block (with default block name, and default dom selector). So i'm ok to put another DOM selector but to put what ?
With Algolia disabled, i have the frontend/base/default/template/catalogsearch/form.mini.phtml file with this html code :
`
<div class="form-search">
  <label for="search">Rechercher :</label>
  <input id="search"

[2017-09-25 08:58] chatlumo commented on #924
`<div class="form-search">
  <label for="search">Rechercher :</label>
  <input id="search" type="text" name="q" value="" class="input-text" maxlength="128" />
...`

[2017-09-25 09:10] JanPetr commented on #924
So set the DOM selector to your default one - in your case `#search`. Than Algolia will bind to your default search box.

[2017-09-26 08:52] weixelbaumer opened #925 "queued shell reindexing fails due to missing 'algoliasearch_queue_log' db table"
Latest version of Magento **1.9.3.6** using latest version of Algoliasearch module **1.11.1**.
Re-running setup scripts won't help .. Queued indexing via

`php -f /home/web/magento/shell/indexer.php -- -reindex algolia_queue_runner`
fails and leads to following error message:

`PDOException: SQLSTATE[42S02]: Base table or view not found: 1146 Table '_dev.algoliasearch_queue_log' doesn't exist in /

[2017-09-26 09:04] JanPetr commented on #925
Hello @weixelbaumer,

there is an issue with setup scripts for some reason :/ We are working on the fix.

In a meanwhile, can you apply [this fix](https://github.com/algolia/algoliasearch-magento/issues/918#issuecomment-330801701)?

Let me know if it works for you.

[2017-09-26 09:55] weixelbaumer commented on #925
Works just fine! Thanks for the quick support!

[2017-09-26 10:35] weixelbaumer commented on #925
However ... it seems that no jobs are being processed. Queue is being filled up by observer .. but processed_jobs staying at 0.

![nojobsprocesse](https://user-images.githubusercontent.com/2777906/30855978-2bdec466-a2b7-11e7-8c11-a442b4fac6ab.png)

[2017-09-26 11:38] JanPetr commented on #925
And do you have any jobs queue in `algoliasearch_queue` table? When queue is processed, but no jobs are created it still logs the run.

[2017-09-26 12:14] weixelbaumer commented on #925
Fwiw it's a multistore setup with several thousand products per website. `algoliasearch_queue` > 5000 entries and increasing .. however in algolia backend it seems that at least tmp_ and live indexes are being updated.

[2017-09-26 12:30] chatlumo commented on #924
Thank you Jan, it's working now.
On the other hand, i have this javascript error in Chrome console :
`common.js:354 Uncaught TypeError: Cannot read property 'autocomplete' of undefined
    at HTMLDocument.<anonymous> (common.js:354)
    at u (jquery.js:3232)
    at Object.add [as done] (jquery.js:3291)
    at ge.fn.init.ge.fn.ready (jquery.js:3542)
    at ge.fn.init (jquery.js:2967)
    at Object.

[2017-09-26 14:58] greatwitenorth opened #926 "Cannot update CMS pages"
When I try to update a cms page in the admin and click Save I get the following error in the UI:
[code]

When I check the exception log I see this:
[code]

Is there an issue with Algolia and updating CMS pages?

[2017-09-26 15:01] JanPetr commented on #926
Hello, it looks like you just upgraded to the latest version of the extension. And the DB migration wasn't run correctly. Can you apply [this fix](https://github.com/algolia/algoliasearch-magento/issues/918#issuecomment-330801701)?

[2017-09-26 15:35] JanPetr commented on #924
It looks like not all the templates are rendering to the page. Templates should be rendered to [`before_body_end` block](https://github.com/algolia/algoliasearch-magento/blob/master/app/design/frontend/base/default/layout/algoliasearch.xml#L30-L48).

Can you check if those templates are correctly rendered to your page?

[2017-09-27 08:44] chatlumo commented on #924
How to know that ?
This is the website : bit.ly/2a5kiVv

[2017-09-27 10:08] JanPetr commented on #924
Thanks for the URL. It's missing templates. Your theme doesn't render `before_body_end` block, that's why it's not working. Can you update your theme to render it?

And at the same time, your `head` block doesn't [render configuration](https://github.com/algolia/algoliasearch-magento/blob/master/app/design/frontend/base/default/layout/algoliasearch.xml#L5). Can you update the block to render third

[2017-09-27 10:18] JanPetr commented on #925
Thanks for letting me know! It looks like there might be issue with counting jobs in log then. I'll investigate.
As long as Algolia indices are updated it's OK and processing is working correctly.

[2017-09-27 10:24] chatlumo commented on #924
Thanks for your quick reply.

I d'ont understand because if in System > Configuration > Advanced > Developer > Debug > Template Path Hints = Yes, i well seeing the templates :
frontend/base/default/template/algoliasearch/internals/configuration.phtml
frontend/base/default/template/algoliasearch/autocomplete.phtml
frontend/base/default/template/algoliasearch/internals/beforecontent.phtml
frontend/b

[2017-09-27 10:30] JanPetr commented on #924
Can you check that the template files really exists in the location?
Did you install by modman? Can you check if you have allowed symlinks?

[2017-09-28 08:03] chatlumo commented on #924
Yes, i installed by modman, and my provider verified that symlinks is well allowed.
It's strange because i created a test.tml file in app/design/frontend/base/default/template/algoliasearch
And if i try to view it with a `include 'app/design/frontend/base/default/template/algoliasearch/test.html';`, i have no issue.

By the way, i see Algolia in the backbend.

[2017-09-30 09:37] chatlumo commented on #924
Maybe, can i try to install Algolia in another way ?

[2017-09-30 14:02] lisaclio opened #929 "Megamenu not working as it should"
Hi Guys,

Need a little help if you can. My mega menu shows up on the home page as it should, but when a customer searches for a product is in the algolia results page when you go to the mega menu it doesn't drop down. I'm assuming that the algolia is at the top of the pile and the megamenu is underneath this.

I'm not a massive coding whizz but given a little instruction I am more then happy to g

[2017-10-01 00:40] rudissaar commented on #875
after creating 2nd view for my store, none of my things get saved, what might be the problem? is it related to this issue?

[2017-10-02 14:10] JanPetr commented on #929
Hello @lisaclio,

I just gave it a try and it works as expected:
<img width="1214" alt="screenshot 2017-10-02 16 09 42" src="https://user-images.githubusercontent.com/1058144/31081438-34c44694-a78c-11e7-8802-597395386d02.png">

Does it work for you now? Or can you specify what browser do you use?

Thanks!

[2017-10-02 14:11] JanPetr commented on #925
Will be fixed in next version

[2017-10-02 14:11] #925 closed

[2017-10-02 14:11] #923 closed

[2017-10-02 14:12] JanPetr commented on #911
Hello @HRR1337, does it work for you?

I'm closing the issue now. Feel free to re-open if you still experience the issue 💯

[2017-10-02 14:12] #911 closed

[2017-10-02 14:13] JanPetr commented on #899
Hello @quadrophenianl,

Sorry for the late answer. No, it shouldn't be an issue.
Does it still not working for you?

[2017-10-02 14:17] JanPetr commented on #877
Will be part of the next release.

[2017-10-02 14:17] #877 closed

[2017-10-02 14:19] JanPetr commented on #875
Hello, probably not. Could you create a new issue with more details @rudissaar? Like what is not saved etc ... Thank you!

I'm closing the issue @tomekjordan as I didn't hear from you. Feel free to re-open if you still experience the issue 💯

[2017-10-02 14:19] #875 closed

[2017-10-02 17:42] chatlumo commented on #924
So, i replaced modman install by git sources and it's working now.
Just an issue as you can see in the picture, with autocomplete, i well seeing Algolia results but also Magento (?) popup. How can i disable this ?

Thanks !
![greenshot 2017-10-02 19 38 09](https://user-images.githubusercontent.com/1204828/31090949-bb69a208-a7a9-11e7-9802-53d18f4027f4.png)

[2017-10-03 05:50] quadrophenianl commented on #899
Hi @JanPetr,

Unfortunately, it still doesn't work and I was forced to use another search engine. Anyway, thanks for your help troughout this problem!

Take care!

Mark

[2017-10-03 09:40] lisaclio commented on #929
Hi Jan,

After editing the styles folder I was able to get it to this stage. However when a customer types in the search box it still shows the menu. (please see screen shot)

I am baffled now. Any ideas?

Lisa

[2017-10-04 11:55] weixelbaumer commented on #925
Indexing is NOT working fully. Many products simply don't get updatet.
Meanwhile algoliasearch_queue (>76k entries) and algoliasearch_queue_log DB tables (>5k entries) are exploding in # of entries.

[2017-10-06 16:14] julienbourdeau opened #931 "Hide queue notice when there are 0 job in the queue"
I open it because a user was confused why it was still showing.

[2017-10-06 16:31] julienbourdeau commented on #929
@lisaclio Could you turn on debug mode for autocomplete in your settings? It keep the search autocomplete open to debug.

[2017-10-09 12:12] julienbourdeau opened #932 "Autocomplete + Mobile: first touch hovers the product, second touch clicks"
Today, on mobile and with Algolia autocomplete, you need to touch twice to go to from the result list to the product page.

It could makes sense to avoid clicks while you're just scrolling but it could also be confusing to have to click twice.

Do we want to keep this behaviour.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/1525636/31337497-e6d5b52e-acfb-11e7-8f55-cf8d3dd4db

[2017-10-11 12:18] lykciv opened #933 "Products are not reindexed when catalog price rules are applied"
Follow these steps to reproduce
* create a catalog price rule
* apply the rule
* products have a discount price on the category and product pages
* the search does not show the new price for the products

Problems
* affected products are not added to the queue for indexing
* to solve this, you could rebuild all products; however this seems overkill if the catalog price rule only applies to a coupl

[2017-10-11 15:49] martinconnelly commented on #902
Has there been any movement on this? We'd like to update, but can't really can't with this broken.

[2017-10-16 15:35] julienbourdeau opened #934 "Support bulk upload"
As far as I understand we don't support product update when product are updated by bulk upload.

See: https://discourse.algolia.com/t/did-algolia-support-bulk-import-feature-of-magento-1-9/3285

[2017-10-17 07:55] yhoiseth commented on #689
Hi @JanPetr,

We're experiencing this issue on a recently-installed algoliasearch-magento. See for example http://www.skalanetshop.no/overall-med-hette-bla.html.

However, I noticed that it no longer occures on https://magento.algolia.com/french-cuff-cotton-twill-oxford-570.html.

Any ideas?

[2017-10-17 13:04] yhoiseth commented on #689
It seems like we have at least a temporary fix for this issue.

We tried a few approaches:

1. Put the Algolia JavaScript files after our custom ones in `<head>` in order to test whether they were messing up anything. That didn't make any difference.
2. Replaced the contents of `prototype.js` with [version 1.7.3](https://cdnjs.cloudflare.com/ajax/libs/prototype/1.7.3/prototype.min.js) because I re

[2017-10-20 15:02] JToward opened #937 "Which version supports Magento 1.9.3.2?"
I have checked releases and changelog but could not figure out which version is compatible with Magento 1.9.3.2. Could you please help me to find my version?

[2017-10-20 16:38] andrew-smart opened #938 "Instant search templates and js included when it is not enabled"
Can the instantsearch.js added in the layout file...
https://github.com/algolia/algoliasearch-magento/blob/master/app/design/frontend/base/default/layout/algoliasearch.xml#L13
be removed when the instant search part of the module is not enabled. The same for the templates added specifically for the instant search.

[2017-10-22 17:01] maximgubar opened #939 "Cannot fetch items from algolia category_products index for non-default store view"
I have 2 websites and each has 2 store views.
I've executed full re-index for my store already several times, and on category pages there are products only for default store, in algolia dashboard I clearly see that indexes for other stores exists and it seems that the data is correct. But anyway, all instant search ajax requests from non-default stores return empty hits. I've already submitted a t

[2017-10-22 17:56] maximgubar commented on #939
UPD:
after debugging I've noticed that relevance sorting is the problem, for some reasons there are no problems with it on default store, but on any other store when sorting is by relevance no items are shown. If i switch to price or any other sort, then products appear.

[2017-10-23 15:42] sam327 opened #940 "missing table - algoliasearch_queue_log ?"
I'm attempting to update algolia (to 1.11.1) on a dev site. And when I reindex, I get an error on the index page that says "There was a problem with reindexing process."

In my exceptions.log file, it's complaining that it can't find a particular table.

Can you tell me what the SQL statement is that creates this table? I cannot find it.

[2017-10-23 15:52] JanPetr commented on #940
Hello @sam327,

here you go: https://github.com/algolia/algoliasearch-magento/issues/918#issuecomment-330801701

It'll be fixed in the new version.

[2017-10-23 15:52] #940 closed

[2017-10-23 18:36] sam327 commented on #902
While you're working on this - Is there some sort of dirty hack that might get this to a working state?

I blew a couple hours trying a handful of things, such as commenting out all instances of :hover in the CSS file - which didn't work.

Client is fine with launching with a "no hovers" behavior, but not with the "having to click twice" behavior.

I'm not using modernizr, would that be worth tryi

[2017-10-26 09:56] andrew-smart opened #943 "Un-serialization of default data broken in < 1.9.3.x with SUPEE-8788 patch"
The effect this bug has is on a fresh install of Algolia none of the default category/product attributes etc are shown in the admin.

I note a fix to get around this https://github.com/algolia/algoliasearch-magento/blob/master/app/code/community/Algolia/Algoliasearch/Model/System/Config/Backend/Serialized/Array.php#L9 but because this is a patched version and not a 1.9.3 it fails this and falls ba

[2017-10-26 10:47] #934 closed

[2017-10-30 13:40] JanPetr commented on #943
Hello Andrew,
let me get on the same page as you - by "patched version" you mean lower Magento version than 1.9.3 with applied `SUPEE-8788` patch?

[2017-10-30 13:42] JanPetr commented on #939
Hello @maxigubar,

I just checked the Algolia support and didn't see your request. Is it already sorted out?

Could you tell me what is your website, please?

[2017-10-30 13:43] JanPetr commented on #938
Good idea Andrew, thanks!
I'll do that. And feel free to send a PR, I'll be more than happy to review and merge! :)

[2017-10-30 13:44] JanPetr commented on #937
Hello @JToward, the latest version supports Magento 1.9.3.2 with no issues, give it a try! :)
Let me know how it goes! :100:

[2017-10-30 13:44] #937 closed

[2017-10-30 13:46] JanPetr commented on #933
Hello, thank you for opening the issue! That's true, the extension currently doesn't listen on applied price rules and you have to trigger full products reindex. I'll take a look and see what can be done around this.
If you have solution for that, feel free to open a PR. I'll be more than happy to review and merge. :100:

[2017-10-30 13:54] JanPetr commented on #932
Thanks for the issue Julien. I'm closing it as it's duplicate of #902 :)

[2017-10-30 13:54] #932 closed

[2017-10-30 13:54] JanPetr commented on #931
:+1:

[2017-10-30 13:56] #926 closed

[2017-10-30 13:57] JanPetr commented on #924
Hello, I'm sorry for the late answer.
Did you manage to solve your issue?

I'm closing the issue now, but feel free to re-open. Happy searching! :100:

[2017-10-30 13:57] #924 closed

[2017-10-30 13:59] #899 closed

[2017-10-30 14:20] chatlumo commented on #924
Hello,

I always have the issue with instant search magento window and Algolia
instant search on top.

Thanks,
Julien

2017-10-30 14:57 GMT+01:00 Jan Petr <notifications@github.com>:

[2017-10-30 15:54] andrew-smart commented on #943
@JanPetr That is exactly it.

[2017-10-30 16:45] julienbourdeau commented on #932
Sorry I didn't go through the opened issues ^^

I was quite happy to test the new record screen feature on iOS 11 tho. ;)

[2017-10-31 09:03] maximgubar commented on #939
Hi, @JanPetr,
The issue is solved already, algolia queue was not able to save configuration. There was an issue on the algolia server, some feature was not enabled on our instances.
but now everything is fine.

[2017-10-31 09:03] #939 closed

[2017-10-31 09:10] JanPetr commented on #939
Oh yes, I remember we had a call @maximgubar :) I'm glad to hear everything is fine now! Happy searching 🚀

[2017-11-01 01:13] tomekjordan opened #950 "Strange chars/coding in Autocomplete results for Pages in 1.12.0"
Hi. just update from 1.10.0 to 1.12.0 and there are some strange chars/symbols in Autocomplete > results -> PAGES > page descriptions
[http://prntscr.com/h4m91s](http://prntscr.com/h4m91s)

I have a store with Polish language - Pages titles looks ok, but description uses invalid coding or smth

Thanks for fix in next release

Tomek

[2017-11-01 01:37] tomekjordan opened #951 "New CMS pages in search results - excude/include in search via CMS page directly in Meta Data tab"
Hi. I just found that very ofter pages that I create or create for tests/promos etc - appear in search results. This is a big problem - because sometimes such pages include important informations - like hidden coupons etc.
Excluding CMS pages is really hard and you always need to add them via dropdown - very inconvenient if you have couple store views and many CMS pages.
SCREENSHOT: [http://prntsc

[2017-11-01 08:03] timothyCoxon opened #952 "DO TLD Added to all search results."
Bit of a weird one, and before I start hunting wanted to know if anyone has come across this before.

Basically everything is running fine expect .do tld is replacing .com on all my search results. So the search functionionality is finding www.example.com/test-page but showing the link as www.example.do/test-page.

[2017-11-01 08:24] JanPetr commented on #950
Hello @tomekjordan,
thanks for the report. I'll investigate.

[2017-11-01 08:25] JanPetr commented on #952
Hello @timothyCoxon,

I've never seen this issue. The extension fetches URLs directly from Magento which uses base URLs defined in configuration. Do you have set `.com` in base URL configuration?

[2017-11-01 08:37] JanPetr commented on #951
Hello @tomekjordan,

thanks for the suggestion. It makes sense and I'll add it to our roadmap. I cannot promise you any ETA tho. I'll keep you posted here.

[2017-11-01 09:06] timothyCoxon commented on #952
Everything was set to .com's even did a laborious search through code and DB trying to find the errant .do to no avail.
I've since run a reindex of everything on the site and it's seeming like that has fixed the issue.

Just wanted to report this incase it occurs for anyone else.

[2017-11-01 09:06] #952 closed

[2017-11-03 11:12] mattlooby22 commented on #823
Hi @JanPetr

The fix that you suggested above , adding the distinct to the collection query works for me ($products = $products->distinct(true);)

So is this fix going to be included in the next release of the Algolia module for Magento as I have had to amend this code myself and don't want to break the upgrade path

Regards

Matt

[2017-11-03 11:15] JanPetr commented on #823
Thanks for the feedback @mattlooby22,
that's great to hear! I'll run some tests with it and if everything is OK, you can expect it to be in the next release.

[2017-11-06 10:52] JanPetr opened #954 ""Prevent backend rendering" doesn't render static-block-only categories"
There is an issue with preventing backend rendering.
It would prevent rendering for all category pages even if they are set to show a static block only.

If you are aware, in categories we have the option to show products, static block or both.
Seems like if that toggle is Yes, it does not render anything.

[2017-11-06 15:05] sam327 opened #955 "Can I blacklist certain words from matching?"
Is there a place to black list certain words from ever matching?

I'm running into a weird error, where someone's put some styling into a description field. So, I get matches with a font name or other styling. Example: searching "velvet" matches to "helvetica"

The correct thing, obviously, is to not put styling inside the content. But I'm trying to see what my alternative options are.

[2017-11-07 13:41] JanPetr commented on #955
Hello @sam327,

I don't thing blacklisting words is the optimal solution here as it might break your relevancy completely.
The best solution for you would be to write a small extension, hook your code to [`algolia_after_create_product_object` event](https://github.com/algolia/algoliasearch-magento/blob/master/app/code/community/Algolia/Algoliasearch/Helper/Entity/Producthelper.php#L1006) and in th

[2017-11-07 13:41] #955 closed

[2017-11-07 14:02] JanPetr commented on #950
@tomekjordan, I pushed a fix in #957, could you give it a try?

[2017-11-07 14:10] sam327 commented on #955
Ah. That's a good idea. I wasn't 100% sure what the best direction was with this. Thanks for the suggestion. I'll give it a go.

In the grand scheme of things, at least by how we built our stores, people shouldn't be putting in major css into a description field. I.e. this is primarily a training issue.

[2017-11-08 12:26] #902 closed

[2017-11-09 09:32] royduin commented on #872
Any updates on this one? 👼 when updaten Algolia I've to revert this part each time

[2017-11-09 09:44] JanPetr opened #959 "Algolia rendered on static block only category pages"
Algolia is rendered while `display_mode` on a category is set to `PAGE`.
Algolia should not load in that case. Algolia should only render when it's set to `PRODUCTS` or `PRODUCTS_AND_PAGE`.

cc @royduin

[2017-11-09 09:44] JanPetr commented on #954
Fixed, will be part of the next release

[2017-11-09 09:44] #954 closed

[2017-11-09 09:45] JanPetr commented on #950
Fixed, will be part of the next release

[2017-11-09 09:45] #950 closed

[2017-11-09 15:47] JanPetr commented on #872
Hello @royduin,
would you mind sending a PR with the change you have to revert each time? It'd help me to implement it.

Thanks!

[2017-11-09 15:47] #931 closed

[2017-11-09 15:48] #938 closed

[2017-11-09 15:48] #867 closed

[2017-11-09 15:49] royduin commented on #872
The inverse of: https://github.com/algolia/algoliasearch-magento/pull/725/files ;)

[2017-11-09 15:53] #556 closed

[2017-11-09 15:58] #871 closed

[2017-11-09 16:01] #959 closed

[2017-11-09 16:09] royduin commented on #959
Thanks! 😎

[2017-11-10 08:41] vijaymagento1 opened #965 "Product search url adding indexer.php after enable the cron tab"
Hi Algolia support team,

We have installed and configured **"algolia search 1.12.0"** module on the latest magento(1.9.3.6) and we have enabled Indexing Queue/cron and added queue cron tab **(*/5 * * * * php -f /absolute/path/to/magento/shell/indexer.php -- -reindex algolia_queue_runner)** on the server. After process indexing queue/cron, when we search the product on the frontend it's adding ind

[2017-11-11 11:51] tomekjordan opened #966 "Algolia is trying to load some css in admin area > 404"
Hi. Algolia is trying to load some css in admin area - but the file is not provided in/adminhtml. I suspect this is css from frontend but since admin area loads files from /adminhtml it cannot be found. Algolia is not working on admin area - so it should not load the file either.

/skin/adminhtml/base/default/algoliasearch/algoliasearch.css

[http://prntscr.com/h91tdy](http://prntscr.com/h91tdy)

[2017-11-11 14:50] JanPetr commented on #966
Hello Tomek,

how did you install Algolia? Since new version, there is a CSS file in adminhtml => https://github.com/algolia/algoliasearch-magento/blob/master/skin/adminhtml/base/default/algoliasearch/algoliasearch.css

[2017-11-11 15:12] tomekjordan commented on #966
HI. Just downloaded from github, check zip again - no adminhtml directory in it.
[http://prntscr.com/h93sdy](http://prntscr.com/h93sdy)

[2017-11-11 15:15] JanPetr commented on #966
Yes, I found issue now /o\ Will push the fix and re-upload the archive.

[2017-11-11 15:58] JanPetr commented on #966
@tomekjordan, feel free to download an updated package: https://github.com/algolia/algoliasearch-magento/releases/tag/1.12.0

[2017-11-13 13:27] #966 closed

[2017-11-13 13:27] #890 closed

[2017-11-13 13:28] #557 closed

[2017-11-13 13:31] #823 closed

[2017-11-13 13:49] JanPetr commented on #965
Hello Vijay,

I just tested and I'm not able to reproduce. What version of Magento do you use?

[2017-11-13 13:53] vijaymagento1 commented on #965
Hi Jan,
I am using latest magento community version (1.9.3.6).

Thanks!

[2017-11-15 11:25] royduin opened #969 "Autocomplete disappears when a category is set to display_mode page"
The instantsearch should not load but the autocomplete should stay. See: https://github.com/algolia/algoliasearch-magento/issues/959 and https://github.com/algolia/algoliasearch-magento/pull/960

[2017-11-15 17:14] JanPetr commented on #969
Hello @royduin, thank you for the report.
I just tested it and I'm not able to reproduce. Would you have a link to a staging website where I could investigate?

[2017-11-16 12:05] royduin commented on #969
Sorry, I didn't completely copied the fix to our project. Just installed the latest dev version which works great.

[2017-11-16 12:05] #969 closed

[2017-11-16 12:06] royduin commented on #872
Any ETA on this @JanPetr?

[2017-11-16 12:35] JanPetr commented on #969
Thanks for letting me know! 👍

[2017-11-16 12:35] JanPetr commented on #872
Not for now, sorry :(

[2017-11-19 21:25] hyteckit commented on #965
I have the same issue. Not just for product URLs, but category URLs too.

Temporary fix is to turn on "Use Web Server Rewrites" under General > Web > Search Engine Optimization.

[2017-11-20 08:55] vijaymagento1 commented on #965
Hi hyteckit,
Thanks for the updates.

[2017-11-20 11:40] JanPetr commented on #965
Hello @vijaymagento1 and @hyteckit,

thanks for bringing this up.
Yes, the extension takes URLs from Magento and doesn't compose it on it's own. And Magento respects the configuration settings.
I don't think it's a good idea to override this behavior in the extension. So I'll add a notice to documentation and close this issue.

Thanks for your inputs! 💯

[2017-11-20 11:40] #965 closed

[2017-11-20 18:35] maximilianmikus opened #974 "special_price_to logic"
Hi,

I noticed that when you index a product, and say you index it with a currently active special_price.
After this you do not touch the product. After the special_price_from/to timeframe expires, the product should be display in the autocomplete results with the normal price, since the special_price is not active anymore. This does not happen currently as far as I can tell. I have tested this wi

[2017-11-20 20:31] hyteckit commented on #965
JanPetr,

You are closing the case without fixing the BUG?

What you've said it's not true. algoliasearch-magento does compose its own URL and stores the absolute path into the algolia database. It just does it incorrectly by relying on $product->getProductUrl() function.

Anyway. Here's my fix. Under file "Algolia>Algoliasearch>Helper>Entity>Producthelper.php"

Change getProductUrl() to getReques

[2017-11-20 22:16] hyteckit commented on #965
Okay. I figure out how to recreate the BUG.

If you have "Use Web Server Rewrites" turned off.

If you run "Algolia Search Queue Runner" from Index Management, the product URLs is correct with 'index.php' in the URL.

If you run it from the command line "php -f ./indexer.php -- -reindex algolia_queue_runner", then the product URLs is NOT correct with 'indexer.php' in the URL.

That's because the f

[2017-11-22 14:11] JanPetr commented on #974
Hello @maximilianmikus,

yes, you're right. The JS is not ready for that and it still displays the special price no matter what the timeframe is.
I'd really appreciate if you find some time, add the logic to JS and send PR. It'll be really cool!

Thank you!

[2017-11-22 17:17] ashtonlance opened #975 "Disable Instant Search on Results page"
Unless I'm overlooking it - I can't figure out a way to disable the instant search on the results page.

Could you point me in the right direction?

[2017-11-22 18:33] JanPetr commented on #975
You can disable it in configuration:

![screenshot 2017-11-22 19 32 44](https://user-images.githubusercontent.com/1058144/33144014-01ad8a1a-cfbc-11e7-93a1-ee41b4d2814d.png)

[2017-11-22 18:33] #975 closed

[2017-11-22 18:43] ashtonlance commented on #975
Disabling that setting totally breaks my layout. Is there not a way through javascript to simply stop the instant search? I want the exact page that I have now just without the instant search feature.

[2017-11-22 19:09] JanPetr commented on #975
When you disable that, no Instant search feature is enabled and everything should look like it did before you installed Algolia.

[2017-11-22 19:13] ashtonlance commented on #975
But I want it to look like it does with that setting enabled. Basically - the previous dev has done a lot of work with the instant search results page (style and logic wise). There's also a very important ajax call that I'm making on the widget to further narrow the results based on some Magento helpers.

Rewriting all of this isn't really a good solution as this is for a client. I realize this is

[2017-11-27 13:42] ashtonlance commented on #975
@JanPetr Got any ideas other than writing some javascript around the extension to control when search.start() runs?

[2017-11-27 13:55] JanPetr commented on #975
What is the use case? If you need some JS to run before / after search.start(), you can use hook methods: https://community.algolia.com/magento/doc/m2/frontend-events/

[2017-11-27 14:20] ashtonlance commented on #975
So I'm using Algolia to search my store. However, some of my products are restricted from view based on the user's location. In order to implement the restriction, I'm capturing the results JSON blob that Algoila gives, parsing it into PHP and running some checks on it and spitting it back out. This process takes 3-5 seconds.

So when I'm on the results page and I type into the search bar, the sea

[2017-11-28 07:06] ProxiBlue opened #979 "Notice: Undefined offset: 0 in app/code/community/Algolia/Algoliasearch/Helper/Logger.php on line 34"
Saving a new CMS page in admin produces the error noted in subject of this ticket.
This is caused by storeid of 0 being used to return the name of the store for logging purposes. Store 0 (admin) is not in the given array.

![screenshot from 2017-11-28 14-57-30](https://user-images.githubusercontent.com/4994260/33306488-bde9418e-d44d-11e7-8582-013a62e57ef1.png)

[2017-11-30 08:18] JanPetr opened #982 "Add drag and drop icons to configuration tables"

[2017-11-30 08:32] loevgaard opened #983 "Index categories with 0 products"
Hi

We use algolia on [wattoo.dk](https://www.wattoo.dk/). It seems that categories with 0 products aren't indexed. Like this one for example: [LK FUGA](https://www.wattoo.dk/elartikler/lauritz-knudsen/lk-fuga).

Is there anything we can do to change this?

[2017-12-07 15:01] JanPetr commented on #979
Will be part of the next release. Thanks @ProxiBlue!

[2017-12-07 15:01] #979 closed

[2017-12-14 08:49] muthali commented on #199
Hi you could use [expertrec](expertrec.com) search extension to put an add to cart button in your search. You have to request them to enable this as this is a add on feature
![crop](https://user-images.githubusercontent.com/22095803/33983331-d0ff70b6-e0d9-11e7-8b0f-fb18bd040e85.png)

[2017-12-14 20:56] unleadedgroup opened #986 "Indexing no longer working"
We have a Magento 1.9.3.7 site with Algolia that recently stopped indexing.

We noticed this because some products weren't being found in search. I've manually run the indexers, both with the queue enabled and disabled, but nothing was being added to the indexes.

I then upgraded the module to 1.13.0 (was previously on 1.10.0), and no change there.

I then finally decided to try removing the index

[2017-12-14 22:00] glozano opened #987 "Same name categories with different paths showing all products combined"
Hi, we have a Magento 1.9.3.7 and are using Algolia 1.12.0.

The issue we're experimenting is that our products get mixed together whenever the category name is the same, no matter what the category path is.

Here's a look into the Magento categories:
![captura de pantalla 2017-12-14 a la s 18 40 49 copy](https://user-images.githubusercontent.com/1132977/34016364-591c6a78-e100-11e7-8490-88b2313028

[2017-12-20 13:36] glozano commented on #987
Any update on this?
Thanks

[2017-12-21 09:22] tueaidup commented on #986
We're experiencing the same issues on module version 1.13.0. Magento version 1.9.0.1 on PHP7. We've tried to do the initial indexing of products, but no products are synced. The categories are synced just fine. Tried uninstalling 1.13.0 and installing 1.10.0, but the case remains the same.

There are no errors in the log files - the cronjob generates the jobs in the database, but they are executed

[2017-12-21 09:46] JanPetr commented on #987
Hello @glozano,

I'm not able to reproduce.
Would you mind sharing with me a website where I could see the issue live?

Thanks!

[2017-12-21 09:48] JanPetr commented on #983
Hello @loevgaard,

We have a plan to add a feature to index even empty categories.
For now, you can hack it with [`algolia_after_create_category_object`](https://community.algolia.com/magento/doc/m2/backend/#algoliaaftercreatecategoryobject) event listener where you can "fake" `product_count` to be higher than 10.

[2017-12-21 11:11] JanPetr commented on #974
Fixed, will be part of the next release!
Thanks @maximilianmikus 💯

[2017-12-21 11:11] #974 closed

[2017-12-24 08:59] Paranoiddev commented on #986
It seems that this issue is occurring on multiple websites, would be nice to get a response on this, I have upgraded, then downgraded and then truncate the queue_log and  algoliasearch_queue as well then reindexed to check if it works but it nothing has happened.

[2017-12-24 09:08] Paranoiddev commented on #925
Any solution for this?

[2017-12-24 11:40] Paranoiddev commented on #986
Do you both have multiple stores setup?

[2017-12-24 12:11] Paranoiddev opened #989 "products not showing in autocomplete"
Hi,
I am using magento 1.9.2.2 with algolia extension 1.13, I have updated to newest version after products stopped showing in the autocomplete but categories did, after that I reindexed everything, and then ran empty_queue=1 but the same issue remained. As this is a multi store website, it is working on one store but not the other. I have rechecked everything, but there is nothing in the log file

[2017-12-25 12:43] tueaidup commented on #986
I can confirm that I have a multiple store setup. I’ve tried to disable the extension on the two other websites, but still no luck.

[2017-12-25 12:55] Paranoiddev commented on #986
@tueaidup I have tried this and queue has started decreasing will have to check when it completely done to see if it worked, truncate algoliasearch_queue, then re-index the data after that run this command through CLI in the root folder

EMPTY_QUEUE=1 php -f /absolute/path/to/magento/shell/indexer.php -- -reindex algolia_queue_runner
Let me know if this helps.

[2017-12-27 03:50] BanyuUrip opened #990 "How to add color swatches using HTML color code in Algolia Instant Search Filter?"
Hello!

Currently, I'm using Magento 2.1.10 and want to add color swatches to Instant Search filter using HTML color code. For the color code, we can get it from Magento's table _eav_attribute_option_swatch_. I knew the another way to achieve this is using image like in https://github.com/algolia/algoliasearch-magento/issues/654, but I prefer to use the color code.

I already do some customization

[2017-12-27 14:39] JanPetr commented on #989
Hello @Paranoiddev,

can you share with me your website where I could see the issue live? Thank you!

[2017-12-28 09:27] alamzaib commented on #283
When we press enter then it shows empty page
like http://mywebsite.com/catalogsearch/result/?q=cloth

when i press enter then it redirects above url and shows nothing, and gives one error in console that Uncaught TypeError: Cannot read property 'length' of undefined

[2017-12-31 10:26] Paranoiddev commented on #989
http://demo.thebeautyfloor.com/

Please follow this link.

I have disabled it from the main website for now and testing it on a staging domain.

[2018-01-02 13:12] JanPetr commented on #990
Hello @BanyuUrip,

you can use `transformData.item` parameter of [refinement list](https://community.algolia.com/instantsearch.js/v1/documentation/#refinementlist) and push the color code  based on color name to template data.

It could look like this:
[code]

Would that work for you?

[2018-01-02 13:17] JanPetr commented on #989
Thanks! You products indexing is not finished - you have indexed products in TMP index, but it was never moved to production for your english website. That's why you cannot see products.

Can you check if there are some jobs in indexing queue?

[2018-01-02 13:18] #983 closed

[2018-01-02 13:36] loevgaard commented on #983
Very nice @JanPetr! Thank you!

[2018-01-02 13:48] Paranoiddev commented on #989
Hi, thank you for your response.
for english index was disabled, I enabled it then re-indexed, then turncated the tables for algoliasearch_queue and re-ran the indexing and got this error below:
Exception message: SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '0' for key 'PRIMARY', query was: INSERT INTO `algoliasearch_queue` (`created`, `class`, `method`, `data`, `data_siz

[2018-01-02 14:24] #990 closed

[2018-01-02 14:24] JanPetr commented on #989
Hello @Paranoiddev,

can you try to run `TRUNCATE algoliasearch_queue;` query and then reindex again?

[2018-01-03 05:02] BanyuUrip commented on #990
Hello @JanPetr,

Yes, It worked as I expected!
But I had to make some modification to your suggestion code for the dynamic result.

[code]
As seen in the above code, I save the list of color code (_swatchColorCode_) in algoliaConfig.
So, I create an interceptor(plugin) for block Algolia\AlgoliaSearch\Block\Configuration to inject the data to the current configuration.

_di.xml_
[code]
_Configurati

[2018-01-03 08:26] Paranoiddev commented on #989
Did it, still the same error occurred.

[2018-01-03 11:39] JanPetr commented on #990
Great job @BanyuUrip! 💯

[2018-01-03 15:58] JanPetr commented on #989
OK. Could you please export the structure of the table and paste it here? Thank you!

[2018-01-04 07:17] Paranoiddev commented on #989
-- phpMyAdmin SQL Dump
-- version 4.7.3
-- https://www.phpmyadmin.net/
--
-- Host: localhost:3306
-- Generation Time: Jan 04, 2018 at 01:15 AM
-- Server version: 5.6.36-82.1-log
-- PHP Version: 5.6.30

SET SQL_MODE = "NO_AUTO_VALUE_ON_ZERO";
SET AUTOCOMMIT = 0;
START TRANSACTION;
SET time_zone = "+00:00";

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTE

[2018-01-04 08:58] loevgaard commented on #983
@JanPetr do you know when this commit will be included in a release? :)

[2018-01-15 16:45] JanPetr commented on #983
Not yet, hopefully before end of January

[2018-01-16 10:00] vvo commented on #283
@alamzaib Since this issue is closed you will not get many response, can you contact support@algolia.com? Thanks

[2018-01-25 16:38] HRR1337 opened #998 "Size of AlgoliaBundle.min.js"
Hi there,

The size of the file that needs to load (algoliabundle.min.js) is in my opinion huge. I have read somewhere that its bundled also with jquery library. Is this still the case? Gziped its still 148KB (without 5xx KB).

Question, is it possible to make this file (alot) smaller? This will improve loading speed alot!

Thanks,

HRR

[2018-01-25 17:42] t-richards opened #999 "Fatal error while performing fresh install of Magento"
# System information

 - PHP v7.0.27
 - Magento CE v1.9.3.7 (with inchoo/php7 module)
 - Algolia Extension v1.13.0 installed via magento-composer-installer

## Scenario

Performing a clean install of the Magento application with no existing data, and no sample data.

## Issue

The installation fails with a "Fatal error" in the Algolia extension.

The `Mage_Reports` module modifies the CMS homepage

[2018-01-26 07:53] JanPetr commented on #999
Fix was merged to `develop` branch and will be part of the next release!
Thanks for your contribution @t-richards 👍

[2018-01-26 07:53] #999 closed

[2018-01-29 04:03] BanyuUrip opened #1001 "Restricts products to be displayed and accessed by certain customer groups"
Hello,

I am using Magento 2.1.10 with the Algolia modul for Magento v.1.5.0. For some reasons, I need to restrict some products to be displayed and accessed by certain customer group.

For the example, there are:
Products = A, B, C, D
Customer Group = 1, 2, 3

And the example rules:
Customer Group 1 can see and access only products A, B and C.
Customer Group 2 can see and access only products C a

[2018-01-29 10:28] HRR1337 commented on #717
Does anyone have luck regarding creating the AlgoliaBundle.min.js WITHOUT jquery? Thanks!

[2018-01-29 10:33] robmorgan commented on #717
@HRR1337 I gave up and moved on to other things. Best of luck!

[2018-01-30 09:22] magegirl commented on #933
Hello,
Is it possible that the scroll automatically starts without button "show more" ?

[2018-01-30 09:23] magegirl opened #1003 "Add option to automatically starts infinite scroll without button "show more""

[2018-01-30 16:03] HRR1337 commented on #717
Going to try if I can fix that

[2018-01-31 14:07] HRR1337 commented on #717
I'm sorry but I really dont know how to work with this. Tryed installing nodejs (on windows).. but this is a bit above my expertise.

[2018-01-31 14:11] HRR1337 commented on #998
To give you an example HOW big AlgoliaBundle.min.js is in comparison with the rest of my M1 javascript files i created a screenshot....

![algolia-m1](https://user-images.githubusercontent.com/4428675/35627225-90ca94a0-0698-11e8-9557-af6f3e7ff84b.jpg)

as you can see, the algolia bundle sums up the same as the rest of the js files in this screenshot. I would really like to see this improved. YES,

[2018-02-01 11:05] ahmedfekry commented on #667
I have a similar issue. if i am searching in the arabic version i can search in both arabic and english but if i am in the english one i only can search in english.

[2018-02-01 21:24] ahmedfekry commented on #667
@rehamwael Did you find solution for this ?

[2018-02-01 21:38] ahmedfekry opened #1004 "How to search in multiple stores ?"
I have a 2 stores one in English and One in Arabic, how to search in both Arabic and English if i am in English store and vice versa.

[2018-02-07 22:32] maaxxicarvalho opened #1006 "isAddToCartEnabled directive not being properly evaluated"
Hi,

I’m in the process of enabling the **Instant Search Results Page** for my Magento store but the **Add To Cart** feature is not working properly.

I realised that the issue is happening because of some JS directive on the file `app/design/frontend/base/default/template/algoliasearch/instantsearch/hit-item.phtml`

It turns out that the conditional statement below is not being evaluated properly

[2018-02-07 23:01] maaxxicarvalho commented on #1006
The problem happens because the JSON configuration is inserting `true/false` instead of `1/0`, and for some reason, the Algolia JS is not being able to handle the boolean value, the change below fixes the problem.

[code]

[2018-02-08 15:14] alexbogias commented on #826
Yeah it would be nice to disable price indexing for B2B shops

[2018-02-08 15:25] tomekjordan commented on #1003
idea its not good. beacuse in some stores user will not be able to see footer with contact data and other important things. infinite scroll is bad idea. for SEO and UX. totally overused

[2018-02-09 02:29] BanyuUrip commented on #1001
Hi,

After I researched for a few days, finally I got a clue from https://github.com/algolia/algoliasearch-rails/issues/138 to use tagFilters for my issue. And the result worked like I expected.

Thank you

[2018-02-09 02:29] #1001 closed

[2018-02-19 22:38] tomekjordan opened #1007 "Prevent searching for default "Search for products, categories, ..." phrase"
HI. I see many times users are submitting "Search for products, categories, ..." phrase. As this is default "placeholder" for search field - its probably by accidental on mobile or something.

Is there any option to block such behavior where in the script? maybe this is related to touch mode on mobile.

thanks
Tomek

[2018-02-19 22:41] tomekjordan commented on #1004
you need to change website and search in desired store. if Algolia would show results from many websites/stores - searching would be totally irrelevant - different products, different languages. so there is no option to mix it together. and it should stay as IS. which is correct for 99.9999% stores and users

[2018-02-26 19:54] royandre commented on #998
+1

[2018-02-27 14:31] JanPetr opened #1010 "Add to cart button is enabled for instant search results page but is not visible"
More details: https://discourse.algolia.com/t/add-to-cart-button-is-enabled-for-instant-search-results-page-but-is-not-visible/4442

[2018-03-07 11:47] Cmac2712 opened #1012 "Include 'Pages' Section in Instant Search Result Page"
Hi,

Is it possible to include a 'Pages' section in the Instant Search Results Page, similar to how pages appear in the Autocomplete dropdown, or is there a way to include pages in the search results alongside products?

I couldn't find a straightforward way of doing this from the Instant search page customization docs.

Thanks,

Craig

[2018-03-09 09:12] JanPetr commented on #1012
Hello @Cmac2712,

no, it's not possible today.
How would you like to the display pages on search results page?

[2018-03-09 09:13] JanPetr commented on #1007
Hello Tomek,

no, there is no option to prevent that.
I'll take a look on this issue and let you know. Thanks for bringing it up!

[2018-03-09 09:14] #982 closed

[2018-03-09 13:48] Cmac2712 commented on #1012
Hi Jan,

I just need pages to appear on the results page, similar to how the categories section appears.

[2018-03-14 17:23] fyov opened #1013 "products not indexed"
I just installed algolia and the problems is that it does not index the products. Also, only some categories are indexed. Is there a solution?

[2018-03-14 17:27] greatwitenorth opened #1014 "Touch scroll inside results on mobile causing incorrect navigation"
**Bug: What is the current behavior?**
When I touch to scroll on mobile (tested on android Pixel 2) in search results, I'm instantly navigated to the url of the item I initially touched.

**Bug: What is the expected behavior?**
When I touch to scroll on mobile inside of search results, I expect to scroll lower into the results.

**Bug: What is the proposed solution?**
The problem code seems to be

[2018-03-14 17:37] greatwitenorth commented on #1014
Also downgrading to Algolia v1.12 seems to fix the issue.

[2018-03-16 09:25] Cmac2712 commented on #1014
I've also noticed this bug. I think it's to do with the fix put in place for this issue: https://github.com/algolia/algoliasearch-magento/issues/902

[2018-03-16 17:56] nickpiro opened #1015 "Algolia Not Loading Assets Into <head>"
Installed Algolia module on 1.9.1.1 and it seems the layout xml file is not loading assets (.js .css) to the `<head>`. The search box switched to the Algolia search box but no .js or .css files were added. Making me assume the whole plugin would not work! Which it doesn't. Any suggestions or similar situations?

[2018-03-22 08:19] laconica-roma commented on #1014
@greatwitenorth , here is the solution
[code]

P.S.
I can't contribute to the extension from windows :/

[2018-04-01 14:10] egyprotech opened #1017 "saving configuration return 404 @custom"
When ever we try to save the configuration and redirect domain/@custom 404 page

[2018-04-02 13:36] bmartus opened #1018 "ClickAnalytics support?"
Are there any plans to add Click Analytics support to this extension?  It looks like it was added to the Magento 2 plugin [a couple weeks ago](https://github.com/algolia/algoliasearch-magento-2/pull/435).

We just recently upgraded to the Business plan and are interested in using the data provided by click analytics, but don't want to implement this on our own if it's being added to this plugin in

[2018-04-03 14:02] JanPetr commented on #1018
Hello @bmartus,

thanks for raising it up! We have plans to deliver click & conversion analytics to M1 extension as well. It on our roadmap, but I cannot give you any ETA for now. But I can ensure you we are working on it :)

Thanks for understanding!

[2018-04-03 14:03] JanPetr commented on #1017
Hello @egyprotech,
can you check your logs to see if it logs any errors during the configuration save?

[2018-04-03 14:05] JanPetr commented on #1015
Hello @nickpiro,

to be honest it's the first time I see this issue. Do you have merging of static files enabled?
Cannot it be caused by cache? Cat you try to disable it?

[2018-04-03 14:07] JanPetr commented on #1014
Hello everybody,

thanks for raising the issue. It's been fixed in #1009.
@greatwitenorth Can you apply the fix to your code?

@laconica-roma Thanks for jumping in with the fix! Can you elaborate more on the "Windows" thing? Maybe open a new issue about it. Thanks! 🚀

[2018-04-03 14:08] #1014 closed

[2018-04-03 14:09] JanPetr commented on #1012
But `Categories` appear there as a filter and you can refine products by categories.

Pages cannot be used as a filter, so I'm not sure how to add it so it's not confusing for the customer. When it's added in the same way as categories and user clicks on it, he'd be redirected to the page instead of refining.

Do I miss something?

[2018-04-03 14:40] egyprotech commented on #1017
Yes I checked the system.log, but there is nothing related to algolia
configuration save, please note that it was working before.
ᐧ

On Tue, Apr 3, 2018 at 4:03 PM, Jan Petr <notifications@github.com> wrote:

[2018-04-03 16:21] nickpiro commented on #1015
Hey @JanPetr, I ended up figuring this out! It was due to our server running an OLD version of PHP. I just took over the website, which was running 1.9.1.1 (so I assumed PHP was up to date). I ended up seeing that it was breaking at an array, so when I delved further and realized that it was due to PHP. Once I updated it everything worked fine.

I'm having a new issue on our new M2 install though!

[2018-04-03 16:21] #1015 closed

[2018-04-03 17:00] JanPetr commented on #1015
Thanks for getting back with the solution @nickpiro 👍 I'm happy you made it work. Happy searching 🚀

[2018-04-06 13:57] JanPetr commented on #1006
Hello @maaxxicarvalho,

I just gave it a try and it works OK on my side. Would it be possible for you to modify / override the template to achieve what you need?

[2018-04-06 14:04] maaxxicarvalho commented on #1006
Hi @JanPetr

The only way that's working is if I remove the conditional that points to the `isAddToCartEnabled` parameter.
Now, if I remove that I'll loose the control over the add to cart button in situations where I do not want it to be visible, I don't think that's a good solution.
The only thing that's "different" on my code base is the jQuery version, 3.x. But I couldn't find any restrictions

[2018-04-14 21:07] BigBlack opened #1021 "Magento magento_default_pages_tmp objectID(10) too big?"
I'm trying to use Algolia in Magento for autocomplete search. It tell me that this object is too big.. Now I'm not interested to algolia working or not. My interest is to understand what is this object. Where I can find it? What is it?

[2018-04-18 15:57] damcou commented on #1021
Hi @BigBlack !
If you get this error during the pages indexing, it must be referring to the CMS Page with 10 as ID (you can see it in your back-office with an URL such as this one if you didn't make any customization  : admin/cms_page/edit/page_id/10/ )

It is probably the content of the page which it too big to be indexed.

Hope this will help.

[2018-04-23 07:32] steveperrycreative commented on #1013
@fyov I was having the same issue with v1.13. Try the steps [here](https://community.algolia.com/magento/doc/faq-support-data/). If that doesn't work (which it didn't for me) then try truncating your algoliasearch_queue table in the database (back-up first) and then re-build your indexes. That last step worked for me.

[2018-04-23 09:16] rossbearman opened #1022 "Most frequent searches with zero results all include "visibility_search=1" or "include_in_menu=1""
Hi,

A client using the Magento integration is wondering why all of the frequent searches for categories or products that return zero results (as shown by the Algolia Usage report) have either "visibility_search=1" (products) and "include_in_menu=1" (categories) at the end of the query.

I assumed this was related to some sort of filtering and isn't actually part of the query entered or shown to t

[2018-04-23 13:48] damcou commented on #1022
Hi @rossbearman  !

In catalogsearch page, the attribute "visibility_search=1" is indeed included to make sure that only products configured in Magento as "visible in search" are returned. (visible in search (3) + both in catalog/ in search (4) )

In category pages, its the same behaviour but with "visibility_catalog" (visible in catalog (2) + both in catalog/ in search (4) )

During indexing, vis

[2018-04-24 10:11] rossbearman commented on #1022
Thanks @damcou, that's what I assumed and explains it perfectly.

[2018-04-24 10:11] #1022 closed

[2018-04-24 18:22] egyprotech opened #1023 "exclude products"
I need to exclude some products from the results with specific attribute value, how to achieve this ?

[2018-05-02 00:46] Adel-Magebinary commented on #508
We had the same issue.

[2018-05-03 15:30] egyprotech opened #1024 "autocomplete menu auto close."
A select box has been added in the product template in the autocomplete menu, but it's not working at all it's always disabled only here in autocomplete menu, so used js liberary to override the select box and replace it with some div and ul. The issue now is that when try to select option the menu is auto closed and removed from the html dom,
So the question is, in which file in the extension hav

[2018-05-04 10:05] steveperrycreative commented on #1013
This is still an issue, see: https://discourse.algolia.com/t/magento-index-queue-not-running/

[2018-05-04 15:02] alexgran commented on #850
We would love to use that!

[2018-05-04 20:04] mitcht commented on #1021
It means the data being sent to Algolia is too large. For me, it was because i had every currency selected, and it was breaking the product sync. Try using something like PHPStorm + Xdebug and step through the code and just explore your objects being sent in lib/AlgoliaSearch/Client.php for to the request function.  You'll probably find quickly what is causing the object to be big.  There is a pre

[2018-05-14 15:47] egyprotech commented on #1024
Here is a link to the issue: http://uat.dakakyn.com/en
try to enter the word "tomatt" and under the price of the third product there is a select box. This select box is not opening just here in the autocomplete wrapper, but it's working every where else.

Please reply ASAP

[2018-05-24 14:37] jcargs opened #1030 "Magnify icon and clear cross icon display issue on search results page"
We are running into an issue after updating algolia to 1.6 on magento 2.1.7.

This issue occurs on the search suggestions page after using the search field.

**Do you want to request a *feature* or report a *bug*?**
Bug

**Steps to Reproduce:**
1. Fresh install of algolia 1.6.
2. Search for a product with the search field.
3. Be taken to the search suggestions page.
4. See a giant magnify glass sv

[2018-05-24 14:54] jcargs commented on #1030
Intended for magento 2 repo. Closing here and moving.

[2018-05-24 14:54] #1030 closed

[2018-05-28 12:03] loevgaard commented on #983
@JanPetr Do you know when this is included in a release? It's been some months :D

[2018-06-08 20:14] bmartus commented on #1018
Looks like this made it to 1.14.0.  Thanks @damcou and @JanPetr !

[2018-06-08 20:14] #1018 closed

[2018-06-13 12:16] alexbogias opened #1036 "Algolia for Magento 1: Custom attribute with only numerical values getting indexed as a number value and removes zeros in front of it Give Feedback indexing customattributes numbers magento1 string"
I am using Algolia 1.13.0 extension for a Magento 1 store and we noticed that we cant search products with a value of a custom attributes starting with 0. If you check the latest screenshot you can notice that product_code attribute getting indexed without double-quotes like the rest attributes that has non-numeric characters. This product on magento of course has the 0 in-front of the code and I

[2018-06-15 03:37] alicef907 opened #1037 "Autocomplete not working on Internet Explorer 11"
**Bug: What is the current behavior?**
Autocomplete search results not appearing on Internet Explorer 11 after update from 1.13.0 to 1.14.0, not sure if this worked on v 1.13.0. Please contact me for the URL of the website this is occurring on.

**Bug: What is the expected behavior?**
Autocomplete search results should appear when you enter a search string.\

**Bug: What is the proposed solution?*

[2018-06-15 14:58] greatwitenorth commented on #885
I see that this was closed, but I'm wondering why GA is still only limited to the instant search results page. Having the analytics from our site's search bar would be valuable information.

[2018-06-16 14:03] alexbogias commented on #1036
I found out that the function castProductObject on app/code/community/Algolia/Algoliasearch/Helper/Entity/Helper.php#L55 alter the values.
https://github.com/algolia/algoliasearch-magento/blob/5cb22d350b47cd02583dcaddfce217c00b44e142/app/code/community/Algolia/Algoliasearch/Helper/Entity/Helper.php#L55

So I created a custom extension that overrides this function and added my custom attribute in t

[2018-06-19 08:11] JanPetr commented on #1037
Hello @alicef907,

thank you for the report! Could you share with me the URL where it happens?
Other browsers work correctly?

When you take a look on Network tab in IE, does Algolia return correct results?

[2018-06-19 08:13] alicef907 commented on #1037
Hi Jan,

Thanks for getting back to me on this. The issue is occurring on a site we develop, www.retravison.com.au <http://www.retravison.com.au/>

Everything looks fine on the Network tab in IE.

[2018-06-19 08:16] JanPetr commented on #1036
Hey @alexbogias,

thank you for the report and great job on identifying the issue.
Actually right now we are working on configuration directive and you'll be able to specify "non castable attributes" directly in Advanced configuration in Algolia. I'll keep you posted :)

Cheers!

[2018-06-19 08:16] #1036 closed

[2018-06-19 08:18] JanPetr commented on #1024
Hello @egyprotech,

you can turn on Debug mode for autocomplete menu and it'll stay open:
<img width="819" alt="screen shot 2018-06-19 at 10 17 23" src="https://user-images.githubusercontent.com/1058144/41585335-0cc3a88e-73aa-11e8-8fb4-42ea3505025c.png">

[2018-06-19 08:18] #1024 closed

[2018-06-19 08:18] alexbogias commented on #1036
@JanPetr That's great! Thanks a lot for letting me know

[2018-06-19 08:20] JanPetr commented on #1023
Hello @egyprotech,

you cannot do that with configuration.
To achieve that you'll need to use [backend events](https://community.algolia.com/magento/doc/m1/getting-started/backend/), write listener and modify the collection of products so the products with specific attribute values are not fetched and indexed. Is that something you can do?

You can learn how to write listeners here: https://commun

[2018-06-19 08:20] #1023 closed

[2018-06-19 08:21] #1012 closed

[2018-06-21 09:00] egyprotech commented on #1024
Are you kidding? :)
Ofcourse I know this option and this is just for debug, and this means that once the autocomplete menu appear it won't disappear unless the page changed. This is not what I'm asking for.
Anyway I had work around on the issue and made it work as I need (kind of)