[2014-04-07 23:33] redox opened #17 "Could Algolia replace the admin/backend search?"

[2014-07-28 15:26] anbuf opened #28 "When do you think the extension will be done?"
Hi,

We have a magento based website, and we would like to use Algolia on our website. We would like to know when do you planned to release a production version? In a perfect world, we would like to use it in september. What do you think of that?

Best,
Anthony.

[2014-10-28 19:10] ZayLong opened #47 "POST Bad Request for live searches"
I've been tinkering with the module to use it as my default search engine in magento, but there seems to be an issue with sending requests that I can't resolve.

Whenever I type in a search bar this error ocours

**Error: String not allowed outside of params near line:1 column:432  algoliasearch.js?version=23:line 546**
*Object {message: "String not allowed outside of params near line:1 column:432

[2014-12-19 15:32] ZayLong opened #53 "selective reindex"
Is it possible to reindex just a single algolia index from magento?

Whenever I reindex from adding a product; it reindexs ALL of the algolia indexes which really wastes operations.

is there a solution already available for this?

[2015-01-06 20:24] ZayLong commented on #53
I had another question about this. In the READ ME it says to do a reindexing of the Catalogsearch index, and the algolia index INITIALLY.

I believe my company's site has a cronjob running that reindexes catalogsearch index every 4 hours for some reason.

Is this a bad practice for Algolia?

[2015-01-10 10:40] redox commented on #53
Hey @ZayLong, no it's not a bad practice; you can update your index as often as you want. Every 4 hour, 1 hour, 1 minute or even in realtime :)

[2015-01-21 16:05] paul-siteway opened #55 "Initial Indexting / Fontend Search fails"
**What ive done:**
- ive created a new index in angolia dashboard
- ive created API credentials for the index with allowed operations:
[code]
"Error: Index default does not exist
main.min.js:5 Object {message: "Index default does not exist"}"
[code]

[2015-01-21 17:04] redox commented on #55
Hey @paul-siteway,

could you reach me at sylvain@algolia.com with your the email you used to create the account so I can dig into the logs?

[2015-01-21 19:05] #55 closed

[2015-01-22 17:49] #53 closed

[2015-01-23 14:46] redox opened #57 "Replace the "http://" protocol by "//" before displaying thumbnails to handle HTTPS"

[2015-01-23 20:06] colinmollenhour commented on #57
It might be better to just index two urls, one for secure and one for unsecure to allow more flexibility in configurations.

[2015-01-26 07:58] redox commented on #57
Yes that could be an option as well but I'm not sure I understand the flexibility. Do you see cases where you would force a different protocol than web page protocol?

[2015-01-26 15:03] colinmollenhour commented on #57
Not a different protocol but sometimes a different domain. So one url for (location.protocol == 'http:') and one for (location.protocol == (https:').

[2015-02-08 18:37] Qasimkhan87 opened #61 "Not response on magento 1.8"
Hi,
  I have installed a latest release version without any error and also set a cron on every 5 minutes. But when I search no response is showing. and on Algolia offical site there is no records but queries are counting.
Note: I am using demo account of Agolia. and magento version 1.8 and there is no js or other php error or exceptions.
thanks
http://ritzqa.matechco.com/

[2015-02-08 19:02] redox commented on #61
The `runCron` method is not designed to reindex the products/categories without any earlier "job" pushed in the queue.

If you have disabled such job enqueuing, you can have a look at https://github.com/algolia/algoliasearch-magento/blob/master/code/Model/Resource/Engine.php#L128-L145 to see how the products are actually pushed to the queue. Calling such code before the `runCron` should probably f

[2015-02-08 19:41] Qasimkhan87 commented on #61
Thank you very much now Products upload successfully and auto complete working fine but instant page result page(result on page) is not working.
Here is my admin
![configuration system magento admin 1](https://cloud.githubusercontent.com/assets/7070593/6098060/55ae42b6-aff4-11e4-9d47-57ed6f372c49.png)
configuration screenshot

[2015-02-08 19:41] #61 closed

[2015-02-08 19:43] redox commented on #61
Alright :) Beware, instant-search is not part of the module -> seems very complex to handle it in a "generic" way. For now we only recommend building it yourself with the generated indices: https://github.com/algolia/algoliasearch-magento#instant-search

[2015-02-09 12:53] Qasimkhan87 commented on #61
Hi redox,
   I have follow as you mentioned in last comment now autocomplete is working fine. but there is one issue remaining. in autocomplete categories is not listing as in url http://www.quiksilver.com.au/
2nd can you please give me some tips how can I edit the request query and customize response for instant searching.

Thanks
Qasim

[2015-02-09 13:16] redox commented on #61
Hi Qasim,

yeah they customized a lot their module :) I would suggest to customize the Javascript code directly in  https://github.com/algolia/algoliasearch-magento/blob/master/design/frontend/template/topsearch.phtml to target the index you want + display the attributes you need.

Let me know how it goes!

[2015-02-09 13:49] Qasimkhan87 commented on #61
One last thing. I have upload a records by using simple script
$rebuildProduct = Mage::getModel('algoliasearch/Resource_Engine');
$rebuildProduct->rebuildProductIndex();
$algolia = Mage::getModel('algoliasearch/queue');
$algolia->runCron();
and it successfully upload all my 8k Products records to Agolia.
My question is that I have use a same script for categories using a  script
$rebuildProduct =

[2015-02-09 13:52] redox commented on #61
Yes that's it. Then to search for categories, you need to filter your results with the `category` tag:

[code]

[2015-02-25 19:57] Qasimkhan87 opened #63 "Re indexing issue."
Hi,
  We are reindexing Algolia from Admin Panel but not reindexing. We also try manually but same issue
$rebuildProduct = Mage::getModel('algoliasearch/Resource_Engine');
$rebuildProduct->rebuildProductIndex(1);
Thanks

[2015-02-26 09:08] redox commented on #63
Weird :/ Could you contact support@algolia.com specifying the APPLICATION_ID you're using so we can investigate on our side?

[2015-02-26 09:08] #63 closed

[2015-03-01 19:51] Qasimkhan87 commented on #63
Hi redox,
  Thanks again for your quick response. I have solve this issue. It was some conflicting issue. We have almost complete But I have one small js issue.
1- The arrow key is not working. means select a product from result using a arrow up/down key. Can you please guide.
2- second from instant searching. Is there any possibilities to select a result between min and max prices as we normally

[2015-03-01 20:05] redox commented on #63
Hi @Qasimkhan87,

You're welcome. Regarding your questions:

1. Unfortunately, the simple auto-completion menu provided in the magento module doesn't implement the key arrow navigation. You may want to switch to `typeahead.js` like in https://www.algolia.com/doc/tutorials/multi-auto-complete

2. You just need to combine another numericFilter to end up with something like: ```numericFilters= custom

[2015-03-26 19:41] #28 closed

[2015-03-27 16:44] anbuf opened #64 "Updating a product seems to reindex the whole catalog"
Hi,

First, I love algolia. The integration with Magento was really easy, the results are accurate and it was quite easy too to change the frontend.

We change our plan 9 days ago for the Starter plan (100,000 records and 1,000,000 operations). And in 9 days I used 80% of my operations but I have only 978 records. What's happened to all the operations?

It seems that each time a change an image, o

[2015-03-27 18:15] redox commented on #64
Hi @anbuf,

Thank you for the positive feedback. I have good news for you :) We're currently working hard on improving the module! And while working on it, we've discovered the same issue... It seems to reindex too much things on each save -> can you please send me an email (sylvain at algolia) so I can tag your account and remove your over-quota before the next invoice?

Don't worry about the con

[2015-03-27 18:24] anbuf commented on #64
I did for the moment, I went to System > Index Management and set the mode of "Algolia Search Index" to "Manual Update" so it gonna fix temporarily the problem while waiting the next update.

[2015-03-28 08:20] colinmollenhour commented on #64
Just a hunch, but might have to do with the Product Count option. I have this disabled and the indexer seems very efficient to me.

[2015-04-01 18:24] anbuf commented on #64
Where can I find this option?

[2015-04-03 20:55] redox opened #66 "Index Magento's pages as well (CMS)"
To be searchable in the auto-completion menu.

[2015-04-07 11:13] Fequois commented on #64
@anbuf System / Configuration / Algolia Search

[2015-04-14 08:11] maxiloc opened #67 "Configurable products are indexed with all names/attributes concatenated"

[2015-04-14 09:24] #67 closed

[2015-04-17 10:20] redox opened #68 "Put "ordered_qty" as non-searchable + non-retrievable attribute by default"

[2015-04-17 10:29] redox opened #69 "Ability to display the price including VAT"

[2015-04-17 10:31] paul-siteway commented on #57
Is it possible to just strip the protocol and return:

instead of:

This should load the content from http or https based on the current protocol of the page.

[2015-04-17 10:36] redox commented on #64
Any news @anbuf ? Could you try with our last 1.1.0 version?

[2015-04-17 10:38] paul-siteway commented on #57
Also: http://www.paulirish.com/2010/the-protocol-relative-url/

[2015-04-17 15:30] colinmollenhour commented on #57
Definitely the simplest, but Magento does support different base urls for http and https in case one is using a CDN for example. That is, web/unsecure/base_media_url and web/secure/base_media_url. I actually think the best (and still extremely simple) solution would be to not store the base_media_url at all and add it in Javascript when rendering. This way only one url is stored rather than two, b

[2015-04-17 15:38] paul-siteway commented on #57
:+1:
both simple and fast solutions to integrate. :-)

[2015-04-18 16:15] redox opened #70 "Price should be decimal"
It seems that the prices are truncated as integers.

[2015-04-20 08:44] #68 closed

[2015-04-20 08:49] redox commented on #70
Fixed in the last 1.1.0 version.

[2015-04-20 08:59] #70 closed

[2015-04-20 09:49] #69 closed

[2015-04-21 13:23] maxiloc opened #71 "Do a setSettings on save"

[2015-04-21 13:24] maxiloc opened #72 "Check forced attributes in records to not make them retrievable by default"

[2015-04-21 16:17] redox commented on #47
We just got another complain about such issue. In that case it was related to the inclusion of Protoype.js 1.6 (similar complains on SO: http://stackoverflow.com/questions/13848027/prototype-js-1-6-x-tojson-misbehaves)

[2015-04-22 08:45] #47 closed

[2015-04-22 08:48] vvo commented on #47
In the JS client, we could save toJSON methods before doing JSON.stringify and then put them back.

It would make our code safe to those problems.

[2015-04-22 16:31] SergioViteri opened #73 "Never more than 5 results"
It seems that it nevers returns more than 5 results. Does not matter what you set in results_limit config parameter. It occurs even in the demo store http://magento.algolia.com/catalogsearch/result/?q=a

[2015-04-23 16:54] #73 closed

[2015-04-24 07:51] maxiloc commented on #73
@SergioViteri Thanks for reporting the issue

[2015-04-24 08:43] #71 closed

[2015-04-24 10:25] #72 closed

[2015-04-27 12:20] maxiloc opened #74 "When a product get deleted from magento, it does not remove the algolia record"

[2015-04-27 14:56] maxiloc commented on #66
Done

[2015-04-27 14:56] #66 closed

[2015-04-27 14:58] maxiloc commented on #74
Was working but only when the queue was activated

[2015-04-27 14:59] #74 closed

[2015-04-28 08:28] #57 closed

[2015-04-28 08:34] paul-siteway commented on #57
Cloud you add a quick info on what solution you integrated and what whats needs to be done by shop owners?

[2015-04-28 08:40] maxiloc commented on #57
I just remove the "http:" or "https:" . There is nothing to do. Once the extension is updated, at next update you will get the protocol less url in your record

[2015-04-28 08:43] paul-siteway commented on #57
:+1:

[2015-04-29 07:56] maxiloc opened #75 "Index catalogsearch_query to autocomplete on past queries"

[2015-04-29 17:52] colinmollenhour commented on #75
This should definitely be optional. The catalogsearch_query table gets full of so many junk queries that using it to suggest queries in my experience is quite useless. Perhaps if it was much more selective in which queries it returned it would be ok, but with such small search volume it is still too easy for individuals to influence the results. Also you get junk appearing from bots and security s

[2015-04-29 17:56] colinmollenhour opened #76 "Catalog Search Index should not be required."
I haven't kept up with the latest development, but the previous version did not require that the Catalog Search Index be indexed when using Algolia as a complete replacement. We run stores with this indexer disabled because the index is never needed and just slows down product saves, creates deadlocks, etc. So, if this is indeed still the case you should update the README instructions and screensh

[2015-04-29 18:02] redox commented on #75
Thanks for the feedback @colinmollenhour, very appreciated. Yes it will be optional. Do you think filtering on the associated `popularity` column (is that the frequency?) with a customizable threshold would be enough?

[2015-04-29 18:43] colinmollenhour commented on #75
Yes, popularity is the number of submitted searches for the given query. I'd recommend both a minimum popularity and a maximum number of results being configurable.

[2015-04-30 04:19] Adel-Magebinary commented on #17
Yes! Easily.

[2015-04-30 14:27] maxiloc opened #77 "Upgrade to algoliasearch-client-php 1.5.6"

[2015-04-30 15:50] #77 closed

[2015-05-04 07:25] gmoigneu opened #78 "Package not available though packagist"
If you want to install it though composer, you must add in your composer.json file the repo definition :

[code]

[2015-05-04 09:04] maxiloc commented on #78
@gmoigneu Thanks for reporting, It should be good now

[2015-05-04 09:04] #78 closed

[2015-05-05 00:08] GLips opened #79 ""strpos() expects parameter 1 to be string, array given""
Running into an issue updating categories where the built in Magento model function `dataHasChangedFor` is being called with an array as an argument. See the code from [line 361 of the Algolia Indexer](https://github.com/algolia/algoliasearch-magento/blob/2b0abd8738c8b300191baf50deecbe21e24ba0f3/code/Model/Indexer/Algolia.php#L361) below
[code]
We can see that `$attribute` must be an array based o

[2015-05-06 12:01] #79 closed

[2015-05-06 12:01] maxiloc commented on #79
@GLips thanks for reporting this issue, should be good now

[2015-05-15 09:14] maxiloc commented on #76
I haven't modified such thing, so we should be good :)

[2015-05-15 09:14] #76 closed

[2015-05-18 09:42] maxiloc opened #80 "call to undefined method isIndexProductCount"

[2015-05-18 09:45] #80 closed

[2015-05-18 10:32] maxiloc commented on #80
related bug fix : 5ba7ca3

[2015-05-18 17:56] MDowdal opened #81 "Algolia is not running on my stores, Index status is "Running" for several days now"
I'm not sure really about what happened.  It was all working fine until early last week, and the credentials are accurate.  Is there a way I can troubleshoot this?

[2015-05-18 18:01] MDowdal commented on #81
I can see successful POSTS when typing in queries but am not seeing any actual autocomplete happening.

[2015-05-18 22:09] MDowdal commented on #81
Reindexing Algolia_SearchIndex results in the response:

object(PDOStatement)#1135 (1) {
  ["queryString"] => string(51) "UPDATE `catalogsearch_query` SET `is_processed` = ?"
}

[2015-05-19 09:15] maxiloc commented on #81
First thing you can do, is check if you are at the last version (we release 1.1.4 yesterday). It might resolve your issue

[2015-05-20 16:41] MDowdal commented on #81
Indexing issue was fixed but Algolia is still not showing results on my page.  Is there a good way to uninstall or reinstall?  Should I delete the indices and create new ones?  This is getting to be troublesome.

I can see the following POSTS:

POST queries

200 OK

1nu75u1ed7-3.algolia.io

5.1 KB

207.244.79.8:80

61ms
POST queries

200 OK

1nu75u1ed7-3.algolia.io

4.8 KB

207.244.79.8:80

59ms
P

[2015-05-20 17:24] maxiloc commented on #81
Can you send an email to "support at algolia dot com" so that we can help you better and do a live chat or a skype call is necessary.

[2015-05-20 17:24] #81 closed

[2015-05-21 08:24] maxiloc opened #82 "unretrievable attributes"
We need to put a message next to "Product Attributes" that says "Retrievable need to be yes in order to display it"

[2015-05-21 17:21] maxiloc opened #83 "Improve Documentation"
- Installation (only one method)
- Step by step with possible issue

[2015-05-22 13:50] #82 closed

[2015-05-22 14:11] maxiloc commented on #83
-  automatic re-indexation after an index has been cleared.

[2015-05-22 16:41] maxiloc opened #84 "Disabling products get deleted from algolia"

[2015-05-24 10:40] kokliKo opened #85 "The autocomplete is blinking"
When you type too fast, the autocomplete sometimes blink.
It happened a lot for this website http://www.rockymountainoils.com/ when I was in a call with him screensharing.
I asked him to send us a gif.

[2015-05-24 10:43] kokliKo opened #86 "Ordered_qty incorrect"
The ordered_qty attribute is incorrect. It doesn't correspond to the real number of sales.
From what I've seen:
-> It cannot be explained by variants of a product
-> It cannot be explained by the period of time taken
-> Some popular products end up being ranked lower than products that are not really sold that much.

[2015-05-26 16:41] maxiloc opened #87 "Cron update worked only the first time"

[2015-05-27 13:10] maxiloc commented on #85
Done, will be fixed on next version

[2015-05-27 13:10] #85 closed

[2015-06-01 09:38] maxiloc commented on #84
It is working fine. So I am closing this

[2015-06-01 09:38] #84 closed

[2015-06-01 09:39] #86 closed

[2015-06-01 09:49] maxiloc commented on #87
Unable to reproduce it so I am closing it for now.

Before 1.1.1 cron job wasn't running. But with latest version it should work

[2015-06-01 09:49] #87 closed

[2015-06-01 18:03] dlobb opened #89 "Warning message when reindexing algolia_search_indexer"
Warning: urlencode() expects parameter 1 to be string, object given in app/code/community/Algolia/Algoliasearch/Helper/AlgoliaSearch/Index.php on line 49

[2015-06-02 14:21] MDowdal opened #90 "Catalogsearch_Fulltext no longer indexes properly"
This has been happening since 1.13 and 1.14, but My catalogsearch no longer indexes.  Also, search queries launched outside of algolia through /catalogsearch/ are resulting in a PDOStatement.

http://www.factorydirectfilters.com/catalogsearch/result/?q=16+x+28+x+6

Any ideas?

[2015-06-03 14:10] maxiloc commented on #90
Yes I fixed the issue. The fix will be available in the next release. In the meantime you can fix it on your instance like this commit https://github.com/algolia/algoliasearch-magento/commit/e989359b14e0eff6730e64d36768cb272770d117

[2015-06-03 14:10] #90 closed

[2015-06-03 14:14] maxiloc commented on #89
Hi,

I will need at least the stacktrace to investigate that one :smile:

[2015-06-03 16:43] dlobb commented on #89
Hey there,

This is the command I'm using to run the indexer:
`./n98-magerun.phar index:reindex algolia_search_indexer`

And here's the stacktrace:
[code]

[2015-06-04 08:44] maxiloc commented on #90
Hi @MDowdal.

We are gonna remove the support for this functionality. It confusing for most of the users, and we want it to be as simple as possible. Installing the extension will enable indexing and search on Algolia by default and disable the magento one.

Next release will have a basic instant search available so it makes even more sense.

In case you still want to index catalogsearch. You will

[2015-06-04 15:01] anbuf commented on #87
Ok, I fixed it. I had to switch all my products visibility from "Catalog, Search" to "No visible individually" and put them back  to "Catalog, Search". On Magento perspective, the Catalog and Search was working well but for Algolia they were all no searchable. Since we have a script to automatically create product I suspect our script to be the reason of this mismatch. Thanks for your time.

[2015-06-08 10:33] maxiloc commented on #64
I never reproduce this issue. With the release of 1.1.5 at the end of this week it should be good. Closing this for now

[2015-06-08 10:33] #64 closed

[2015-06-08 21:18] maxiloc commented on #89
Can you try to reproduce it on develop and tell me if the bug still here ? (You will need to check your settings and save them before trying anything). Thanks

[2015-06-08 21:44] dlobb commented on #89
Tried out the develop branch and the warning message is no longer showing up. Thanks!

[2015-06-08 22:08] #89 closed

[2015-06-09 09:30] maxiloc opened #93 "Avoid long job to run concurently"

[2015-06-09 16:45] maxiloc opened #94 "Handle empty parent category when replacing categories page"

[2015-06-09 19:20] MDowdal commented on #90
I'm experiencing an issue I was seeing when I opened this case.  http://www.factorydirectfilters.com/catalogsearch/result/?q=16x20x1 results in a SQL dump page, which stopped when you fixed the issue before.  Any thoughts?

[2015-06-10 07:41] redox opened #95 "Include the currency inside the records"
Right now we have `price` and `price_with_tax` but it's not enough for the display.

[2015-06-10 09:32] redox commented on #95
Done with 32f263491ea30a57cbae9d98cae09531e56a0561

[2015-06-10 09:32] #95 closed

[2015-06-10 10:06] maxiloc commented on #90
I am not able to reproduce your issue. But we will release the new version in a few days that should fix your issue.

[2015-06-10 16:21] redox opened #96 "For composite products, include min/max prices"
For the display, we want to have the min & max prices of the underlying associated products.

[2015-06-10 16:49] #94 closed

[2015-06-11 12:33] maxiloc opened #97 "Find position of the currency symbol"

[2015-06-11 12:43] redox opened #98 "Dockerfile for dev purpose"
Dockerfile specifications:
 - [x] https://github.com/alexcheng1982/docker-magento
 - [x] magento 1.9
 - [x] mysql 5.6
 - [x] phpmyadmin
 - [x] full sample data (including thumbnails)
 - [x] php.ini with enlarged limits
 - [x] modman configured with symlinks
 - [x] shared src dir to be able to edit the sources locally
 - [x] disable cache
 - [x] enable symlinks
 - [x] enable errors
 - [x] set base

[2015-06-11 15:31] #93 closed

[2015-06-11 16:03] #97 closed

[2015-06-11 17:15] #96 closed

[2015-06-12 14:22] maxiloc opened #99 "Handle hierarchical categories"

[2015-06-12 14:28] redox commented on #98
Check also https://github.com/occitech/docker/blob/master/magento/php5.5/apache/bin/set-base-url

[2015-06-14 08:39] redox commented on #98
@maxiloc let me know what you think about the current version. All bullet points haven't been done, but it's working fine.

[2015-06-14 08:49] redox commented on #98
Not sure it's related to the base-url change, but the pages are now indexed with a weird URL: http://192.168.59.103/n98-magerun/reward-points (not sure why this `n98-magerun` does here :p)

[2015-06-14 08:53] maxiloc commented on #98
Yes that expected. It is not related to magerun but to magento

[2015-06-14 08:56] maxiloc commented on #98
Oh didn't see the all url. Yes its weird I'll have a look

[2015-06-14 11:22] maxiloc commented on #98
@redox maybe we can host the sample data. The magento link is super slow. What do you think ?

[2015-06-14 11:33] redox commented on #98
Sure, on it.

[2015-06-14 12:47] redox opened #100 "Error after fresh install"
After a fresh install, I get this error when trying to go to the full-results page. FYI, I never saved the Algolia Search configuration.

[code]

[2015-06-14 13:10] maxiloc commented on #98
@redox Can we do the same for magento-1.9.1.0.tar.gz

[2015-06-14 13:11] maxiloc commented on #100
I think I fixed it. Just waiting for the docker instance to run to check if it worked :)

[2015-06-14 13:38] #100 closed

[2015-06-14 13:44] redox commented on #100
Yes it works now.

[2015-06-14 13:44] maxiloc commented on #98
Done with d3bba59

[2015-06-14 13:45] maxiloc commented on #98
done with 12cbd78

[2015-06-15 12:34] #98 closed

[2015-06-15 12:46] #83 closed

[2015-06-16 12:20] aphroz opened #101 "Dollar sign"
Hello,

my shop uses another currency than USD, can't we change the $ with Mage::app()->getLocale()->currency( $currency_code )->getSymbol() ?

[2015-06-16 12:29] maxiloc commented on #101
@aphroz Yes it's done on the develop branch, will be in the next release that will be available on the magento store in a few days

[2015-06-16 12:29] #101 closed

[2015-06-16 13:42] maxiloc opened #102 "Put checked facets on top"

[2015-06-16 22:17] redox opened #108 "Expose the maxValuesPerFacet index setting"

[2015-06-17 09:17] #108 closed

[2015-06-17 09:17] #102 closed

[2015-06-17 13:04] maxiloc opened #109 "Handling too big record"

[2015-06-17 20:55] MDowdal opened #110 "SQL Dump on Instant Search Results Page"
http://www.airfiltersdelivered.com/catalogsearch/result/?q=19%201/2%20x%2024%20x%201/2&instant=1#q=19%201/2%20x%2024%20x%201/2&page=0&refinements=[]&numerics_refinements={}&index_name=%22magentonew_afd_products%22 results in the following output:

object(PDOStatement)#568 (1) {
  ["queryString"] => string(1324) "SELECT DISTINCT `e`.`attribute_set_id` FROM `catalog_product_entity` AS `e`
 INNER JOI

[2015-06-17 21:05] maxiloc commented on #110
Hi. We just released the new version of the plugin. Can you update and try if you still have this issue. This should be fixed. Check your settings save them and reindex your data to avoid conflicts with the previous version.

[2015-06-17 21:11] MDowdal commented on #110
I actually just updated to the magento connect version and am triggering the issue.

Micheal Dowdal

Lead Developer

Con-Air Industries

Office: 321-888-4046

Mobile: 321-304-7324

From: maxiloc [mailto:notifications@github.com]
Sent: Wednesday, June 17, 2015 5:05 PM
To: algolia/algoliasearch-magento
Cc: MDowdal
Subject: Re: [algoliasearch-magento] SQL Dump on Instant Search Results Page (#110)

H

[2015-06-17 21:19] MDowdal commented on #110
Seems like it's still creating an issue with catalogsearch index.  Has been running for over 40 minutes now.

[2015-06-17 21:33] maxiloc commented on #110
@MDowdal Can you try to investigate, to see where it comes from. I am not able to reproduce it.

[2015-06-17 21:33] maxiloc commented on #110
I am not sure it is related to the plugin

[2015-06-17 21:35] MDowdal commented on #110
I've been having issues with catalogsearch since 1.1.14 came out, which I had opened under issue 90.  My catalogsearch index has taken inordinate amounts of time and creates a crash page when attempting to use catalogsearch during index.

[2015-06-17 21:37] maxiloc commented on #110
Yes but it is not supposed to index anymore. Since we replace catalogsearch by algolia

[2015-06-17 21:37] maxiloc commented on #110
Will investigate tomorrow. If you find anything please tell me.

[2015-06-17 21:38] MDowdal commented on #110
I'm running a manual reindex to see if that clears anything and will update you tomorrow if I'm still seeing it.

[2015-06-18 11:49] aphroz commented on #109
I think this issue may be related to grouped products

[2015-06-18 13:58] MDowdal commented on #110
Unfortunately we're still experiencing this issue.  Can you please advise?

[2015-06-18 14:01] maxiloc commented on #110
Can you come on the live chat so that we can debug the issue ?

[2015-06-18 14:04] MDowdal commented on #110
The catalogsearch index took roughly 8 hours to complete.  How do I get on the live chat?

[2015-06-18 14:06] maxiloc commented on #110
You come on https://algolia.com you will have a "Need help" button in the right bottom corner. And then Chat with us

[2015-06-18 14:20] MDowdal commented on #110
Can't at this moment.  However after installing the new version I've been getting Javascript errors on my site:

TypeError: $.noConflict is not a function
http://www.airfiltersdelivered.com:2209

SyntaxError: Unexpected token &
http://www.airfiltersdelivered.com:2693

[Algolia] Invalid instant-search selector: .main
http://www.airfiltersdelivered.com:994

Would appreciate if you could come take a

[2015-06-18 14:20] MDowdal commented on #110
SyntaxError: Unexpected token &
http://www.factorydirectfilters.com:5685

[2015-06-18 14:24] MDowdal commented on #110
Here's what I get on a product page:

ReferenceError: WOW is not defined
http://www.factorydirectfilters.com/ge-fqropf-reverse-osmosis-filter.html:105

TypeError: accordion is not a function
http://www.factorydirectfilters.com/ge-fqropf-reverse-osmosis-filter.html:4160

TypeError: accordion is not a function
http://www.factorydirectfilters.com/ge-fqropf-reverse-osmosis-filter.html:4173

TypeError:

[2015-06-18 14:26] maxiloc commented on #110
[Algolia] Invalid instant-search selector: .main
This one means that instant search is enable and you have a bad selector for it. You probably want to use #content instead you can modify it in System > Configuration > AlgoliaSearch > Instant Search Results Page Configuration > DOM Selector

[2015-06-18 14:29] MDowdal commented on #110
[Algolia] Invalid instant-search selector: #content
 <view-source:http://www.factorydirectfilters.com/> http://www.factorydirectfilters.com:967

Micheal Dowdal

Lead Developer

Con-Air Industries

Office: 321-888-4046

Mobile: 321-304-7324

From: maxiloc [mailto:notifications@github.com]
Sent: Thursday, June 18, 2015 10:26 AM
To: algolia/algoliasearch-magento
Cc: MDowdal
Subject: Re: [algoliasearc

[2015-06-18 14:29] maxiloc commented on #110
It looks like you don't have any assets loaded (css/js). Can you check ?

[2015-06-18 14:31] MDowdal commented on #110
All the assets are loaded through the Magento connect extension.  This behavior did not start happening until we updated.

[2015-06-18 14:33] MDowdal commented on #110
I just uninstalled through Magento Connect and everything is working fine now.  The issue was the new Algolia search.

[2015-06-18 14:35] MDowdal commented on #110
Even better, removing Algolia no longer results in the crash page when I pull up catalogsearch at http://www.factorydirectfilters.com/catalogsearch/result/?q=25+x+25+x+1 or http://www.airfiltersdelivered.com/catalogsearch/result/?q=17+x+85.

We really want to make use of this extension.  Would appreciate it if you could help debug it.

[2015-06-18 14:36] maxiloc commented on #110
Can you come chat here https://www.hipchat.com/gmaN3Z4cx. Github is not the best place for that

[2015-06-19 07:36] vvo opened #112 "isolate jquery jqueryui typeahead and algolia javascript code from the page"
The only thing that can lie in the window object must be:

[code]

Dealing with this today

[2015-06-19 07:39] redox commented on #112
:+1:

[2015-06-19 16:41] MDowdal commented on #110
Just did an update to 1.2.2 and still having the same issue.

[2015-06-19 16:48] maxiloc commented on #110
Ok I will check that later today. It is on the staging server. Right ?

[2015-06-19 16:52] MDowdal commented on #110
Yep, http://upgrade.factorydirectfilters.com/ge-fqropf-reverse-osmosis-filter.html

Micheal Dowdal

Lead Developer

Con-Air Industries

Office: 321-888-4046

Mobile: 321-304-7324

From: maxiloc [mailto:notifications@github.com]
Sent: Friday, June 19, 2015 12:48 PM
To: algolia/algoliasearch-magento
Cc: MDowdal
Subject: Re: [algoliasearch-magento] SQL Dump on Instant Search Results Page (#110)

Ok I

[2015-06-19 21:59] #112 closed

[2015-06-19 22:08] maxiloc commented on #110
@MDowdal Yes so it is not related to the extension directly. You need to find the code bellow that is not part of the extension add a semi colon at the end. This will fix javascript errors. Do not forget to recompact the js. So that the ';' is also present in the compact file

[code]

[2015-06-19 22:08] #110 closed

[2015-06-22 06:21] redox opened #114 "New UI option to disable the Algolia branding"
It's more convenient than editing the underlying `phtml` file :)

[2015-06-22 10:32] maxiloc opened #115 "Handle special price"

[2015-06-22 10:40] maxiloc opened #116 "Handle grouped price"

[2015-06-22 12:34] redox commented on #116
I've no idea how often/much groups are used in Magento. Storing 1 price per group per record will probably not scale and having 1 index per store per group is probably over-kill.

Do you guys have an idea how popular the Magento "price groups" are? Also, what is the average number of groups you're used to deal with? cc @sergeykalenyuk @colinmollenhour @zainengineer @andrew-dwyer @dlobb

[2015-06-22 15:12] colinmollenhour commented on #116
I assume you mean Customer Groups? I don't think they are used often. However, if someone did use them then I would think one index per store/customer group would make sense.

One way to implement this without losing efficiency would be to map all customer groups to a prefix in the config. This way all of the default customer groups could map to the same prefix by default (empty string), and if so

[2015-06-22 18:08] MDowdal commented on #110
That javascript error makes the product page work but I still have the crash on catalogsearch.

[2015-06-22 18:53] MDowdal commented on #110
I was able to get the catalogsearch crash to happen on my live site, but not able to reproduce on staging.  Also, when installed to my live site it duplicated the NIVOSlider on the homepage of airfiltersdelivered.com.  Very strange.

[2015-06-22 19:02] muyayo commented on #110
.

[2015-06-22 22:00] #114 closed

[2015-06-23 08:58] maxiloc commented on #110
@MDowdal Can you try to run the mysql command on the dump. And check if there is an error.

For the slider, it not probably not related to the extension. It seems you have javascript error, can you try to fix it first.

[2015-06-23 12:09] maxiloc commented on #116
Ok will not be implemented for now. Lets close this one and re-open it if needed by someone.

[2015-06-23 14:39] #115 closed

[2015-06-23 15:15] redox opened #117 "Ability to display an "Add to cart" button"

[2015-06-23 15:47] MDowdal commented on #110
I can run the SQL query and get the same error on Upgrade's database where the catalogsearch crash doesn't happen.  Last week when I removed alogolia completely the issue disappeared as well, and only reoccurs after reinstalling algolia.

[2015-06-23 16:31] MDowdal commented on #110
Okay, now I've finally gotten catalogsearch to stop crashing.  No idea why, because I didn't change or remove any other extensions - just required several reindexes of catalogsearch.

[2015-06-23 16:32] MDowdal commented on #110
Should I disable indexing of catalogsearch when I install Algolia in the future?  Or in any other way attempt to disable catalogsearch?

[2015-06-23 17:14] maxiloc commented on #110
Ok. Cool that the issue is fix (kind of). No idea why either :smile: . Yes you can definitely disable magento catalogsearch indexing because the Algolia indexer should replace it totally.

I am thinking of a way to avoid this issue permanently. Need to discuss it with the team

[2015-06-23 17:21] MDowdal commented on #110
Thanks.  I do find it strange that the issue is not occuring on the staging instance.  Need to check a couple of configurations.

[2015-06-23 22:52] maxiloc commented on #117
Done with 9d38be6

[2015-06-23 22:52] #117 closed

[2015-06-24 18:14] redox opened #119 "Reindex without credentials"
Would be nice to display an error if you try to reindex without configuring your credentials.

[2015-06-24 18:28] maxiloc commented on #119
Will see tomorrow how we can do that properly. But yes would be good

[2015-06-24 20:17] MattHans0n opened #120 "Work with visual merchandiser"
Would it be possible to take note of the category positions used in http://www.ontapgroup.com/visual-merchandiser.html

[2015-06-24 21:18] maxiloc commented on #120
@MattHans0n I think we are not gonna handle that by default. What you could do is add an integer attribute, for example "order", to each product record thanks to the "algolia_product_index_before" event. And then add it to your custom ranking.

[2015-06-24 21:18] #120 closed

[2015-06-24 21:46] maxiloc opened #121 "Number of product categories to display"
By default we put "in category 1, category 2, ..." under the product name on the autocomplete.

Maybe we can display a fixed number to display (like 2 or three with ... at the end) and/or Maybe we can put an option in UI

@redox What do you think

[2015-06-24 21:53] redox commented on #121
Yeah, putting an option in the UI is probably the way to go because we'll not be able to determine the good value for all stores.

[2015-06-25 10:06] maxiloc commented on #121
We put a text-ellipsis instead

[2015-06-25 10:06] #121 closed

[2015-06-25 10:45] #119 closed

[2015-06-26 15:03] maxiloc opened #122 "Refresh do not work on instant"

[2015-06-26 18:14] vvo commented on #122
linked to algolia/algoliasearch-helper-js#121?

[2015-06-26 18:16] maxiloc commented on #122
Yes it was but was fixed by switching setpage and setindex. It is deployed, I just forgot to close it

[2015-06-26 18:16] #122 closed

[2015-06-29 09:25] aphroz opened #123 "value_id returned instead of value in dropdown attributes"
Dropdown attributes like manufacturer are displayed as facets using there value_id instead of the value.

[2015-06-29 11:36] maxiloc commented on #123
@aphroz Yes you are right. I am fixing it right now

[2015-06-29 12:08] #123 closed

[2015-06-29 15:29] maxiloc opened #124 "Issue with url loading"

[2015-06-30 07:06] aphroz opened #125 "The slider doesn't shows up"
The slider doesn't shows up on attributes like price:

![image](https://cloud.githubusercontent.com/assets/261406/8425568/4adbba76-1f07-11e5-82d6-6272c084a079.png)

[2015-06-30 07:12] maxiloc commented on #125
Works fine on  last version [here](https://magento.algolia.com/catalogsearch/result/?q=madison&instant=1#q=madison&page=0&refinements=[]&numerics_refinements={%22price_with_tax%22%3A{%22%3C%3D%22%3A510}}&index_name=%22magento_default_products%22).

Can you check for js errors ?

[2015-06-30 07:15] aphroz commented on #125
My bad,

Refreshed the cache and it works fine.

Thank you

[2015-06-30 07:15] #125 closed

[2015-06-30 07:16] #124 closed

[2015-07-01 14:21] MDowdal opened #126 "AJAX spins forever on instant search results page"
Hello, the AJAX appears to spin forever on my instant search results page.  How can I fix this?

http://www.factorydirectfilters.com/catalogsearch/result/?q=20%20x%2020%20x%206&instant=1#q=20 x 20 x 6&page=0&refinements=%5B%5D&numerics_refinements=%7B%7D&index_name=%22magentonew_fdf_products%22

[2015-07-01 14:31] maxiloc commented on #126
Hi,

You have this js error : Uncaught [Algolia] Invalid instant-search selector: #content

You need to configure you instant selector with .main instead like the screenshot bellow :

![selector](https://cloud.githubusercontent.com/assets/1689007/8456875/7bfdef86-200e-11e5-8f65-305065eaf4c1.png)

[2015-07-01 14:31] #126 closed

[2015-07-02 05:40] aphroz opened #127 "Change chunk size when not using the queue"
We cannot change the chunk size of the index building process in the backend when the queue is disabled.

[2015-07-02 08:38] maxiloc commented on #127
@aphroz Can you give me a bit more details why you need this option to be available when the queue is disabled ? Is it to avoid memory limit issue ?

[2015-07-02 08:41] aphroz commented on #127
I would like to define the number of products sent to the Algolia server at each call.

[2015-07-02 08:47] #127 closed

[2015-07-02 08:48] maxiloc commented on #127
@aphroz I am not going to release on magento connect right away. But as it is only a 1 line modification you can reproduce the change on your instance.

Good for you ?

[2015-07-02 08:51] aphroz commented on #127
Sure, thanks

[2015-07-02 09:25] aphroz commented on #109
Indexing only simple products seems to fix this issue.

[2015-07-02 09:28] maxiloc commented on #109
Ok. I am keeping this open as we want to handle every types of product

[2015-07-02 09:38] aphroz commented on #109
Sure, it was just to update you on this issue

[2015-07-02 09:39] maxiloc commented on #109
Thanks :smile:

[2015-07-02 16:55] aphroz opened #128 "Multiselect attributes displayed as a string"
Multiselect attributes are displayed as a string:

![image](https://cloud.githubusercontent.com/assets/261406/8482608/1367117c-20eb-11e5-9f5f-390c2a7ea0b8.png)

![image](https://cloud.githubusercontent.com/assets/261406/8482760/ed6ce644-20eb-11e5-9e92-703baec69139.png)

![image](https://cloud.githubusercontent.com/assets/261406/8482600/031ad6a0-20eb-11e5-8209-7bd8c29a8b4a.png)

[2015-07-03 07:18] redox commented on #128
Good catch @aphroz, we're gonna have a look at that one!

[2015-07-03 07:55] maxiloc opened #129 "Remove the addToCart button when in_stock is false"

[2015-07-03 08:18] #129 closed

[2015-07-03 08:42] #128 closed

[2015-07-06 09:02] redox opened #130 "Ensure the new popular suggestions are well taken into account"
After using the `dev/restart.sh` script I only get 35 suggestions indexed, even if I introduced new ones doing queries (confirmed by looking at the MySQL table).

[2015-07-06 10:13] #130 closed

[2015-07-06 12:32] aphroz opened #131 "Value "No" is sent when the attribute is not available"
When an attribute is set as a facet and is not available in the product data, the value "No" is sent:

In the search result:

![image](https://cloud.githubusercontent.com/assets/261406/8522138/5a8097f6-23eb-11e5-9542-d101ad9643ca.png)

In Algolia:

![image](https://cloud.githubusercontent.com/assets/261406/8521908/12288330-23e9-11e5-9552-bd38d7e36652.png)

[2015-07-06 12:33] maxiloc commented on #131
Hi,

Yes fixed this morning with 0775f25.

Thanks for reporting

[2015-07-06 12:33] #131 closed

[2015-07-06 12:44] aphroz commented on #131
Should I clear the index and re-index then?

On Mon, Jul 6, 2015 at 2:33 PM, maxiloc <notifications@github.com> wrote:

[2015-07-06 12:44] maxiloc commented on #131
You can just reindex once you made the change.

[2015-07-07 18:01] MDowdal opened #132 "algoliasearch_run_queue running very long"
It's been running today for times well over what I expected, clogging my cron queue.  The current process has been running for over twenty minutes!

[2015-07-07 19:07] MDowdal commented on #132
I had to kill the cronjob as it was causing Cron.php to have severe issues.  It ran so long that I actually had to restart cron.php after it looped for over 40 minutes on output like this:

open("/chroot/home/conairin/conairindustries.com/html/media/catalog/product/v/4/v40xl_108.jpg", O_RDONLY) = 12 fstat(12, {st_mode=S_IFREG|0644, st_size=292714, ...}) = 0
lseek(12, 0, SEEK_CUR)

[2015-07-08 05:56] aphroz commented on #132
I experience the same issue, here is my queue configuration:

![image](https://cloud.githubusercontent.com/assets/261406/8564012/af281cd2-2546-11e5-878c-650f2db343cd.png)

Actual execution duration is 9-10 minutes.

[2015-07-08 06:51] maxiloc commented on #132
@MDowdal @aphroz Hi, can you try to lower down the configuration to 2 and 10 for the two last config and check if the algoliasearch_queue table size is decreasing after the cron job has been started

[2015-07-08 08:00] aphroz commented on #132
It takes now 10 seconds:

[image: Inline image 1]

But it will index only 20 products every 5 minutes, right?

On Wed, Jul 8, 2015 at 8:51 AM, maxiloc <notifications@github.com> wrote:

[2015-07-08 08:30] maxiloc commented on #132
@aphroz @MDowdal

It is kind of impossible to evaluate which are the right settings. It depends a lot on your stores and the server running it.

I added these settings to be able to fine tune the indexing. You will need to find the settings that make you instance able to process for max 4/5 minutes by cron run.

[2015-07-08 08:30] #132 closed

[2015-07-08 12:35] aphroz opened #133 "Category count and products display inconsistent"
When a category that contains 175k+ products is clicked only 2 products are found, and only 1 is displayed.

![image](https://cloud.githubusercontent.com/assets/261406/8570095/4e33c45c-257e-11e5-8fcd-9ad7cf7abb08.png)

![image](https://cloud.githubusercontent.com/assets/261406/8570105/6133ab26-257e-11e5-90da-141d6b4acd4a.png)

[2015-07-08 12:40] aphroz commented on #133
Related to this config:

![image](https://cloud.githubusercontent.com/assets/261406/8570213/384dc8ee-257f-11e5-80c8-f901f2a46d4d.png)

[2015-07-08 12:41] #133 closed

[2015-07-08 12:41] maxiloc commented on #133
@aphroz Yes it expected. Why are you using dinstinct ?

[2015-07-08 12:44] aphroz commented on #133
I was experimenting ;)

I thought it would not behave like that, however this functionnality will be very useful for us.

[2015-07-08 12:51] maxiloc commented on #133
Ok. The implementation of the distinct feature is going to change in a few days to handle grouping of results. The facets count will be computed differently.

[2015-07-08 15:44] aphroz opened #134 "magnifying glass should be clickable to launch the search"
In the top search input, the magnifying glass should be clickable to launch the search:

![image](https://cloud.githubusercontent.com/assets/261406/8574816/ec69b13a-2598-11e5-97bf-9ad82a78c766.png)

[2015-07-08 16:00] maxiloc opened #135 "Instant Search only doesn't work on home page"

[2015-07-08 16:12] maxiloc opened #136 "[Question] Is partial update possible"
@aphroz

[2015-07-08 16:30] #135 closed

[2015-07-08 16:31] maxiloc commented on #135
@aphroz Fixed :). Will be available with next release. By the end of the week

[2015-07-08 16:35] maxiloc commented on #134
Fixed with #c760bc2

[2015-07-08 16:35] #134 closed

[2015-07-08 16:49] MDowdal commented on #132
I applied the changes you've suggested but am watching my 32GB of server memory suddenly double in usage after running the Algolia queue cron job as a single job.  (from 20% to 61.6%) as of this moment.  Seems pretty severe with only 1000 lines in the mySQL table.

[2015-07-08 16:53] aphroz commented on #135
Great! thanks

On Wed, Jul 8, 2015 at 6:31 PM, maxiloc <notifications@github.com> wrote:

[2015-07-08 16:59] MDowdal commented on #132
Here's what I got back from server after executing this (Memory usage is now at 66.1% by the way):

"Host "mce138-fs1.nexcess.net" has not been available for a while now to update the status of this task and the task is not reporting back by itself"

Looks like an issue with the search queue cronjobs in this version.  I'm going to go ahead and leave this disabled for now without a resolution @maxi

[2015-07-08 23:31] maxiloc commented on #136
This could allow to be able to index some attribute via other sources than magento

[2015-07-09 00:20] redox commented on #133
Yeah indeed, right now the counts are computed from the distinct hits (so only from the one kept). We'll change that in the next few days to be computed from all matching hits before the distinct application.

[2015-07-09 00:29] redox commented on #136
As soon as the other source knows the `objectID` of the target product, I don't see any issue with that.

But if it's for "optimization" (avoid sending the whole product, just the modified attributes) it's not worth it because it costs approximatively the same.

[2015-07-09 07:58] aphroz commented on #136
Actually the problem is that we use multiple source to enrich the Algolia index. When Magento send the information to Algolia, all the existing data is wiped.

I use the function "partialUpdateObject" to enrich the existing data without losing the existing data, but I lose this information when the product is updated again from Magento.

[2015-07-09 08:07] aphroz opened #137 "Slider tolerance"
Would it be possible to allow a tolerance to non-numeric data in slider facet attributes?

I encounter this error when non-numeric data is stored in slider attributes:
<i>Uncaught Bad facet function for 'slider'</i>

And the search result is not displayed.

The best option would be to remove all non-numeric characters (in, cm, m, etc.).

Otherwise, log the error and display the page result anyway.

[2015-07-09 10:36] aphroz opened #138 "Result page is not responsive"
The result page is not displayed nicely on mobile devices:
![image](https://cloud.githubusercontent.com/assets/261406/8593337/044ce1ca-2637-11e5-86b4-9c20698e7318.png)

[2015-07-09 11:58] redox commented on #136
Ah yes indeed @aphroz, good point. So if we used `partialUpdateObject` instead of `addObject` in the Magento extension itself, would that fix the issue? Or should you build another index based on the one the extension is creating + your external data -> maybe it's simpler (because the data will always been consistent).

[2015-07-09 12:40] aphroz commented on #136
I believe it will fix the issue indeed. If I create another index it will multiply the records but I don't really see the improvement. A good thing would be the possibility to chose the behaviour in the backend of Magento.

[2015-07-09 12:44] redox commented on #136
Yeah my only concern is that if we use `partialUpdateObject` in the extension you'll never really manage to tell your external source to update the new products just after the extension created them. Having another index would allow you to do like:

Every X minutes run:
[code]

SO NEW_INDEX will always be consistent (every products will always have all attributes). Use NEW_INDEX in the JS code.

[2015-07-09 13:56] maxiloc commented on #137
@aphroz Yes the error is expected. I think we are gonna keep it like that for now. We want the developer to see there is something wrong when putting slider for a non numerical attribute

[2015-07-09 13:56] #137 closed

[2015-07-10 10:08] aphroz commented on #136
In my case all the products will be updated every day and the data is pushed to Magento and to Algolia from an ETL that manages both.

[2015-07-10 10:12] aphroz opened #139 "Filter navigation: No results found matching"
When I filter the search result and no matches are found I have to go back using the browser button because the filter navigation disappears and there is only the message 'No results found matching""'.

I'd like to keep the filter navigation even if there are no results in the instant search.

[2015-07-10 10:14] maxiloc commented on #139
You should have a Clear button see => http://magento.algolia.com/catalogsearch/result/?q=ade&instant=1#q=adezdez&page=0&refinements=%5B%5D&numerics_refinements=%7B%7D&index_name=%22magento_default_products%22

[2015-07-10 10:33] aphroz commented on #139
Yes, but it will clear all the filters and search terms.
Le 10 juil. 2015 12:14, "maxiloc" <notifications@github.com> a écrit :

[2015-07-10 14:19] shurhold opened #140 "Associated Group Products"
We as many people do use group products to show a group of similar products.  In our case a brush that comes in 4 stiffnesses.  We have the group visible and the individual products not.  This forces people to shop from the group page.  The issue is when we want to rank by units sold these group pages are ignored.  This page should be ranked based on its associated products within.

[2015-07-10 14:27] maxiloc commented on #140
@shurhold Yes it's done on the latest version :smile:

[2015-07-10 14:27] #140 closed

[2015-07-10 14:36] redox commented on #140
@maxiloc It's only available since the non-published 1.3.5, isn't it?

[2015-07-10 14:37] maxiloc commented on #140
No this one was handle before 1.3.4. Still I fixed other issues regarding grouped products in 1.3.5

[2015-07-10 14:39] redox commented on #140
:+1:

[2015-07-10 14:39] shurhold commented on #140
@maxiloc  Should I wait for 1.3.5 (When?) or install 1.3.4

[2015-07-10 14:41] redox commented on #140
@shurhold we cannot publish the 1.3.5 to the Magento Connect store right now because of an issue on their side while trying to upload the zip :/ You can already install it from the archive if you want, the 1.3.5 is ready: https://github.com/algolia/algoliasearch-magento/tree/master/releases

[2015-07-10 14:42] maxiloc commented on #140
You just need to check your settings and save them (even if everything was good) and reindex the data. Same when 1.3.5 will be available

[2015-07-10 15:36] maxiloc opened #141 "Allow to exclude stores from indexing"

[2015-07-10 15:37] maxiloc commented on #141
@redox Is that something we want ?

[2015-07-10 15:37] maxiloc commented on #139
@redox What do you think ?

[2015-07-10 15:47] redox commented on #141
What would the use-case be? One single Magento instance with multiple stores and you don't want to add the search feature on one of them?

[2015-07-10 15:50] maxiloc commented on #141
I am not sure exactly sure. It was ask by a client by email. I am gonna ask him

[2015-07-13 17:55] redox commented on #139
Yeah I think it makes sense. We should be able to display the sidebar even if there are no results with the help of the underlying helper.

[2015-07-13 17:58] redox commented on #99
Waiting for the feature to be implemented in the underlying [AlgoliaSearch helper](https://github.com/algolia/algoliasearch-helper-js).

[2015-07-13 18:45] #75 closed

[2015-07-16 08:57] bobylito opened #142 "Issue with subfolders"
when installing magento in a subfolder, we have issues with the categories replacement. Instead of using the same sub folder, it uses the root url.

[2015-07-16 09:17] maxiloc opened #143 "Translation for static content in templates"

[2015-07-16 09:22] maxiloc opened #144 "Handle autocompletion for attributes like Manufacturer or Brand"

[2015-07-16 11:30] #142 closed

[2015-07-16 11:32] maxiloc commented on #141
I am closing this for now. Since I have no news from the customer

[2015-07-16 11:32] #141 closed

[2015-07-16 16:17] maxiloc opened #145 "% sign in facets break the hash loading"

[2015-07-16 16:34] #145 closed

[2015-07-16 17:11] Yoshizmo opened #146 "Disjunctive facets not working on page reload"
This commit breaks disjunctive facets on page reload:
https://github.com/algolia/algoliasearch-magento/commit/b0a799455734f551e41e44f71cff591b54ab7aa3

In the updateUrl() function disjunctive facets are being added to the URL in a different way then conjunctive. Adding both types to the URL in the same way fixes the issue for me.

/** Get refinements for disjunctive facets **/
            for (var

[2015-07-16 17:12] maxiloc commented on #146
@Yoshizmo yes I am fixing it right now

[2015-07-16 17:13] Yoshizmo commented on #146
Thanks, I was on your chat with someone and I can hear the beeps that they are talking to me but it shows chat is offline so I couldn't continue with them.

[2015-07-16 17:16] #146 closed

[2015-07-16 22:46] redox opened #147 "Ability to disable the automatic-indexing"
You sometimes just want to disable the automatic indexing (add/update/removal of products) for a while. We could add an (Advanced) option that if enabled would just `return` instead of building the indexing jobs.

[2015-07-17 11:29] namamai commented on #147
The issue stems from if you are using a Data Feed to automatically update your product's on a regular basis, a product might be saved, updated & indexed multiple times per day. With over 30,000 products this can quickly lead to a rather large number of operations taking place. Alternatively an option might be to limit the number of times a product can be queued/indexed with Algolia per day/week es

[2015-07-17 16:36] maxiloc commented on #147
@namamai I think we are gonna go with the option in the advanced panel, because limiting the number of time a product can be queued can resolve in issues regarding synchronization between magento database and algolia indices.

[2015-07-17 18:24] ZayLong opened #148 "no results on catalogsearch"
I get no results whenever I try to search.

No errors.

The instant search works.

Search engine is set to Mysql Fulltext .

What am i missing here?

[2015-07-17 18:27] redox commented on #148
Hi @ZayLong,

what do you mean by "try to search" if "the instant search works"? Could you provide us an URL to test? Could you check if you have some Javascript errors in your console? Also, do you see generated AJAX calls when you search?

[2015-07-17 18:29] ZayLong commented on #148
Catalogsearch returns zero results.

URL: http://staging.theindustrysource.com/

I see no generated AJAX and there are no javascript errors in the console.

[2015-07-17 18:29] ZayLong commented on #148
the instant "search while you type" works.

but the actual catalogsearch results page does not.

[2015-07-17 18:33] redox commented on #148
Oh, from what I understand the search results page is just not enabled with Algolia; you need to enable it from here:

<img width="633" alt="screen shot 2015-07-17 at 11 32 27" src="https://cloud.githubusercontent.com/assets/29529/8754323/9282fe52-2c77-11e5-876e-2cea93c32601.png">

[2015-07-17 18:45] ZayLong commented on #148
Trying that but wound up with a 500 internal error. Weird.
Thanks for the prompt replies btw

[2015-07-17 18:46] redox commented on #148
Interesting, are you using our last 1.3.5 release? Are you able to get the exceptions in the logs?

[2015-07-17 18:48] ZayLong commented on #148
Using version 1.3.5

Managed to turn it on, still no results, However I DO get this error in the log when typing

Uncaught TypeError: Cannot use 'in' operator to search for 'length' in []
isArraylike @ bundle.min.js?version=23:13207.jQuery.extend.map @ bundle.min.js?version=23:13getSuggestionsHtml @ bundle.min.js?version=23:20render @ bundle.min.js?version=23:20render @ bundle.min.js?version=23:20

[2015-07-17 18:50] redox commented on #148
I'll need more help from Magento gurus now :) cc @maxiloc ?

[2015-07-17 18:51] ZayLong commented on #148
Also on certain product pages I get this error

Failed to load resource: the server responded with a status of 400 (Bad Request)
bundle.min.js:10 Uncaught AlgoliaSearchError: String not allowed outside of params near line:1 column:276

[2015-07-17 18:54] maxiloc commented on #148
Ok I'll look into it

[2015-07-17 21:28] maxiloc commented on #148
@ZayLong
So I see two things:
- First you have this error in your console "Uncaught [Algolia] Invalid instant-search selector: .daemon"
 you probably want to set it to .main
- From the looks of your indices it seems your are on the last version, but I am not able to see the right user agent. Did you install it from the magento connect store ?

It will be easier to debug via the live chat, you can

[2015-07-17 21:41] ZayLong commented on #148
I changed that just to see what would happen. It doesn't relate to the issue as far as I can tell. I changed it back to main

I installed the extension manually without magento connect.

Ill do that now.

[2015-07-17 23:45] redox commented on #148
OK, so that one is related to https://github.com/algolia/algoliasearch-extensions-bundle/issues/1

[2015-07-17 23:47] ZayLong commented on #148
The issue is partially fixed however the main search still doesn't return any results.

I think this 500 internal server error is related, whenever I try to save a configuration

2015-07-17T23:00:03+00:00 ERR (3): Warning: flock() expects parameter 1 to be resource, boolean given  in /mnt/magento/app/code/core/Mage/Index/Model/Process.php on line 479

[2015-07-18 00:03] ZayLong commented on #148
Ah the issue seemed to be alot more simple than I thought

2015/07/17 19:54:41 [warn] 2050#0: *1338 a client request body is buffered to a temporary file /var/lib/nginx/tmp/client_body/0000000168, client: 68.60.67.48, server: staging.theindustrysource.com, request: "POST /index.php/admin/system_config/save/section/algoliasearch/key/337db7ccc36a439a6d397b3c2e666d68694a9aa83ef18172cd894c054af759d4/

[2015-07-18 09:27] maxiloc commented on #148
@ZayLong Have you try to clean the directory /var/lib/nginx/tmp ?

[2015-07-20 09:29] maxiloc commented on #147
This is already possible by setting the "Algolia Search" indexer mode to manual.

[2015-07-20 09:31] maxiloc commented on #147
This can be done in System > Index Management

[2015-07-20 10:17] #143 closed

[2015-07-20 12:19] #139 closed

[2015-07-20 12:25] maxiloc commented on #116
Let's tackle it !!!

[2015-07-20 12:40] seafoox opened #149 ""One or more of the indexes are not up to date" warning message when an existing product is updated"
When an existing product is updated via the admin panel, the a warning message remains displayed on every screen of admin UI.

![image](https://cloud.githubusercontent.com/assets/1101220/8775850/7f1b7c3c-2eec-11e5-9b24-a4085e730725.png)

That doesn't seem to have any bad impact on indexing, all updates seem properly indexed on the Algolia side.

[2015-07-20 13:07] Yoshizmo commented on #138
Additionally, jQuery UI sliders do not function on most mobile devices.

[2015-07-20 13:22] ZayLong commented on #148
in an older version of this extension that I used I could select Algolia under Configuration > Catalog >Search Engine

In this new version I cannot and only have Mysql fulltext as an option.

I'm running magento enterprise 1.12.0.2

Is this supported?

[2015-07-20 14:58] redox commented on #147
@maxiloc If the queue is enabled; are we sure we're not gonna queue all jobs in there even if the indexer is disabled? So even if it will not index because the indexer is disabled, we may have a hard time when we enable again afterward.

[2015-07-20 14:59] maxiloc commented on #147
@redox yes It is stop way before by magento

[2015-07-20 15:23] maxiloc commented on #149
Exepected to avoid reindexing categories on product update. The count is false so a reindexing is needed

[2015-07-20 15:23] #149 closed

[2015-07-20 16:13] redox commented on #147
:+1:

[2015-07-20 17:37] maxiloc commented on #148
So for the record. GroupsCatalog2 (and possibly other extension) also rewrites the Mage_CatalogSearch_Model_Resource_Fulltext_Collection. Magento without any warning just choose one (I do not know if it's random or not) which make the algolia rewrite uncallable.

One way to fix it is to extends one of the two rewrites from the other
[code]

[2015-07-20 17:37] #148 closed

[2015-07-20 17:39] ZayLong commented on #148
@maxiloc

Helped me in resolving this issue;

there was a conflict with another extension *Netzabeiter_GroupsCatalog2* that was still pulling from mysqlFulltext,

having this extension extend its class from
 ```php Algolia_Algoliasearch_Model_Resource_Fulltext_Collection ```

instead of the default ```php Mage_CatalogSearch_Model_Resource_Fulltext_Collection ```
solved the problem

Thanks!

[2015-07-20 17:43] redox commented on #148
:+1:

[2015-07-20 19:43] Yoshizmo opened #151 "Replace categories without HTTP redirect"
It's possible to replace categories without using the PHP HTTP redirect header('Location: '.$url); in Observer.php (Should be nicer for page load speed, SEO, and Bots)

- Comment out the if statement in Observer.php in function controllerFrontInitBefore `if (Mage::app()->getRequest()->getControllerName() == 'category' && Mage::app()->getRequest()->getParam('category') == null)`
- Replace:
 `$isSea

[2015-07-20 20:01] maxiloc commented on #151
@Yoshizmo Yes I agree it would be better to avoid the header() call. The thing is with your solution I am not sure on how you define $hash_path in the topsearch.phtml.

[2015-07-20 20:06] Yoshizmo commented on #151
the $hash_path only needs $path (category path) and $index (which comes from the helper, already loaded in topsearch.phtml line 5)
So you can just generate it on page load instead of on the Observer. It's set at the bottom of this IF: `if($config->replaceCategories() && $category) {` from the post above

[2015-07-20 20:19] Yoshizmo commented on #151
@maxiloc Oh I tweaked my category paths to use ' / ' instead of ' /// ', you might need to change that in the code above

[2015-07-20 20:39] maxiloc commented on #151
@Yoshizmo Thanks

[2015-07-20 20:42] maxiloc commented on #151
In case of conflict with other extensions rewriting fulltext_collection and/or fulltext (like in #148) we will have a working extension. We will not be able to have the backend implementation behind for seo but at least it will work :smile: @redox

[2015-07-20 20:44] Yoshizmo commented on #151
Sorry @maxiloc it seems upon testing this patch I made breaks product pages, I'm looking at a fix and I'll let you know what I come up with.

[2015-07-20 20:45] maxiloc commented on #151
@Yoshizmo Works fine for me

[2015-07-20 20:46] maxiloc commented on #151
@Yoshizmo oh yes not always. I am on it too

[2015-07-20 20:47] Yoshizmo commented on #151
@maxiloc try this:
`// Get selected category path
if($config->replaceCategories() && !Mage::registry('current_product')) {
	$category = Mage::registry('current_category');
}'

[2015-07-20 20:51] maxiloc commented on #151
@Yoshizmo Yes almost the same :smile:

[2015-07-20 20:51] #151 closed

[2015-07-20 20:53] Yoshizmo commented on #151
I like yours better ;)

[2015-07-21 12:26] rajansahota opened #152 "I want to remove left navigation of algoliasearch and i want to add my custom left block...."
I want to remove left navigation of algoliasearch and I want  to add my custom left block.
How to do it. I tried in  algoliasearch.xml also topsearch.phtml but not working.
Also when i am trying disable the module in magento admin panel "system->configuration->advance" but not disabling the module.
please suggest.

[2015-07-21 12:31] maxiloc commented on #152
To remove the left navigation. You just need to remove all facets value in System > Configuration > AlgoliaSearch > Instant Search Results Page Configuration > Facets

[2015-07-21 12:31] #152 closed

[2015-07-21 14:57] #144 closed

[2015-07-21 15:34] maxiloc commented on #136
@aphroz It's implemented. Will be available with next release

[2015-07-21 15:34] #136 closed

[2015-07-21 16:19] aphroz commented on #136
Thanks!

On Tue, Jul 21, 2015 at 5:34 PM, maxiloc <notifications@github.com> wrote:

[2015-07-21 16:48] #109 closed

[2015-07-21 18:19] Yoshizmo opened #153 "Browser incompatibility with IE9 - pushState"
IE9 does not support history.pushState(url, null, url)
pushState shouldn't be required, since we are not changing the URL, just the hash.
Replacing this with document.location.hash = url seems to fix the problem for me.

[2015-07-21 18:43] Yoshizmo opened #154 "Browser incompatibility with IE8 in bundle.min.js"
SCRIPT438: Object doesn't support property or method 'isFrozen'
File: bundle.min.js, Line: 5, Column: 22974

[2015-07-21 19:15] redox commented on #153
@vvo could you help on that one until we have the instantsearch.js?

[2015-07-21 19:18] vvo commented on #153
Yes

[2015-07-21 19:18] vvo commented on #154
Thanks @Yoshizmo for reporting this, we are going to fix asap.

[2015-07-22 15:19] Yoshizmo opened #155 "Entering nothing into the top search and pressing enter brings you to the same page instead of catalogsearch/result/"

[2015-07-22 15:20] maxiloc commented on #155
@Yoshizmo Yes that's not an issue with the extension but with Magento. Do you have a way to fix that ?

[2015-07-22 15:22] maxiloc commented on #155
Because the request does not go through the "hook" if the query is empty

[2015-07-22 15:24] Yoshizmo commented on #155
@maxiloc I didn't realize it was a magento "feature" I'll see what I can find

[2015-07-22 16:00] Yoshizmo opened #156 "jQuery UI Sliders do not function on mobile devices"
jQueryUI sliders do not function on mobile devices.
It is possible to use this workaround https://github.com/furf/jquery-ui-touch-punch

It requires jQueryUI Draggable and Mouse. Can you add these to bundle.min.js?

Or do you have advice on adding individual jQueryUI components? I can't seem to get it to work.

[2015-07-22 16:03] #116 closed

[2015-07-22 16:12] maxiloc commented on #156
Let's put it with #138

[2015-07-22 16:12] #156 closed

[2015-07-22 16:14] maxiloc commented on #138
@Yoshizmo point out this link on #156  https://github.com/furf/jquery-ui-touch-punch

[2015-07-22 16:30] maxiloc commented on #155
@Yoshizmo Found a way :smile:

[2015-07-22 16:30] #155 closed

[2015-07-22 16:32] redox commented on #138
It seems to be a nice quick-win before our `instantsearch.js` widgets suite.

[2015-07-22 16:49] Yoshizmo commented on #138
For touch-punch to work jQueryUI needs mouse, draggable, and maybe widget.
I'm having difficulty adding these on top of bundle.min.js
Could they be added into: https://github.com/algolia/algoliasearch-extensions-bundle ?

[2015-07-23 14:51] #138 closed

[2015-07-24 10:09] maxiloc opened #157 "Category count"
Our issue is the count on category is not updated at each product insert/update/delete which means that there is a "Reindex needed" after only 1 product update.

Reindexing product + categories to update categories is not good.

I see two solutions:

1) We can separate product and category indexer because it will allow clean reindex needed message (that can target only categories indexer). I think

[2015-07-24 11:51] vvo commented on #154
This was fixed in the helper: https://github.com/algolia/algoliasearch-helper-js/commit/e9898f97d2ab06e7fc7c6e19c4e7a4825be03d13

Now waiting for a helper release.

[2015-07-24 12:03] #153 closed

[2015-07-24 12:06] vvo commented on #99
It's now done and waiting in the helper: https://github.com/algolia/algoliasearch-helper-js/pull/147

[2015-07-24 19:35] Yoshizmo opened #158 "Product sale does not trigger rebuild"
Product sale does not seem to be adding a rebuild action into the algoliasearch_queue.
Product stock_qty needs to be updated as well as in_stock

In my particular use-case I need products that become out of stock to be removed from the index all together.

[2015-07-24 19:46] maxiloc commented on #158
@Yoshizmo I have no idea how the sale event is handle by the magento backend. Do you have an idea how to handle this ?

[2015-07-24 19:47] Yoshizmo commented on #158
I'll take a look on Monday.

On Fri, Jul 24, 2015, 3:46 PM maxiloc <notifications@github.com> wrote:

[2015-07-24 20:52] Yoshizmo commented on #158
I think our best bet is to observe this event, and not the sale
cataloginventory_stock_item_save_after

I'll work on it and let you know what I come up with.

[2015-07-26 03:40] namamai commented on #147
Unfortunately manually re-indexing a couple of times a day actually leads to a rather large number of operations (more then before). As it is re-indexing the entire collection instead of just what's changed.

[2015-07-26 09:25] maxiloc commented on #147
@namamai I get your point. I am gonna check what we can do to avoid that.

[2015-07-27 12:19] #158 closed

[2015-07-27 13:04] #147 closed

[2015-07-27 13:48] aphroz opened #159 "Deleted products stays in the index"
I deleted ~40'000 products and re-indexed (twice), the products are still present in the index.

[2015-07-27 13:49] maxiloc commented on #159
@aphroz You should clear the index before reindexing

[2015-07-27 13:49] #159 closed

[2015-07-27 14:10] aphroz commented on #159
Ok, so every time I delete a product I have to clear the index?

[2015-07-27 14:12] maxiloc commented on #159
No I have just tried it (via the magento admin backend), it is supposed to get deleted automatically. But it case it do not work you need to clear the index.

[2015-07-27 16:13] #157 closed

[2015-07-28 09:47] mkumar11 opened #160 "Fatal error: require_once(): Failed opening required 'AlgoliaSearch/Version.php'"
I installed algolia search from magento connect and run compilation from admin and getting "Fatal error: require_once(): Failed opening required 'AlgoliaSearch/Version.php".

[2015-07-28 10:00] maxiloc commented on #160
@mkumar11 It seems that you didn't install the extension correctly. Did you install it from magento connect ?

[2015-07-28 10:02] mkumar11 commented on #160
yes. when compilation is disable its working fine

[2015-07-28 10:12] maxiloc commented on #160
@mkumar11 Indeed I am going to fix this asap

[2015-07-28 10:15] mkumar11 commented on #160
ok thanks.

[2015-07-28 12:46] maxiloc commented on #160
Fixed with :
- 07c53853e004c2f409136396f052b90bf48e75bf
- c0c6cf403276cc06bfdd75ccacda7705284cf771
- 5dac9f966e606714bbe2785cfbc6e7fb16205474
- 92d35c9ed36b4ebfe1b3acf8105bfa2f74efdf82

@mkumar11 Will be available with today's release

[2015-07-28 12:46] #160 closed

[2015-07-28 21:47] #154 closed

[2015-07-28 21:47] #99 closed

[2015-07-30 13:43] maxiloc opened #162 "Have a staging mode when number of product reindex is limited"

[2015-07-30 14:13] maxiloc opened #163 "Have the version of the extension printed on the configuration page"

[2015-07-30 14:30] aphroz opened #164 "Date type attribute"
It would be nice to have a date facet type with a calendar

[2015-07-30 14:32] maxiloc commented on #164
@aphroz What is your use case ?

[2015-07-30 14:32] aphroz commented on #164
I am trying to sort by creation date

[2015-07-30 14:36] maxiloc commented on #164
Sorting on date is already possible and does not require facets.

If you want a facet yes you will need a new facet type.

Do you have an idea how you want it to be displayed ?

[2015-07-30 14:48] aphroz commented on #164
You mean by creating an index? I would need not only to sort by date but also to select a specific date range.

I imagine that a good solution would be to use a calendar like in the magento advanced search:

![image](https://cloud.githubusercontent.com/assets/261406/8986082/c01b185a-36da-11e5-97d3-34f7d68aa790.png)

[2015-07-30 15:09] redox commented on #162
I'm not convinced by such approach; we don't do that in any of our integrations. It's complex to implement and source of a lot of potential issues.

 * If that's to "save" Algolia operations I think it's the wrong way to deal with it.
 * If that's to speed up the staging environment, I would rather recommend to either disable the indexing or decrease the number of records.

[2015-07-30 15:10] redox commented on #163
:+1:

[2015-07-30 15:50] maxiloc commented on #164
@aphroz Ok will see what we can do about that

[2015-08-02 13:08] maxiloc opened #165 "Handle _tmp index + move for additional sections"

[2015-08-02 13:17] maxiloc commented on #162
The issue for the client who ask for it was about number of records not operations. And I think it can make sense, if you have an dev instance and a prod instance with both around 20k products. With slaves you will reach the 100k and need to change the plan. But if you have a limit of products for the dev instance that can be indexed something like 200 or 300 you can stay bellow 100k.

What I was

[2015-08-02 18:26] redox commented on #162
I would not implement anything special for that. It doesn't make sense to index only a part of the catalog. If the number of operations is the problem, they should decrease the catalog size.

[2015-08-11 12:50] seafoox opened #166 "Improve analytics tracking by adding tags"
Would be great to be able to track more precisely search usage using [AnalyticTags](https://www.algolia.com/doc/ruby#analyticsTags)

We could for instance track if the search is used
* source => "instant-search" | "autocomplete"
* deviceType => "desktop" | "tablet" | "mobile" (could be based on the screen with or some JS http://www.abeautifulsite.net/detecting-mobile-devices-with-javascript/)
* ..

[2015-08-11 14:20] bobylito commented on #166
Yep I think that's great! We were thinking of something similar in the client and helper with @vvo. But more based on the header sent by the client. A way to let libraries that use the client to enhance the string sent to algolia. What do you think, @seafoox ?

[2015-08-11 16:18] redox commented on #166
I don't think we need to add a new header for that, especially if it's "only" to combine our tags and the user's ones.

I'm happy with the analytics tags but I would not go for any `deviceType` tags -> that should be based on the user-agent. OK for the `source`, do you see something else @seafoox ?

[2015-08-11 19:03] refueledinc opened #167 "Exclude categories"
Can you please add the ability to exclude certain categories from search, similar to what you've done with pages?

[2015-08-11 19:25] maxiloc commented on #167
@refueledinc With pages magento has by default pages that are not for the end user, for categories it is not the case. Can you give me a bit more detail about your use case ?

[2015-08-12 09:25] halk opened #168 "New release not tagged"
Hi,

it looks like v1.4.0 of the extension is released. Would be great if you can tag that. Thanks.

[2015-08-12 09:29] maxiloc commented on #168
@halk it's done, thanks

[2015-08-12 09:29] #168 closed

[2015-08-12 10:18] refueledinc commented on #167
For example, we currently have a category page that is set to "static block only" and the search box is showing on this page, when it really doesn't make sense to have it on that page. Being able to exclude certain categories would be a nice feature to have.

[2015-08-12 10:53] refueledinc commented on #167
It looks like I may have resolved my issue by changing the default layout template and targeting a different container class, but it would still be nice to exclude categories, if at all possible.

[2015-08-12 11:27] maxiloc commented on #167
@refueledinc Ok, I need to check the impact this could have. I will keep you posted.

[2015-08-13 08:54] aphroz opened #170 "Special price is displayed even after reindexation"
I have never set any special price, however the value "special_price" is present in the index of Algolia. I reindexed and special prices are still there.

Is there a way to fix this without clearing the index?

[2015-08-13 09:06] maxiloc commented on #170
@aphroz If there a special price it means somehow magento find a different price applicable to the product. If you do not use it at all, you can modify the template here https://github.com/algolia/algoliasearch-magento/blob/master/design/frontend/template/topsearch.phtml#L164-L171 to not display the special price.

[2015-08-13 09:22] aphroz commented on #170
I may use them at some point, but I have searched the whole database and this value may have been the old price value. However this value doesn't seem to be updated after reindexation.

[2015-08-13 09:26] maxiloc commented on #170
The computation is done by magento directly, so I do not have a clear idea about what could be the cause. If you find a way to reproduce it on a clean magento instance I will be happy to investigate.

[2015-08-13 09:45] aphroz commented on #170
This is the Algolia index:
![image](https://cloud.githubusercontent.com/assets/261406/9247033/6425a57a-41b0-11e5-9515-a1947d0ce115.png)

You mean that Magento is sending these values to Algolia at every re-index? If these values become null, the index of Algolia will be aware of it?

One solution to would be clear the Algolia index, and then reindex to see if these values come back.

[2015-08-13 11:33] maxiloc commented on #170
Yes the record is recreated at each update so clearing the index won't change anything

[2015-08-14 06:36] aphroz commented on #170
I cleared the index and re-indexed and now the prices are correct.

[2015-08-14 06:53] maxiloc commented on #170
Are you using partilalUpdates ? This would explain why.

[2015-08-14 06:55] aphroz commented on #170
Yes indeed. But it doesn't seem logical.
Le 14 août 2015 08:53, "maxiloc" <notifications@github.com> a écrit :

[2015-08-14 06:57] maxiloc commented on #170
Yes the special price is set only if there is a special price found. So in case of a partial update it will not remove the old value. I can fix it

[2015-08-14 07:04] maxiloc commented on #170
ac338f83f194d9ff9b8ad2f7d0123d6682f57d39 This one should fix the issue.

[2015-08-14 07:04] #170 closed

[2015-08-17 18:43] maxiloc opened #171 "Handle " in description content"

[2015-08-18 10:01] baltechies commented on #167
:+1:

[2015-08-19 16:29] refueledinc opened #172 "Customer groups and indices"
Is there a better way of indexing price for customer groups rather than creating an index for each customer group?

For example, we have a magento multi-store. Store 1 has 120,000 products. Store 2 has 30,000 products. Each store has 5 customer groups and several sorts.

In total, Algolia is showing 50 indices and we stopped sync at nearly 700,000 records which is probably only a small fraction of

[2015-08-20 07:42] halley124 commented on #172
Hello there,

We perfectly understand your issue issue. The fact is that to allow such a speed, we have to compute and include directly in the index part of the relevance score. Think of it as pre-computing the relevancy score. That imposes to have one index per ranking logic (so one per sort).

That being said we're working on an optimization for the customer groups on Magento that should lower t

[2015-08-20 08:45] maxiloc commented on #162
Ok closing this

[2015-08-20 08:45] #162 closed

[2015-08-20 09:05] maxiloc commented on #166
So we have instant-search, autocomplete, backend-search

[2015-08-20 09:05] #166 closed

[2015-08-20 10:02] refueledinc commented on #172
Thanks for the feedback! We're looking forward to optimization. In the meantime, we're going to remove a few sorts and one redundant customer group and see how much this helps.

[2015-08-20 11:22] #163 closed

[2015-08-20 11:26] maxiloc commented on #171
Was an issue a customer has but I am not able to reproduce.

[2015-08-20 11:26] #171 closed

[2015-08-20 11:40] maxiloc commented on #165
Fixed with a31ff2c

[2015-08-20 11:40] #165 closed

[2015-08-20 11:49] maxiloc commented on #164
We are working on an instansearch.js library, and waiting for it to be available to develop the date facet as a widget.

[2015-08-20 12:32] maxiloc commented on #167
@refueledinc @baltechies It's done will be available by the end of the week with 1.4.1 release. There will be no need to configure anything. We will not replace categorie that have a display mode of static block.

For static block + product. We add the static block at the top of the instant search.

Should be good :smile:

[2015-08-20 12:32] #167 closed

[2015-08-20 12:36] refueledinc commented on #167
@maxiloc Thank you!

[2015-08-20 13:43] MrYogi opened #173 "algolia search replaces theme catalogue page and pagination is not working."
Algolia injects a new search result markup into catalog page and you need to specify the right "DOM Selector" in config settings (System > Configuration > Algolia Search > Instant Search Results Page Configuration)

The default DOM Selector is ".main" but this is for the default rwd theme. I have changed the selector to ".products-grid" and now the extension is able to overwrite the catalog page.

[2015-08-20 13:51] maxiloc commented on #173
Indeed we replace the markup by a js generated html to have a very fast rendering. You can modify it to have the same look. If your pagination do not work it is probably because you did not choose the right div. We create our own pagination so your DOM Selector need to include the pagination.

If you do not want to touch anything you can disable instant search. You will loose speed as the query wi

[2015-08-20 13:51] #173 closed

[2015-08-20 17:51] #172 closed

[2015-08-20 20:00] maxiloc commented on #172
@refueledinc I made the changes. It will be available in tomorrow's release.

I am at the minimum possible of record possible to handle the group price feature which is:

1 index/store/product
+ 1 index/price sort/group/store/product
+ 1index/non price sort/store/product

Which means that for a store with:
- 100 products
- 5 customer groups
- 2 sorts on price (asc, desc)
- 2 sorts on date (asc, de

[2015-08-20 20:08] refueledinc commented on #172
@maxiloc Excellent work and thank you! We'll download and test when available along with making a few changes on our end. Thanks for getting this done!

[2015-08-22 21:42] maxiloc opened #174 "Checkout when account is blocked seems to fail"
not yet reproduced

[2015-08-24 10:12] refueledinc opened #175 "Disable Algolia per store"
Is there a way to disable Algolia on a per store basis?

We have a magento multi-store setup and don't have a need for Algolia on one of the stores since it only has a few products. Being able to disable Algolia for that store would be great.

[2015-08-24 11:09] maxiloc commented on #175
Right now you can disable autocomplete and instant search on your specific store. But it will still index the data of this store, just not displaying it.

[2015-08-24 11:14] refueledinc opened #176 "Run cron outside of magento"
Is it possible to run the extension on it's own cron rather than using the magento cron?

We've had issues in the past with long running crons within the magento cron system. Running them outside of magento always fixed the issue.

This would be especially helpful for the initial sync of large stores.

[2015-08-24 11:21] refueledinc commented on #175
Yes, exactly. We were hoping to disable the indexing, since it's not necessary to run.

[2015-08-24 11:35] maxiloc opened #177 "Autocomplete categories - Path not showing if no match in path"
Need to replace

[code]

[code]

[2015-08-24 11:54] maxiloc commented on #176
You can schedule a cron to run magerun => https://github.com/netz98/n98-magerun
You can check how we run it for our dev env here => https://github.com/algolia/algoliasearch-magento/blob/master/dev/bin/start.sh#L22-L24

[2015-08-24 11:54] #176 closed

[2015-08-24 11:56] maxiloc commented on #175
Ok I letting this open, I will do it for the next release

[2015-08-24 19:17] sam327 opened #178 "CSS elements too broad - breaks other items on the page"
Some of the CSS items in algoliasearch.css are a little overly broad, and then end up breaking a bunch of other things in my theme. (My theme isn't based on the RWD/madison island theme either.)

I'm mostly fine in that I'm fixing this for myself. But if I could make a recommendation, it might be helpful to someone else in the future.

It'd be nice if, where possible, make the IDs/classes such tha

[2015-08-24 19:23] maxiloc commented on #178
@sam327 Thanks for reporting.

Yes your are right this would be better, I will do it for the next release. In the meantime if you have any other issue with the default css, feel free to add it to the issue

[2015-08-24 21:02] sam327 commented on #178
I will do so, thanks.

I've got some other things I'm working through which I might kick upwards, but I want to make sure the things I ask for are useful to for everyone, and not just personal/site-specific items.

Though, FWIW, re-skinning to fit my theme's been relatively easy - good stuff overall.

[2015-08-25 07:22] aivoris opened #179 "W3C validation"
The module generates lots of errors for W3C validation.
Doctype:	XHTML 1.0 Strict

[2015-08-25 08:22] aivoris opened #180 "javascript error"
After installing module i was getting a javascript error.
File bundle.min.js:
    ...this.id="ui-id-"+ ++uuid...
should be
    ...this.id="ui-id-"+ (++uuid)...

The problem is probably with server gzipping the files and eliminating spaces.

[2015-08-25 08:32] redox commented on #180
Hi @aivoris,

thank you for reporting us that. From what I understand, those parenthesis are optional and even if they are in the [original source](https://github.com/jquery/jquery-ui/blob/8bf46a46ad3207c62bcee305ddff50bd13a8ca51/ui/unique-id.js#L34) of JQuery-ui sortable (one of our dependency) our minifier removes it.

That's weird because it looks like valid JS. Can you provide the exact error

[2015-08-25 08:33] redox commented on #180
Oh OK, now I get it -> indeed if you remove the spaces here it will be an issue. Let me check if we can remove the parenthesis removal in uglifyjs.

[2015-08-25 08:47] aphroz opened #181 "Display refined filters + ability to clear them all"
Would it be possible to display the search filters as in Jadopado (toggle, clear filter, delete filter one by one):

![image](https://cloud.githubusercontent.com/assets/261406/9462471/69597d2c-4b16-11e5-8830-d6cab438c6c4.png)

Thank you

[2015-08-25 08:48] redox commented on #180
So the quick-fix would be to distribute the non-minified version as well.

@vvo any idea?

[2015-08-25 08:52] maxiloc commented on #179
@aivoris Yes there is a lot of errors, but most of them are in the Hogan templates which are expected because the validator does not handle that. Do you see any major issue ?

[2015-08-25 08:56] redox commented on #181
Displaying the selected filters is definitely on our roadmap but we're waiting for the release of our [instantsearch.js](https://github.com/algolia/instantsearch.js) library to be able to implement it more easily/generically.

Regarding the facets collapsing, it seems that it's more part of the store theme rather than a default behavior of the extension. I would recommend to add custom JS/CSS code

[2015-08-25 09:17] maxiloc commented on #174
Reproduced & fixes with 6b21317

[2015-08-25 09:17] #174 closed

[2015-08-25 09:35] vvo commented on #180
I am not sure to understand.

When does the space removal happens?

Gzip does not removes anything, it only compress things.

Maybe a magento module does that?

[2015-08-25 09:36] redox commented on #180
Yes, that's what I understood :/

[2015-08-25 09:43] vvo commented on #180
We can definitely provide the non minified versions in the bundle.

What is the standard way to deliver magento modules using JS? If the recommended way is to deliver them unminified and let magento minify them then we should stop delivering minified versions and let our magento users deal with it.

[2015-08-25 09:58] refueledinc commented on #178
:thumbsup:

[2015-08-25 10:03] vvo commented on #178
@maxiloc where does this reset comes from do you think? I thought we already had namespaced everything, maybe only jquery ui css bundle

[2015-08-25 10:04] maxiloc commented on #178
@vvo It's when I made the responsive layout I think

[2015-08-26 08:03] maxiloc opened #182 "Make it easier to reorder sections"
@redox Should be easier when we have wrappers => https://magento.stackexchange.com/questions/79890/algolia-search-changing-order-of-instant-search-results

[2015-08-26 08:35] redox commented on #182
Yes, then it depends if we want the users to edit the template or to edit the configuration.

[2015-08-26 17:54] refueledinc opened #183 "Uncaught ReferenceError: Invalid left-hand side in assignment"
This change https://github.com/algolia/algoliasearch-magento/commit/8eeac2b9682ab8f49e341dba6b684acbe49360c8#diff-0f0ec783f20591abcdca6a6d7508f4ebR623 is causing the following error on our site. `Uncaught ReferenceError: Invalid left-hand side in assignment`

[2015-08-26 20:46] maxiloc commented on #183
@refueledinc Do not have any error on my side. Do you have 1.4.2 installed ?

[2015-08-27 09:54] refueledinc commented on #183
Yes, 1.4.2 is installed.

[2015-08-27 09:58] maxiloc commented on #183
Do you have a link where I can see the issue ?

--

[image: Algolia] <https://www.algolia.com/>

[image: Twitter] <https://twitter.com/maxiloc> [image: Linkedin]
<https://www.linkedin.com/in/maximelocqueville> [image: github]
<https://github.com/maxiloc>

Maxime Locqueville
Full-stack Software Engineer

Website: https://www.algolia.com/
<https://www.algolia.com/#millisecond-matter>
[image: htmlsig

[2015-08-27 10:20] refueledinc commented on #183
Sorry, it looks like it was an update gone bad. I was able to fix it manually. Not really sure how it happened.

[2015-08-27 10:20] #183 closed

[2015-08-27 13:51] maxiloc commented on #175
@refueledinc I have taken a look at this issue, in fact it is a bit more complicated than I expected.

Why do you need do disable Algolia for some store ? Is it because there is no search ?

[2015-08-27 13:59] refueledinc commented on #175
It's not so much that there is no search, it's simply because we don't need anything more than the default magento search as the product line is simple and we don't need to be generating indices (and using up records and operations) on a store where Algolia is not being utilized.

[2015-08-27 14:43] #177 closed

[2015-08-27 15:19] maxiloc commented on #178
Will be release in next version. @sam327 Thanks

[2015-08-27 15:19] #178 closed

[2015-08-28 11:03] andrewlynch opened #184 "Failed opening required after upgrading to 1.4.2"
Fatal error: require_once(): Failed opening required '/var/www/html/magento/app/code/community/Algolia/Algoliasearch/Helper/AlgoliaSearch/ClientContext.php' (include_path='/var/www/html/magento/app/code/local:/var/www/html/magento/app/code/community:/var/www/html/magento/app/code/core:/var/www/html/magento/lib:.:/usr/share/php:/usr/share/pear') in /var/www/html/magento/app/code/community/Algolia/A

[2015-08-28 11:33] maxiloc commented on #184
How do you update the extension ? Because even if the commit I made fix a potential error, it should work without the fix.

Should be fix with eb9538b10b87afb9c363924929cb46b71f71bf3a

[2015-08-28 11:33] #184 closed

[2015-08-28 13:40] aivoris commented on #180
Hello,
The error: "Uncaught ReferenceError: Invalid left-hand side expression in postfix operation".
Yes it was due to JS minification, not gzipping.

The thread: http://stackoverflow.com/questions/11174170/js-invalid-left-hand-side-expression-in-postfix-operation helped to fix the problem, i thought it was gzip as it was stated in the answer. Just checked it was JS minification problem.

[2015-08-28 18:46] sam327 opened #185 "On install - disable everything until index is complete"
Apologies if this is long...

When you install the algolia search and put in your various api keys, it instantly takes over the search results. The problem is that none of the indexes have been built yet. This means that for a little bit of time, we have blank search results.

So I suggest adding a toggle to turn off the search results - so while I'm getting the plugin started, my site continues t

[2015-08-28 21:09] sam327 opened #186 "Showing [object] instead of a price"
When I enabled the instant search & the autocomplete on my production site, I'm seeing *[object]* instead of the price.

Any idea what might cause this?

[2015-08-28 21:29] sam327 commented on #186
Found the problem in the index...

in my devsite_default_products, the price field is indexed as *40*

in my productionsite_default_products, the price field is indexed as *"default": 40*

So.... how do fix the formatting in the index?

[2015-08-29 12:33] maxiloc commented on #186
@sam327 "default": 40 is the new formatting of products that I changed 9 days ago with 1.4.1 release

Two things possible:
- You do not have the same version of the extension installed on both instances
- You might not have done a full reindex when updating the extension to 1.4.1+

[2015-08-29 12:33] #186 closed

[2015-08-29 12:40] maxiloc commented on #185
@sam327 Yes that is link to the #175 issue. To do that we need to find a way to disable Algolia. The thing is the extension goes deep into magento indexing and event system and I didn't yet find a way to handle that correctly.

[2015-08-29 12:41] maxiloc commented on #175
I am closing this. #185 is more relevant for this issue.

[2015-08-29 12:41] #175 closed

[2015-08-30 09:07] vvo commented on #180
@aivoris so how did you fix the problem?

[2015-08-31 14:55] sam327 commented on #186
Yup... It was the latter.

In my dev site, I'd installed 1.4.0 originally, then upgraded to 1.4.2.  In my production site, I pushed the latest version (1.4.2) up.

And I missed the force-the-reindex step on dev after the update. Assumed it would do it automatically.

[2015-09-01 11:43] refueledinc opened #187 "Make product description optional"
It appears that product description is always being returned in the JSON.

For us, this field contains a lot of content and we don't make use of it on the search result or category pages, so we would like to remove it from the returned data.

Removing description from the product configuration attributes does not seem to remove it from the JSON.

[2015-09-01 12:35] maxiloc commented on #187
@refueledinc Indeed the default attribute are sent anyway, I will fix that for description.

[2015-09-02 11:21] refueledinc commented on #176
@maxiloc is there a way to run the algolia queue via magerun?

[2015-09-02 11:24] maxiloc commented on #176
@refueledinc No you need to disable the queue and then run the magerun command => n98-magerun --root-dir=/var/www/htdocs index:reindex algolia_search_indexer

[2015-09-02 11:28] refueledinc commented on #176
@maxiloc  Yep, did exactly that. That doesn't seem to sync to Algolia though, does it?

[2015-09-02 16:12] refueledinc opened #188 "Compatibility with product updates via external sources"
We have a very large store and managing products via magento admin doesn't work for our needs.

We use https://www.mag-manager.com/ to manage products, but it seems your extension does not detect the changes made by the Store Manager.

Prior to Algolia, we were using Sphinx and didn't have any issue with changes from Store Manager becoming available to the search index.

When making a change in th

[2015-09-02 17:06] maxiloc commented on #188
We are using the default magento hooks. I can not check if they are triggered correctly by Store Manager simply because I do not have it.

Any help on that will be appreciated

[2015-09-02 20:51] sam327 opened #189 "How do I handle ampersands?"
I've got my store set up to include brand names in the search, and I've got a brand with an ampersand in its name, e.g. "Rum & Coke"

It works in the autocomplete, but if go to the instant search results page, I get blank results.

The URL looks something like this: mysite.com/catalogsearch/result/?q=rum & coke&refinement_key=brand&refinement_value=rum & coke#q=&page=0...

Is it possible to URL-En

[2015-09-03 15:23] sam327 commented on #189
Think I've figured this out. A little out of my depth here, so let me know if there's a more preferable way to do this.

In topsearch.phtml, find the *hit.value*, and wrap it in a encodeURIComponent(). (line 1258 or so)

OLD:
[code]
NEW:
[code]

[2015-09-04 16:37] davis2125 commented on #167
@maxiloc I would be nice to exclude certain categories. My example is I have some products that are in multiple categories. I'd like to be able to exclude, for example, Shop By Brand category as it would be redundant. Hope this makes sense.

[2015-09-05 04:34] WesMage opened #190 "Show alternate (secondary) product images on results page"
Hello
To match the ux of the rest of our site, it is possible on search results to show the secondary product image on mouse hover. Please help.
Thanks

[2015-09-06 09:38] redox commented on #190
Hi @WesMage,

the current version of the extension doesn't support it but feel free to update the [PHP code](https://github.com/algolia/algoliasearch-magento/blob/master/code/Helper/Entity/Producthelper.php#L348-L367) to add more images; and then the Hogan.js [template](https://github.com/algolia/algoliasearch-magento/blob/master/design/frontend/template/topsearch.phtml#L169-L171) to handle the ho

[2015-09-07 00:56] WesMage commented on #190
Hi @redox
Thanks for the response. I'm not a developer so I'm hoping this can be listed as a feature request and included in future versions of the product?
Many thanks

[2015-09-07 09:36] Floddy opened #191 "Image URLs from different website/store"
I've seen a lot of the product images getting the URL for the admin store - supposedly when they are indexed from backend, since some images seem to have the correct URL.

Example:
//www.defaulturl.com/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/3/1/31766m_l.jpg
Should be:
//www.mystoreviewsurl.com/media/catalog/product/cache/<storeId>/image/265x/9df78eab33525d08d6e5f

[2015-09-07 10:13] redox commented on #191
Thank you for those valuable informations @Floddy.

We're using `$product->getThumbnailUrl();` (https://github.com/algolia/algoliasearch-magento/blob/master/code/Helper/Entity/Producthelper.php#L348-L367) to get the URL of an image/thumbnail.

I understand it can be confusing to load images from another domain, but does it have any impact at rendering time? The images are loading, right? Or is you

[2015-09-07 10:20] maxiloc commented on #191
@floddy Thanks. We already use emulation on the store but not sure it still an emulation when we generate images. I will check that
@redox that might be one of the issue we have with thumbnail not generating correctly on some instance. I think we need to set the store before calling the function

[2015-09-07 11:27] Floddy commented on #191
@redox that function uses the catalog/image helper :)

I don't think it's that much of a performance issue, other that you get the cache filled up with another copy of the images - but you'll still get that if you're caching images in another size than what's displayed elsewhere. The bigger issue I think is that if you have two somewhat 'unrelated' shops in the same installation, and someone looks

[2015-09-09 10:37] PrakashThapa opened #193 "Call to a member function initIndex() on null in Magento Version:1.9.1, algoliasearch-magento version: 1.4.4"
I got this error when try to reindex  ``index.php/admin/process/reindexProcess/process/7/``

```Fatal error: Call to a member function initIndex() on null in /var/www/html/magento191/.modman/algoliasearch-magento/code/Helper/Algoliahelper.php on line 31```

[2015-09-10 11:48] redox opened #194 "We cannot sort by non-numerical attributes"
One work-around would be to configure the index with:
 - `customRanking=["asc(string_attribute)"]`
 - `ranking=["custom"]`

[2015-09-15 02:26] WesMage opened #196 "Create a "popular searches" block that appears on "no results found" pages."
[feature request]
Create a "popular searches" block that appears on "no results found" pages.
Here is an example from another search product.
http://search.surfstitch.com/search#w=arkansaw

[I do not know how to add label] please add label "enhancement"

[2015-09-15 05:04] WesMage commented on #196
Here is another example of a best practice "no results" page for your consideration/inspiration
http://www.topshop.com/webapp/wcs/stores/servlet/CatalogNavigationSearchResultCmd?langId=-1&storeId=12556&catalogId=33057&Dy=1&Nty=1&beginIndex=1&pageSize=20&Nrpp=20&pageNum=1&Ntt=telescope

[2015-09-15 07:00] redox commented on #196
Thank you for contributing @WesMage, we're working on a new UI and will try to take your recommandations into account.

[2015-09-15 07:31] redox opened #197 "Ensure the product titles use text-overflow: ellipsis"
Too much layout issue because a title is 2 lines instead of 1 for 1 product.

[2015-09-15 07:34] redox commented on #17
OK big stuff and it will not be part of this repository anyway; closing it.

[2015-09-15 07:34] #17 closed

[2015-09-17 06:35] maxiloc commented on #193
@PrakashThapa It just mean that you are trying to reindex without credentials.

I just improve the error handling to avoid such issue in the future.

[2015-09-17 06:35] #193 closed

[2015-09-17 06:41] #197 closed

[2015-09-17 07:07] maxiloc commented on #194
I introduced an issue when optimizing the number of index when user group where enabled

[2015-09-17 07:07] #194 closed

[2015-09-17 07:38] maxiloc opened #198 "Do not add attributes for configurable when out of stock AND out of stock products display is disabled on magento"

[2015-09-17 07:59] maxiloc commented on #189
It's already the case on 1.4.4

[2015-09-17 07:59] #189 closed

[2015-09-17 08:52] #191 closed

[2015-09-17 09:07] #187 closed

[2015-09-17 11:39] #198 closed

[2015-09-18 06:49] MrYogi opened #199 "Ability to add the "Add to cart button" in the autocomplete menu"
even after enabling add to cart button option in algolia settings in magento add to cart button not showing. what could be issue, plz help

[2015-09-18 07:17] redox commented on #199
Hi @MrYogi,

any chance you changed the hit template? (https://github.com/algolia/algoliasearch-magento/blob/master/design/frontend/template/topsearch.phtml#L416-L428) Or maybe it is out of stock -> just look at that Mustache template, you'll see that it's only displayed if in stock.

Feel free to modify it!

[2015-09-18 07:57] MrYogi commented on #199
no i didn't changed .and products are in stock.
it is not showing "add to cart" button in instant search suggestions.
my store: http://orderjoy.com/

[2015-09-18 08:08] redox commented on #199
Can you do a screenshot? If you're speaking about the dropdown menu that is displayed below the searchbar, it's expected: we don't have the button there.

[2015-09-18 08:12] MrYogi commented on #199
ok , then how can this be implemented in drop down product suggestion. like this:
![1234](https://cloud.githubusercontent.com/assets/1777354/9955006/211f1d34-5e0b-11e5-9b72-8a41fc5adff1.jpg)

[2015-09-18 09:50] redox commented on #199
Unfortunately, that's not possible right now, the auto-completion menu is not designed to handle such fields/interactions :/

Let's keep this issue open and discuss about it after releasing v1.5

[2015-09-18 16:45] seafoox opened #201 "Possibility to enable/disable Algolia search per store"
For now all store running on a same Magento setup, benefit from the Algolia Search, if that one is enabled. Would be nice to be able to enable/disable Algolia search per store.

[2015-09-18 16:47] maxiloc commented on #201
Related to #187. It not something possible right now because of the override system that you can not disable for one store

[2015-09-18 16:47] #201 closed

[2015-09-19 11:31] vvo opened #202 "restart.sh says: "[InvalidArgumentException] Command "cache:flush" is not defined.""
[code]

[2015-09-19 11:52] maxiloc commented on #202
@vvo works fine for me, on develop after
[code]

[2015-09-19 14:24] vvo commented on #202
yes it worked, something we do not understand here :)

[2015-09-19 14:24] #202 closed

[2015-09-21 07:53] WesMage opened #204 "Can you elaborate on 1.4.5 fix"
Hi @maxiloc
Can you elaborate on what this change means please
"FIX: Improved performance of backend-search queries (used for SEO)"
Thanks in advance
(ps. Sorry if an "issue" is not the correct way to ask this question. I am new to github.

[2015-09-21 08:24] maxiloc commented on #204
@WesMage Yes sure.
Before the fix here https://github.com/algolia/algoliasearch-magento/blob/master/code/Helper/Data.php#L74
we were fetching 1000 results no matter what and let magento handle it. Some customers had a slow loading of the search page because of that.
In case instant search is enabled we do not need pagination and facet count to work because we only want the first results for seo. S

[2015-09-21 08:24] #204 closed

[2015-09-21 14:33] maxiloc opened #205 "Price for configurable is set to 0 => issue when sorting by price"

[2015-09-21 15:26] aphroz opened #206 "New facet types"
Would it be possible to have two more facet types:
- boolean (yes/no)
- date (calendar)

[2015-09-21 15:30] maxiloc commented on #206
@aphroz Yes ! We are working on integrating instantsearch.js that should bring those facet types. More info on that coming soon

[2015-09-21 15:31] maxiloc commented on #164
Duplicate of #206

[2015-09-21 15:31] #164 closed

[2015-09-21 15:48] #205 closed

[2015-09-23 13:26] refueledinc commented on #188
@maxiloc Can you please clarify what hooks you are using so I can verify with them?

[2015-09-23 13:28] maxiloc commented on #188
All hooks and overrides are defined in this file => https://github.com/algolia/algoliasearch-magento/blob/master/code/etc/config.xml

[2015-09-25 02:40] andrew-dwyer opened #207 "Custom sort orders don't work"
Custom sort orders don't work because ".default" is appended to the attribute name. This results in the attribute not being found. Only price related attributes have a grouping.

E.g.
[code]

This issue is caused by line 201 in the setSettings method of vendor/algolia/algoliasearch-magento/code/Helper/Entity/Producthelper.php. This line hardcodes the attribute value with a ".default" suffix. Note

[2015-09-25 02:56] andrew-dwyer opened #208 "Sort by price doesn't include special price"
Sorting by price currently ignores the special price of a product. This leads to products that are on special being ranked lower than products that aren't, even if their special price is lower.  E.g.

[code]

[2015-09-25 07:35] #207 closed

[2015-09-25 08:05] maxiloc commented on #208
@andrew-dwyer I am currently working on how the extension handles prices. It will be fixed very soon

[2015-09-25 08:43] WesMage commented on #208
Hello - this issue also affects filtering by price filter slider.

[2015-09-25 11:16] maxiloc commented on #208
@WesMage Yes that will also be fixed

[2015-09-25 12:36] maxiloc opened #209 "No emulation for pages => bad url"

[2015-09-25 14:29] maxiloc commented on #208
Fixed on develop, will be release today

[2015-09-25 14:29] #208 closed

[2015-09-25 14:33] #209 closed

[2015-09-25 14:37] maxiloc commented on #190
So the secondary images indexing will be available with the new release.
Only thing to do is add 'images' to the attributes.
Then the ui remains to be done and will wait instantsearch.js to be part of the extension.

[2015-09-30 09:12] maxiloc opened #211 "Add a way to not have the onSave events"

[2015-09-30 13:56] Floddy opened #212 "Config option to disable tyhe module"
When the module is installed, but nothing has been configured, product saving craches because the save event is triggered, and algolia tries to update the index, which fails since there is no API key. So, in order to have even have the module installed, you pretty much have to have an account, and sync the products.

An on/off option, plus a check for an existing API key, sould solve this.

[2015-09-30 13:59] maxiloc commented on #212
@Floddy Thanks for reporting this. Actually it's a duplicate issue of #185. So I am closing this.

[2015-09-30 13:59] #212 closed

[2015-09-30 14:03] Floddy opened #213 "Original search query is still ran"
When going to the fullpage search results, the Magento search query is still ran, then the result page is replaced using js.

Since the query is ran, this uses unnecessary resources. Also, since the whole content is removed, other blocks apart from the search result is also removed.

A more proper implementation would probably be making a rewrite for the catalogsearch page, having its own layout o

[2015-09-30 14:06] maxiloc commented on #185
We will work on this one for the next release. We have some path to explore. cc @Floddy

[2015-09-30 14:17] Floddy commented on #185
Dunno if you've found a way yet, but the solution I've seen the most is:
1. config option, enble, yes/no
2. a helper function that responds true/false if enable is yes, and api key isn't empty
3. for every event observer, start with something like:
public funtion meepevent(Varien_Event_Observer $observer)
{
if(!$helper->isEnabled()) {
    return;
}
4. for blocks, etc, an override of _toHtml:
prote

[2015-09-30 15:05] maxiloc commented on #185
@Floddy Thanks will have a look at that

[2015-10-01 13:30] Jarchik commented on #188
Is there some ability to run algolia reindex and synchronization via command line?

[2015-10-01 14:01] redox commented on #188
Sure thing @Jarchik, we do it using `n98-magerun` tool while setuping our development environment: https://github.com/algolia/algoliasearch-magento/blob/master/dev/bin/start.sh#L22-L25

[2015-10-01 14:31] Jarchik commented on #188
Ohh, thx a lot. :)  But which exactly command runs synchronization with algolia cloud?
As I can see commands above do only reindex of Magento tables. Am I wrong?

[2015-10-01 14:59] redox commented on #188
Yes @Jarchik those commands will reindex (re-sync) the whole Algolia indices. We do not have any way to sync only what has been updated since a specific date from the command line.

[2015-10-01 15:19] Jarchik commented on #188
Ok, I understand. Is it possible to run re-sync from simple php file?

[2015-10-01 15:23] redox commented on #188
n98-magerun is done in PHP, so definitely there must a way but I don't know how to do it. (not sure if it's complex to setup the Magento environment and call the indexers).

[2015-10-02 14:50] aphroz opened #214 "Order facets"
It would be great to be able to reorder the facets in the backend using drag and drop or with arrows to move the facet in the facets list.

We have a large number of facets and it's a nightmare to reorder it.

[2015-10-02 15:15] redox commented on #214
Hey @aphroz, yes that's an awful limitation of the default Magento configuration panels. Do you have any experience with a module that is allowing that so we can inspire from their code?

[2015-10-02 15:40] aphroz commented on #214
I have seen something like that in Unirgy RapidFlow, it seems to
usecriptaculous/dragdrop.js:
http://madrobby.github.io/scriptaculous/draggable/

On Fri, Oct 2, 2015 at 5:15 PM, Sylvain Utard <notifications@github.com>
wrote:

[2015-10-03 21:42] maxiloc commented on #213
@Floddy Yes we ran the query for seo reason and we do not want to disable that by default. Maybe we can add an option to disable this query.

For me it does not make sense to make a php rewrite of the magento page. The extension is designed to do instant search via js (because it's way faster) rather than via the magento backend.

What do you think ?

cc @redox

[2015-10-03 21:43] maxiloc commented on #211
mainly when you want to run the indexing only via cli

[2015-10-03 21:43] maxiloc opened #216 "Out of stock products are not working correctly"

[2015-10-03 21:48] maxiloc commented on #216
especially on updates

[2015-10-04 09:11] maxiloc opened #217 "Handle temporary index for product full reindex"

[2015-10-04 09:15] maxiloc opened #218 "Add a Logging option (disable by default) that will log everything"
- product count
- time functions
- processed product id
- ...

The goal is to have an idea of what is happening when there is an issue without needing to have access to the instance

[2015-10-04 10:12] #216 closed

[2015-10-04 13:41] maxiloc commented on #218
solved with bbe6b1e

[2015-10-04 13:41] #218 closed

[2015-10-04 15:00] maxiloc commented on #211
Solve with 8a76752

[2015-10-04 15:00] #211 closed

[2015-10-04 15:41] maxiloc commented on #213
Fixed with 09f23b8.

@Floddy you will now have the option to disable that in the advanced section of the configuration. I would recommend to let it enable if you want search engines like google to be able to crawl search pages.

[2015-10-04 15:41] #213 closed

[2015-10-04 15:49] maxiloc commented on #188
With next release it will be possible to set indexer mode is "Manual update" and then run:

[code]

It's implemented with 8a76752a61b05309643c24f7d60bc5908ebadb61

[2015-10-04 15:49] #188 closed

[2015-10-04 17:36] maxiloc commented on #185
Implemented with 3a87884.

@sam327 Everything will be enabled by default but can easily be disabled afterwards.
You will then be able to do have the exact workflow you described

[2015-10-04 17:36] #185 closed

[2015-10-04 17:36] maxiloc commented on #185
Will be available with next release

[2015-10-04 17:42] maxiloc commented on #217
Let's close this one for now and reopen it if needed

[2015-10-04 17:42] #217 closed

[2015-10-05 07:34] Floddy commented on #213
I may have missed something here - I thought it was the original Magento Mysql fulltext that was still ran - not through algolia - since I got somewhat different results on an installation. If it's all ran through Algolia, I see the point.

Though there is still the issue of removing the whole content in .main with js, since every other block is removed too. I'd like if the page setup was intact (

[2015-10-07 10:09] torbjorntorbjorn opened #219 "Saving a product triggers full table scan on sales_flat_order_item table, which might be big"
We experienced a performance problem in the backend when saving a product.
For reasons not entirely known, when saving a product some very expensive queries would be issued to MySQL.
These seemed to be related to i18n features, and there seemed to be a loop that would iterate as many times as there were stores defined in Magento.

The query is below, and the problematic bit is finding "ordered_qty

[2015-10-07 10:14] maxiloc commented on #219
@torbjorntorbjorn thanks for taking the time to investigate
It will be fix with the new release with
https://github.com/algolia/algoliasearch-magento/blob/develop/code/sql/algoliasearch_setup/mysql4-upgrade-0.1.0-1.4.7.php
and
https://github.com/algolia/algoliasearch-magento/blob/develop/code/Helper/Data.php#L479-L486

[2015-10-07 10:14] #219 closed

[2015-10-08 07:55] vvo opened #220 "When upgrading, all template/JS customization is gone"
When a client has done some template/JS customization in Algolia magento search, when he upgrades, all the modifications are gone.

Could we find a way where we advise people to maybe do the customization in another file? I wonder what's feasible

[2015-10-08 07:58] redox commented on #220
I would create a new "Templates" section in the administration console and I would expose all templates there through `textarea`. I don't think it's sustainable to keep templates in the files we're updating on each releases. Probably the same for CSS.

[2015-10-08 08:01] vvo opened #221 "Provide a changelog and migration guide at every new version"

[2015-10-08 20:17] redox commented on #221
The changelog is already there. The migration process is always the same: reindex data. We'll need to write a new one with `instantsearch.js`.

[2015-10-08 21:03] vvo commented on #221
The only thing we miss is about #220 I think

[2015-10-09 07:42] redox commented on #220
@maxiloc what do you think?

[2015-10-09 10:35] #221 closed

[2015-10-09 10:49] maxiloc commented on #220
@redox I am not convinced by the textarea in the admin for html elements.

Two main reasons:

- We are gonna have issue when people update the plugin if we want to make some changes. We won't be able to erase settings they currently have which for me is not good => hacky way to update

- Related but a bit different, I am afraid of people who will break the autocomplete or instant search because th

[2015-10-09 12:21] redox commented on #220
For me that's an issue of our plugin. It was OK for now, but we cannot ask the user to "loose" everything after each upgrade. If it's a minor upgrade we need to keep the backward compatibility and if it's a major upgrade we need to provide a migration guide.

Yes, I think for that we need to have a way to reset the configuration; is the configuration not removed after uninstalling the plugin?

Mod

[2015-10-09 12:23] redox commented on #220
Still, I'm mostly speaking about the hit (and maybe the refinement list) template(s), the others are not required.

[2015-10-09 12:40] vvo commented on #220
Yes a "reset" configuration should be feasible.

As for customizing. We can propose our users to add a custom JavaScript file if they need it and propose them an API to override some configuration/templates:

[code]

This way the customization API of the extension is well defined, it's all in algoliaInstantSearch.

Then from your implementation, you can just check if (algoliaInstantSearch..) then

[2015-10-09 13:19] maxiloc commented on #220
Seeing how Magento handle configuration I am not sure about about that.

propose them an API to override some configuration/templates

Yes that would be feasible but for me in should be in a php file and not a js file, people wanting to access Magento config need to be able to do so.

No, Magento does not do it and there is no hook to do that.

----
First of all: I agree with the benefit of templa

[2015-10-09 13:27] vvo commented on #220
Once your implementation start looking for a JavaScript object called `algoliaInstantSearchCustomization` then the users can do anything they want, no need to force them using PHP or JS.

They just need to have this JS variable inside the scope before instantsearch.js init takes place. So it's only about their knowledge of magento.

[2015-10-09 13:28] maxiloc commented on #220
I mean their own php configuration not the one we want them to have

[2015-10-09 13:52] redox commented on #220
For me only the hits and the CSS make sense, those are the two things our users update all the time. The good thing is that we "probably" don't need translation there. I don't think it's an issue to only expose those ones.

[2015-10-13 09:32] rbrown opened #222 "Price with tax disappeared"
Hello, is it intentional in 0c45fa9ddef594f58410f4df25bea3f3ec65923b to stop having the price available in the results page both with and without tax?

[2015-10-13 09:33] maxiloc commented on #222
Yes we now better handle price to take the magento configuration into account when generating the price. So no matter what is your configuration it should be good

[2015-10-13 09:33] #222 closed

[2015-10-13 09:37] rbrown commented on #222
Hi, sorry, my configuration shows prices with and without tax, I'm not sure how I can do that with the new data?

[2015-10-13 09:53] maxiloc commented on #222
If you updated the extension to last version (1.4.7), you can put price in attributes in the configuration, reindex the data. If you have made some customization of topsearch.phtml file you need to update it as well. Last version of the file can be found here https://github.com/algolia/algoliasearch-magento/blob/master/design/frontend/template/topsearch.phtml

[2015-10-13 11:36] maxiloc opened #223 "instantsearch.js branch => original price when customer group enabled"
Need to make this fix 2c904ff233e5a5f59a11bc81f1d21b40b30d8e4d on instantsearch.js branch

[2015-10-13 13:44] vvo commented on #223
? Is it an issue for you to track smg? git cherry-pick :dancer:

[2015-10-13 13:45] maxiloc commented on #223
No I can not do that it is not handled in the same way with the new version. Otherwise I would have merge develop into instantsearch.js directly

[2015-10-13 13:47] vvo commented on #223
But do I need to do smg? Or this is a task for you

[2015-10-13 13:48] maxiloc commented on #223
Just for me :smile:

[2015-10-13 21:44] manish172 opened #225 "Root category is displaying in search popup product list"
category without path in product hit template shows the root level category. It should exclude the root level categories by adding the root level category filter ($categoryCollection->addRootLevelFilter())

[2015-10-13 22:24] maxiloc commented on #225
@manish172 I am not able to reproduce your issue. If you look at https://magento.algolia.com which as the demo data of magento we don't have the root category.
I made some test and the only time it shows the root category is when products have the root category as one of the category. For me this is the expected behavior.

Can you give me more details how to reproduce it

[2015-10-13 23:18] manish172 commented on #225
@maxiloc Yes, You are correct. This is the scenario when product is also assigned to root category.

[2015-10-13 23:19] maxiloc commented on #225
Yes so I will keep it like that, I think it's make sense like it is right now

[2015-10-14 16:07] manish172 commented on #225
@maxiloc I think this should be fixed because there are many customers who associate the products to root categories for some reason (like promotions etc.) and display root category in search pop is irrelevant in any scenario.

[2015-10-14 18:37] #225 closed

[2015-10-14 18:38] maxiloc commented on #225
@manish172 addRootLevelFilter actually filter the collection to have only root categories :smile:.

[2015-10-16 12:51] royandre opened #227 "Very large JS packed with Algolia - everything required?"
Could you elaborate a bit on whether everything in the bundle.min.js that comes with the module is indeed required? The JS is very large and we see some performance issues with this.

[2015-10-16 13:07] maxiloc commented on #227
Yes everything is used except jquery-ui sortable (~=20kb)
The bundle is currently 118kb which is not a lot. I think it's ok for what it does.

Can you give me a bit more details regarding your performance issue ?

[2015-10-16 13:58] rbrown opened #228 "AvS_FastSimpleImport and catalogsearch_resource"
If I import products using [AvS_FastSimpleImport](https://github.com/avstudnitz/AvS_FastSimpleImport) it fires of an [event](https://github.com/avstudnitz/AvS_FastSimpleImport/blob/master/src/app/code/community/AvS/FastSimpleImport/Model/Import/Entity/Product.php#L538) to rebuild the catalogsearch index for the affected products. It looks like this extension is [deliberately doing nothing](https:/

[2015-10-16 14:50] maxiloc commented on #228
@rbrown Yes I understand the issue. If we remove this condition everytime you update a product both Algolia indexer and catalog search will index, which is not good.
What I would do is listen for "fastsimpleimport_reindex_products_before_fulltext" event and then run Algolia indexer from it
Does that makes sense for you ?

[2015-10-16 15:17] rbrown commented on #228
Sort of. And the call the Observer->rebuildProductIndex. Does this miss the point where it checks to see fi a product has parents?

[2015-10-16 15:22] maxiloc commented on #228
Yes you will need to add this logic https://github.com/algolia/algoliasearch-magento/blob/master/code/Model/Indexer/Algolia.php#L313-L321 in the event

[2015-10-17 23:47] royandre commented on #227
![algoliatimeline](https://cloud.githubusercontent.com/assets/533020/10561782/f02f01e4-7539-11e5-8246-796c982abfb7.png)

After some brief investigation we see the browser spends most of the time rendering the page to handle this particular JS. You can see it in the attached screenshot (example from www.floyd.no), however it can be seen easily on any of (at least) our Magento-installations running

[2015-10-18 06:54] vvo commented on #227
Cool! Thanks for the tip, we have a new magento update coming soon that also have th JS of algolia at the bottom by default

[2015-10-20 06:13] rbrown commented on #228
Great, thanks

[2015-10-20 06:13] #228 closed

[2015-10-20 11:37] maxiloc commented on #179
I think the html produced is ok. Let's close this and re-open it if needed

[2015-10-20 11:37] #179 closed

[2015-10-20 11:39] maxiloc commented on #180
No news I am closing this, let's re-open it if needed.
I have seen this a couple time and usually it can be fixed by putting a rule to not cache/minify certain file.

[2015-10-20 11:39] #180 closed

[2015-10-20 11:42] maxiloc commented on #190
As I said the backend code is done. @redox do you think we should do that by default or let the user do it ?

[2015-10-20 11:44] redox commented on #190
Like Amazon, I would go for a single image in the results list by default + share the code snippet to use if we want to display multiple of them.

[2015-10-20 11:45] maxiloc commented on #190
Ok works for me

[2015-10-20 16:00] maxiloc commented on #214
Will be available with next release

[2015-10-20 16:00] #214 closed

[2015-10-20 16:10] manuelgodoy commented on #136
Is this available? It is not working for me.

[2015-10-20 16:16] maxiloc commented on #136
@manuelgodoy Yes it is. Did you enable it ?

[2015-10-20 16:25] manuelgodoy commented on #136
What do you mean by enabling it? I am using algolia's python library which seems to be making the right call to the server.

[2015-10-20 16:28] maxiloc commented on #136
I mean Magento extension by default use addObjects if you want the extension to do partialUpdates you need to enable that in the advanced options

[2015-10-21 13:57] #227 closed

[2015-10-21 16:02] #223 closed

[2015-10-27 23:05] maxiloc commented on #182
implemented with a1a3ff2

[2015-10-28 10:52] maxiloc opened #238 "1.5.0 Release tasks"
Quick list of what need to be done (Feel free to update)

### Dev
- [x] No result on instant search page
- [x] Clear configuration

### UX
- [x] cross when there is a query

### UI
- [x] Make sure the UI is responsive
- [x] Make sure IE>9 is usable

### Documentation
- [x] Document how to update the extension
- [x] Document how to use other widget for a specific attribute
- [x] Explain that insert

[2015-10-28 11:31] vvo commented on #238
Do you need something from us here @maxiloc?

[2015-10-28 11:32] maxiloc commented on #238
@vvo For now it's ok, if you think about something missing outside of development (like marketing things) you can add it here

[2015-10-28 11:36] aude opened #239 "Customer group and special prices do not get along"
When 'Customer groups' is enabled, special prices does not work.

How to reproduce:
* Have a product with special price
* Index
    * Special price will show in any search
* Enable 'Advanced'->'Customer groups'
* Index
    * Special price does not show in any search

[2015-10-28 11:39] aude commented on #239
'_original_formated' is not set, that's why frontend does not show special price.

Why does it not get set?
Producthelper.php sets data for products. After debugging, it turns out the `// If fetch special price for groups` block (:271-:293) affects $product; $special_price (:295) is not the same whether that block runs or not.

More debugging has to belief that :278 is at the core of the problem.

[2015-10-28 12:07] maxiloc commented on #239
@aude Indeed there was an issue. https://github.com/algolia/algoliasearch-magento/commit/3a2f8f27797d65c73b20bfa2b38e6b617172ea11 should fix it. Can you try it and tell me how it goes.

[2015-10-28 12:07] #239 closed

[2015-10-28 16:35] #182 closed

[2015-10-29 08:23] aude commented on #239
It seems to fix the issue. Thanks!

[2015-11-04 07:33] aude opened #244 ""Min - max" conflicts with special price"
Given the following situation:

* A configurable product has a price $100
* The associated products have prices $50
* There is a valid special price at $40

An Algolia search will show ~~$100~~ $40. The product view page will show the same.

---

Now, given this other situation:

* A configurable product has a price $100
* The associated products have prices $30 - $50
* There is a valid special pr

[2015-11-04 10:32] maxiloc commented on #244
@aude Thanks for reporting this. It will be available with next release

[2015-11-04 10:32] #244 closed

[2015-11-09 22:21] maxiloc opened #245 "Batch single update requests"

[2015-11-10 17:30] maxiloc commented on #245
The issue is for big instance with queue enabled is that number of job run is wrong because after a lot of product updates it will be "1 * max number of job run" instead of "number of product per job * max number of job run".

I think the best way to do it would be put in the queue only for full reindex. Incremental updates should go be indexed directly

@redox What do you think ?

[2015-11-13 11:01] maxiloc opened #248 "Private Sales feature issue"
Not compatible with Private Sales feature (Magento EE)

[2015-11-13 14:37] maxiloc commented on #248
Issue is not related to this

[2015-11-13 14:37] #248 closed

[2015-11-13 14:58] adderob opened #249 "Rendering Twice Due to Off-Canvas Menu, Not Using Algolia Results Page"
I've done as much as I can to try to figure out what is going on here to no avail.

I installed Algolia, as per the instructions, on my local development instance of a client website. After disabling Elasticsearch, I can inspect element and see that the algolia-searchbox div shows up properly. However, it does not work as it is supposed to. It seems to be using the magento search functionality eve

[2015-11-13 15:01] maxiloc commented on #249
@adderob Do you have an url where I can see the issue. I am not sure to understand everything

[2015-11-13 15:02] maxiloc commented on #249
I do not see your xml code. Can you send it again ?

[2015-11-13 15:05] adderob commented on #249
<reference name="header">
       <remove name="top.search"/>
       <block type="algoliasearch/search_form" name="top.algoliasearch" as="topSearch"/>
       <action method="setTemplate"><template>algoliasearch/topsearch.phtml</template></action>
    </reference>

I have it right beneath the addJs action piece

[2015-11-13 15:06] adderob commented on #249
http://162.243.200.245/ is the url to the development environment.

[2015-11-13 15:17] maxiloc commented on #249
So I would replace #search in https://github.com/algolia/algoliasearch-magento/blob/master/design/frontend/template/topsearch.phtml#L546
by [id="search"]. This will bind to both inputs.

You should also change you instant selector in the algolia configuration to ".inner-wrap" to make the full result page work with Algolia.

Can you first try that and then let's see the remaining issues

[2015-11-13 15:28] adderob commented on #249
Ok, got those changes moved up. I can see that the search bar works now, which is awesome! The results page is also a big ball of blank, but that probably means the right track has been found, at least.

[2015-11-13 15:53] maxiloc commented on #249
Can you add this line https://github.com/algolia/algoliasearch-magento/blob/master/design/frontend/template/topsearch.phtml#L536
and this one https://github.com/algolia/algoliasearch-magento/blob/master/design/frontend/template/topsearch.phtml#L1735
This should remove the error in the console

[2015-11-13 15:58] adderob commented on #249
That did not fix it. I get this error in the console:
    uncaught exception: [Algolia] Invalid instant-search selector: .inner-wrap

[2015-11-13 16:20] maxiloc commented on #249
Yes you will need to change if ($(algoliaConfig.instant.selector).length !== 1) to if ($(algoliaConfig.instant.selector).length >= 1)

[2015-11-13 16:41] maxiloc commented on #249
My bad it's the opposite

[code]
to
[code]

[2015-11-13 16:44] adderob commented on #249
Changed it. That did not fix the error.

[2015-11-13 16:45] adderob commented on #249
Sorry, new error:

uncaught exception: [Algolia] You can't have a search input matching "[id="search"]" inside you instant selector ".inner-wrap"

[2015-11-13 16:48] maxiloc commented on #249
Try with ".main-container" for instant selector

[2015-11-13 16:57] adderob commented on #249
That fixed it! Thank you so much for your help!

[2015-11-13 17:03] #249 closed

[2015-11-14 17:30] maxiloc commented on #245
One possible way to do that could be to have a more intelligent queue that is able to fetch more jobs if they are small (usually 1 product) and batch them if possible (same action + same store).

[2015-11-16 11:28] maxiloc opened #250 "When cron enabled. Run indexer outside of the Magento cron"
The way do to it is to remove

[code]

Add an indexer that will be in charge of running queued jobs. So that it is easily run via CLI with nice output information about the queue state :

[code]

This will solve various issues we had with big stores as it will allow to do more fine tuning.

[2015-11-16 16:46] davis2125 opened #252 "Apply MAP pricing"
If a Magento item is configured to use MAP pricing the price is still being displayed in the Auto-Completion Menu

[2015-11-16 16:56] maxiloc commented on #252
Indeed, thanks for reporting this. Will work on that for next release

[2015-11-17 14:04] maxiloc commented on #252
@davis2125 the feature has been implemented, products with MAP enabled will not be indexed. It will be available with next release.

[2015-11-17 14:04] #252 closed

[2015-11-17 17:13] maxiloc opened #254 "Hierarchical should not query every level"

[2015-11-17 19:55] maxiloc opened #255 "Restrict search on category pages"

[2015-11-18 03:32] davis2125 commented on #252
Thanks @maxiloc

[2015-11-18 11:27] maxiloc opened #256 "Add color as default attribute"

[2015-11-18 14:00] pattrainingserviceslimited opened #257 "Autocomplete not showing"
Hey,

Installed and configured the mod, but autocomplete is not showing?

It appears that no ajax calls are being made to algolia?

Thanks

[2015-11-18 14:00] maxiloc commented on #257
@pattrainingserviceslimited Do you have a link where I can see the issue ?

[2015-11-18 14:06] pattrainingserviceslimited commented on #257
Currently working locally, what screenshots, etc could I send to help diagnose this?

[2015-11-18 14:09] maxiloc commented on #257
Can you send your APP ID, and screenshot of your algolia configuration in magento to "support at algolia dot com".

[2015-11-18 14:09] #257 closed

[2015-11-18 15:57] maxiloc opened #258 "No binding of #search when duplicated"

[2015-11-18 17:14] maxiloc commented on #258
Fixed with d9f157a

[2015-11-18 17:14] #258 closed

[2015-11-18 17:19] #245 closed

[2015-11-18 17:19] #250 closed

[2015-11-18 17:28] maxiloc opened #259 "set a product grid element default height"

[2015-11-18 17:31] #256 closed

[2015-11-18 17:38] #259 closed

[2015-11-18 17:39] maxiloc commented on #206
- priceRanges added

for boolean and data, I am not yet sure how to expose it in the admin panel since it require a bit of configuration

[2015-11-19 14:04] aude opened #260 "Unique queue entries"
I am working with a pretty large scale store, where products are constantly being updated through external systems posting in data to a Magento module.
Each product update triggers a new queue entry, and the queue grows fast here.

Reproduction:
* Open a product in Magento Admin Panel
* Click "Save and Continue Edit" once
* There are now x entries in _algoliasearch_queue_ (10 in my case)
* Now, cl

[2015-11-19 14:05] maxiloc commented on #260
Should be fix with https://github.com/algolia/algoliasearch-magento/commit/8e00869e20a9bf5e6c83e9385e032086719410fd

[2015-11-19 14:09] aude commented on #260
Awesome. The new queue system sounds like a good idea.

[2015-11-19 14:11] maxiloc commented on #260
It will not do a de-duplication because this is not something we want. It's going merge jobs per action and per store and reduce the time of queue processing.

[2015-11-19 14:12] aude commented on #260
I figure, if a product is going to be updated towards the end of the queue, it doesn't make sense to reindex it any time before that final reindex?

[2015-11-19 14:18] maxiloc commented on #260
Yes I agree. But the cost of checking that is big because the data of a job is json_encoded in the db and require to fetch all the jobs to be able to remove the duplicate.

[2015-11-19 14:18] #260 closed

[2015-11-19 14:42] aude commented on #260
Okay. Maybe we can work on a fix with some time. The current situation requires deleting the queue from time to time (>6e6 entries), and running a reindex.
It would maybe be possible to create some sort of database index to enable a swift lookup, or maybe even an unique index so that the queue will refuse to add duplicate entries.

[2015-11-19 14:43] maxiloc commented on #260
Yes sure, let's first wait for next release to see how it goes. And then if you still have issues lets try to find a good fix

[2015-11-19 20:31] manish172 opened #261 "bundle.min.js file size"
currently, file size of  bundle.min.js is 0.5Mb. shouldn't bundle.min.js file be optimize?

[2015-11-19 20:53] vvo commented on #261
Hi @manish172 the current bundle is indeed 500kb minified but 110kb gziped. It is still a big one bundle and we are trying to reduce the filesize.

We will let you know once that's the case.

[2015-11-24 21:41] maxiloc commented on #255
Will be fix with #254

[2015-11-24 21:41] #255 closed

[2015-11-25 11:07] maxiloc commented on #206
- date facet will be able to be done with the numericRefinementList (https://community.algolia.com/instantsearch.js/documentation/#numericrefinementlist)
it's not really a calendar but will be able to handle dates

- boolean will be able to be done with the toggle widget https://community.algolia.com/instantsearch.js/documentation/#toggle

This is already available on develop it just need to be do

[2015-11-25 11:07] #206 closed

[2015-11-25 11:10] maxiloc commented on #220
As discussed let's close this, topsearch.phtml file is way better now, we just need to document it for 1.5 release (https://github.com/algolia/algoliasearch-magento/issues/238)

[2015-11-25 11:10] #220 closed

[2015-11-25 17:07] #254 closed

[2015-11-26 09:53] maxiloc commented on #196
fixed with ed14ff4. There will be an option to enable the feature

[2015-11-26 09:53] #196 closed

[2015-11-26 14:51] maxiloc commented on #190
Let's close this the documentation task is reference in #238

[2015-11-26 14:51] #190 closed

[2015-12-03 15:57] stefkosmo opened #262 "Default Search"
I Have this installed and working but when i hit enter the default magento search no longer works. I dont want the algolia results page set up, but the default magento search.

Can these two work together?

Thanks

[2015-12-03 15:59] maxiloc commented on #262
yes you can set the config in the screenshot to no:

![image](https://cloud.githubusercontent.com/assets/1689007/11565660/336ce164-99df-11e5-80da-e6dfacaaeac9.png)

[2015-12-03 15:59] #262 closed

[2015-12-03 16:11] stefkosmo commented on #262
I've done that but the default magento search does not work?

[2015-12-03 16:55] maxiloc commented on #262
Yes we fetch results from Algolia, and they are displayed by Magento to be able to have the same result in autocomplete and result page.
What is not working ? do you have any error in the log ?

[2015-12-03 16:56] stefkosmo commented on #262
I have Enable instant search results page set to NO, so when I do a search and hit enter I should get magento's default search query. But no products are shown it just returns an empty page.

[2015-12-03 16:58] stefkosmo commented on #262
FIXED....needed to reindex more than catalog search.

Thanks

[2015-12-03 16:59] maxiloc commented on #262
sure

[2015-12-04 12:04] ninteh opened #263 "'Flush Catalog Images Cache' breaks Algolia images"
Hi All,

Great plugin - using it on a production website with good results so far.

One small issue - our Magento has various admins using it - occasionally someone accidently clicks 'Flush Catalog Images Cache' on the cache management page, this causes the images to be broken in Algolia, as it can't re-generate them until re-index.

Possible fix would be to either reindex algolia or add to the cr

[2015-12-07 15:56] sam327 opened #264 "improve instructions for indexing?"
This is a request for some better details on how frequent I should be indexing. I want to make sure I'm indexing often enough to make sure that prices are up to date, but not so often that I'm hitting my API limit.

I've had a couple one-day sales recently, and the sale prices have lingered in the search results after the sales ended. (Because the reindex was only being forced every other day)

So

[2015-12-07 16:16] maxiloc opened #265 "UX"
Autocomplete:

- [x] No result on autocomplete
- [ ] cross when there is a query

Instant search:
- [x] facet title on the left
- [x] facet title grey
- [x] current refinements as tags
- [x] clear all in blue
- [x] Fix width of input
- [x] remove margin of grid and increase padding
- [x] previous / next in letters

[2015-12-07 16:35] maxiloc commented on #264
The is not one solution because it really depends on the usecase.
I think what we can add in the docs a "when is a full reindex needed" section

[2015-12-08 15:48] maxiloc commented on #263
@ninteh Thanks for reporting this. Unfortunately this is an issue we can not solve in the extension. I think your solution is the good one as the image cached should not be cleared often. Anyway we will add in the documentation that a reindex is needed after clearing the cache.

[2015-12-08 15:48] #263 closed

[2015-12-08 15:49] maxiloc commented on #181
This has been implemented and will be part of next release

[2015-12-08 15:49] #181 closed

[2015-12-08 15:59] maxiloc commented on #264
This is now part of #238. Closing this

[2015-12-08 15:59] #264 closed

[2015-12-08 19:05] sam327 opened #266 "Prices not right in the index after updating. (1.4.2 => 1.4.8)"
I updated from 1.4.2 to 1.4.8 - Looks like pricing got cleaned up a bit in the last couple versions. But some of my products weren't showing the price correctly on the search results page.

What I saw in the index...

One item has all the prices listed as separate items (this is the old way).

[code]

While another has them grouped (this is the newer correct method):

[code]
Reindexing the main in

[2015-12-08 21:49] maxiloc commented on #266
Yes that is expected. There was a bug in the 1.4.2 that did not delete product when it should have so you might had some records with the old version that stays.

We did not document well breaking changes and we are going to improve that for future version.

Thanks for reporting

[2015-12-08 21:49] #266 closed

[2015-12-09 14:09] #265 closed

[2015-12-09 21:01] maxiloc opened #269 "special characters in json"
We need to make sure autocomplete section name with special character is working.

Example:

`Pagina's`

[2015-12-10 15:07] sam327 commented on #266
A ha. I've got this plugin on a couple different sites. But this particular issue was only really apparent on one of them. I'll do a flush on the other ones for good measure.

Thanks.

[2015-12-10 15:48] shumaise opened #270 "Showing instant results page when referencing a page using div id"
I'm running on a magento store.

if I have in any page for eg. <a href="#"></a>  or <a href="abouts.html/#custom></a>, clicking on these brings algolia instant results with products and replaces the actual content of the current page. Even if enter a link www.example.com/# brings up the instant results. Is there any way to correct this issue

[2015-12-10 15:49] maxiloc commented on #270
@shumaise It will be fix with next release. Thanks for reporting this.

[2015-12-10 15:49] #270 closed

[2015-12-10 16:55] sam327 opened #271 "Add a css class for sale prices"
In the latest version of topsearch.phtml (v1.4.8), I can't tell whether or not the price in the after_special span is the regular price of the item or a sale price.

Because this `{{price<?php echo $price_key; ?>_formated}}` really just says _current_ price. The only way I know something is on sale is whether or not the _original_formated_ block is there.

        <div class="algoliasearch-autocom

[2015-12-10 16:57] sam327 commented on #271
This was my fix. I moved the current price inside the if-check. And then dropped the after_special class when there isn't an original price.

    <div class="algoliasearch-autocomplete-price">

        {{#price<?php echo $price_key; ?>_original_formated}}
			<span class="after_special">
				{{price<?php echo $price_key; ?>_formated}}
			</span>

            <span class="before_special">

[2015-12-10 17:23] maxiloc commented on #271
I am not sure I get your question. What are you trying to do ?

[2015-12-10 18:26] maxiloc commented on #269
works fine with new version :smile:

[2015-12-10 18:26] #269 closed

[2015-12-10 18:28] maxiloc opened #272 "Admin panel: remove product and suggestions from autocomplete"
replace by checkbox

[2015-12-11 16:24] sam327 commented on #271
Sorry, let me try to explain better. I'm trying to put a different class on the current price when it's on sale vs when it's not.

In my design, the price is black by default. But when it's on sale, I make the price red, with the old price next to it in gray & crossed out.

So, in my updated code, I made it so it if an original price exists (i.e. the item is on sale), it uses the _after_special_ c

[2015-12-14 10:27] maxiloc commented on #271
Yes it makes sense, I will add a class to be able to customize it more easily

[2015-12-14 13:00] maxiloc commented on #272
Actually I removed products and categories because they are now mandatory. Leaving suggestions there for now but they can not be moved

[2015-12-14 13:06] maxiloc commented on #271
Implemented on the develop branch

[2015-12-14 13:06] #271 closed

[2015-12-14 16:50] maxiloc commented on #272
Let remove the suggestions

[2015-12-15 10:58] maxiloc opened #273 "Handle catalog AND search visibility"

[2015-12-15 12:02] #273 closed

[2015-12-15 13:46] maxiloc commented on #272
Fixed with 4985188

[2015-12-15 13:46] #272 closed

[2015-12-16 17:49] maxiloc opened #274 "[Documentation] how to use alternate images"
related to #190

[2015-12-18 14:17] #238 closed

[2015-12-21 20:28] lazyguru opened #277 "Product URLs are broken"
The change in this commit d2ed177b6cdf6515017214cd38fd01dba1836e29 breaks product URLs.  The code should instead be calling $product->getProductUrl()

[2015-12-23 09:02] #277 closed

[2015-12-23 10:00] redox opened #281 "Display an error/warning if the indexer is triggered but the indexing is disabled"
Right now, we don't have an easy way to understand that nothing is indexing because the indexing has been disabled. Would be super handy to have something displayed in the UI and/or from the CLI.

[2015-12-28 14:31] technik-vitafy opened #283 "Undefined variable causing empty result pages"
For some search terms the result page was empty due to an undefined variable e in following map function in algoliaBundle.js. The first if statement is the patch we introduced: We just assign an empty array if e is undefined.

                map: function (e, t, n) {
                    if (!e) {
                        e = [];
                    }
                    var r, o = 0, i = e.length,

[2015-12-31 14:18] jrosell opened #284 "Magento2"
What plans do you have regarding magento2?

[2016-01-04 07:27] maxiloc commented on #284
@jrosell This is something that is on our roadmap. Unfortunately I can not give you an ETA yet. If you want to/have bootstrap something feel free to share it with us !

[2016-01-05 09:50] #281 closed

[2016-01-05 09:54] maxiloc commented on #283
@technik-vitafy Do you know how to reproduce the error ?

[2016-01-05 13:59] vvo commented on #283
This is a jQuery.map method, the issue is not really the method itself but how it was called. What is the UI behavior that triggered this error? Can you provide us a url?

[2016-01-05 17:32] maxiloc opened #286 "Handle secure, unsecure media url"

[2016-01-08 09:54] maxiloc commented on #286
fixed by 60afa15bfbca30b7acde0fd99423287668bdc72a

[2016-01-08 09:54] #286 closed

[2016-01-08 15:14] Jerskouille opened #288 "Strip whitespaces on inputs"
At least on the Algolia configuration input fields.
I just talked with a user that had an extra space after his API key and couldn't find the error.

[2016-01-11 21:30] chrissm79 opened #290 "Can't View Search (Magento v1.9.2.2)"
I've created a vagrant box via Homestead (Laravel) which installs PHP v7.0.1. I created a brand new magento store w/ v1.9.2.2. When I attempt to install the package via Magento Connect, I get an error in the output screen stating that it can't be installed because it required PHP >= v5.3.0 or <= 6.0. So I installed modman, and then ran:

[code]

I get confirmation that the package has been success

[2016-01-11 21:34] lazyguru commented on #290
Pretty sure M1 is not supported on PHP 7.  M2 isn't even fully supported yet (it has the groundwork, but I haven't seen official support listed yet)

[2016-01-11 21:42] chrissm79 commented on #290
To rule out PHP7.0 I ran the default store locally on PHP 5.6 and converted account to community version. Same issue.

[2016-01-11 21:47] lazyguru commented on #290
Try PHP 5.5, that is the highest I have heard of support for M1.

[2016-01-11 21:51] chrissm79 commented on #290
Yeah, same issue w/ PHP v.5.5/v5.6/v7.0

[2016-01-11 21:58] lazyguru commented on #290
Did you ensure your homestead install has all of the appropriate PHP packages for Magento?  I think your issue is a system issue and not an issue with the extension (though I could be wrong).  I know the extension works with EE 1.14 and I'm pretty sure the demo site is a 1.9 install.

[2016-01-12 04:00] chrissm79 commented on #290
Looks like it needs to be installed via Magento Connect for it to work properly (which currently doesn't support PHP 7, but technically neither does Magento). Is there a way to install this properly via Github/modman (installed via modman but that's when it disappears on the frontend) and get it to work on a site?

[2016-01-12 04:23] #290 closed

[2016-01-14 20:22] mattwellss opened #293 "Include unbundled source JavaScript"
It looks like 1.5+ of this extension uses components located here: https://github.com/algolia/instantsearch.js

I'd like to add custom components to a site I'm building, and it doesn't look like that will be particularly possible without rebuilding the bundled JS.

Is it possible to include the source JavaScript used to build the bundle in this module?

[2016-01-15 09:11] maxiloc commented on #283
Let's close this. Feel free to re-open if needed

[2016-01-15 09:11] #283 closed

[2016-01-15 09:14] maxiloc commented on #293
@mattwellss Did you had a look at https://community.algolia.com/instantsearch.js/documentation/#customize ?
The goal of instantsearch.js is to be easily extendable and not having to rebuild from sources when you want to do a new widget

[2016-01-15 09:14] #293 closed

[2016-01-19 09:14] shumaise opened #295 "Warning: flattenChildren(...): Encountered two children with the same key"
Getting error in console

Warning: flattenChildren(...): Encountered two children with the same key, `.$magento_default_products`. Child keys must be unique; when two children share a key, only the first child will be used.

filename: algoliaBundle.min.js

[2016-01-19 09:14] maxiloc commented on #295
@shumaise Do you have the stacktrace ?

[2016-01-19 09:37] shumaise commented on #295
No.

[2016-01-19 09:41] maxiloc commented on #295
Ok do you know how I can reproduce it ?

[2016-01-19 11:38] #295 closed

[2016-01-19 11:39] shumaise commented on #295
The problem i think is with indexing. i tried a new install and there is no error.

[2016-01-19 12:08] arpandevluk commented on #135
I have same problem with this extension. i have properly installed this extension ( version : 1.5.2 ) and it is working for product page and category page but whey i'm trying to search by instant search on home pageit doesn't giving any response.
Can you please help me.
Thanks.

[2016-01-19 12:59] maxiloc commented on #135
@arpandevluk Do you have a link where I can see the issue ?

[2016-01-19 19:39] lazyguru opened #296 "Deleting products via mass action does not seem to remove products from index"
I think this has to do with Algolia_Algoliasearch_Model_Indexer_Algolia::_registerCatalogProductEvent expecting that all deletes will come through as a Mage_Index_Model_Event::TYPE_DELETE but instead they are coming through under Mage_Index_Model_Event::TYPE_MASS_ACTION which doesn't seem to have logic to handle for the products being deleted (same for products being disabled).  I have not dug dee

[2016-01-19 19:49] maxiloc commented on #296
Thanks I'll have a look tomorrow

[2016-01-20 05:14] arpandevluk commented on #135
Yes
Home page link : http://dkdev1.dollskill.com/ ( here it is not working )
Product page link where it is working fine : http://dkdev1.dollskill.com/minkpink-as-if-top.html

[2016-01-20 09:05] maxiloc commented on #135
@arpandevluk It seems that it's not related to Algolia you have javascript errors in the home page, I think when those will be fixed the search will work as expected.

[2016-01-20 09:29] arpandevluk commented on #135
ok i'lll try to solve it and if it's work then i let you know..
Thanks.

[2016-01-20 09:37] #296 closed

[2016-01-20 09:37] maxiloc commented on #296
@lazyguru Indeed, just fixed it

[2016-01-20 14:56] maxiloc opened #297 "addFinalPrice is using the price index which is not reliable"
Steps to reproduce:
- Enable the queue
- Update a product, reindex
- go into the price index and delete references to that updated product
- add that product to the algolia queue and attempt to process the queue

Possible way to fix it:
- change the value of use_price_index thanks to catalog_product_collection_apply_limitations_before

[2016-01-20 15:24] chrisvanderpoel commented on #297
The problem revolves around the query generated by `Algoliasearch/Helper/Entity/Producthelper::getProductCollection`.  This method leverages the `addFinalPrice` method for adding pricing information to the collection.  This `addFinalPrice` method is actually an alias for `Mage_Catalog_Model_Resource_Product_Collection::addPriceData` which, in turn, immediately sets itself up to use the price index

[2016-01-22 13:43] byjord opened #298 "Common class names"
On integration it seems that the Magento extension uses common class names that override that of a theme or development. Eg, `.row` or `.main` etc. Might be a good idea to use algolia prefixed class names (`.algolia-row` or `.algolia__main`, depending on your preferred naming schemes) as a default to enable fast setup without conflicts.

[2016-01-26 10:11] maxiloc commented on #297
@chrisvanderpoel Can you try this fix https://github.com/algolia/algoliasearch-magento/commit/f6542e2b93f6a6776d9840df39365403d640f555 ?

[2016-01-26 14:25] maxiloc commented on #298
@byjord Yes this is something we need to work on, but this will need to be released with a major version as it will break most of the existing implementation

[2016-01-27 21:48] dustincoates opened #299 "Use Include in Navigation Menu"
Use this setting to include or exclude navigation menus from categories.

[2016-01-28 12:32] #299 closed

[2016-01-28 16:31] pattrainingserviceslimited opened #300 "Categories appearing twice in autocomplete menu"
Hey,

Getting the category block appearing twice in the autocomplete menu, any ideas why?

Thanks

![screen shot 2016-01-28 at 16 30 39](https://cloud.githubusercontent.com/assets/11092685/12650917/95a57354-c5dc-11e5-8aa9-af60c6580e79.png)

[2016-01-28 16:41] technik-vitafy opened #301 "Baseurl is taken from website level instead of store view level"
Baseurl is taken from website level instead of store view level. Is the only workaround to create separate websites?

[2016-01-28 17:09] maxiloc commented on #300
@pattrainingserviceslimited Can you send a screenshot of your autocomplete configuration

[2016-01-29 03:56] bslinger opened #302 "Instant Search Results appearing on product pages when Autocomplete is off"
While testing the plugin I came across an issue where the Instant Search Results block would replace the page when going to a product page. I tracked it down to line 417 of topsearch.phtml:

`if (algoliaConfig.instant.enabled && (algoliaConfig.isSearchPage || !algoliaConfig.autocomplete.enabled))`

which ends up doing the instant search replacement if instant is enabled and autocomplete is not, re

[2016-01-29 09:13] pattrainingserviceslimited commented on #300
![screen shot 2016-01-29 at 09 12 47](https://cloud.githubusercontent.com/assets/11092685/12671592/9c9b26fe-c668-11e5-8f9f-902d8441edb0.png)

[2016-01-29 09:14] maxiloc commented on #302
@bslinger Are you using the last version 1.5.2 ? because we fixed an issue related to this in this last release

[2016-01-29 09:31] maxiloc commented on #301
@technik-vitafy Indeed it's not taking it into account. I'll investigate

[2016-01-29 09:42] maxiloc commented on #300
ok so no issue on this side. Do you have an url where I can see the issue live ?

[2016-01-29 09:44] pattrainingserviceslimited commented on #300
http://www.test-meter.co.uk/

[2016-01-29 09:54] maxiloc commented on #300
Seems like the javascript is injected twice, did you modified anything or just install via magento connect ?

[2016-01-29 09:58] pattrainingserviceslimited commented on #300
I've added copied algoliasearch/topsearch.phtml & algoliasearch/algoliasearch.css to theme for modifications thats it. The module was installed via magento connect.

[2016-01-29 10:00] pattrainingserviceslimited commented on #300
Also strangely enough, if you click a product result in the autocomplete, the second category disappears before redirecting to the search.

[2016-01-29 10:01] maxiloc commented on #300
where did you copied it ?

[2016-01-29 10:05] pattrainingserviceslimited commented on #300
from
base/default/template/algoliasearch/algoliasearch.phtml
to
blueclaw/testmeter/template/algoliasearch/topsearch.phtml.

[2016-01-29 10:15] pattrainingserviceslimited commented on #300
I've deleted all the files I copied to theme so the default files run, but same duplicate categories block is being produced.

[2016-01-29 10:34] maxiloc commented on #300
Did you clear the cache when you did that ?

[2016-01-29 10:38] pattrainingserviceslimited commented on #300
Yes cache was cleared

[2016-01-29 10:45] maxiloc commented on #300
Can you try uninstalling the extension, check that you don't have any algolia file anymore, clear the cache and reinstall it ?
I quite sure copied files where the source of the issue.

[2016-01-29 11:17] pattrainingserviceslimited commented on #300
I've uninstalled and reinstalled and cleared cache and still the same problem.

[2016-01-29 11:41] pattrainingserviceslimited commented on #300
Alternatively could the second category display be hidden with css, what identifier could be targeted short term?

[2016-01-29 11:51] maxiloc commented on #300
can you re-enable it, on http://www.test-meter.co.uk/, I would like to check one more thing

[2016-01-29 11:52] pattrainingserviceslimited commented on #300
Done, my theme files have been removed so it's the module defaults.

[2016-01-29 11:57] maxiloc commented on #300
Ok I found the issue. Your template seems to have two "top.search" block which make the extension code injected twice. The fix is to update this config
![image](https://cloud.githubusercontent.com/assets/1689007/12675028/cbb943fc-c687-11e5-854b-6b13b71158ff.png)
in advanced with the selector of your default input.

Tell me how it goes

[2016-01-29 13:28] pattrainingserviceslimited commented on #300
Excellent, thankyou very much.

[2016-01-29 13:28] #300 closed

[2016-01-29 15:56] pattrainingserviceslimited opened #303 "Autocomplete width changes dependent on page layout."
Hey,

Pages with one column, the autocomplete is 71% of the page width. but on two column pages, the autocomplete is 71% of the right column, please see http://www.test-meter.co.uk and http://www.test-meter.co.uk/multifunction-testers/

thanks

[2016-01-29 17:44] maxiloc commented on #303
Yes depending on the theme you might need to override some css rules on your side as we can't plan for every theme

[2016-01-29 17:44] #303 closed

[2016-02-01 10:35] pattrainingserviceslimited commented on #303
At the moment `<div id="algolia-autocomplete-container"></div>` is being injected within `<div class="col-main"></div>` how can I change where this is inserted?

[2016-02-01 10:38] maxiloc commented on #303
https://github.com/algolia/algoliasearch-magento/blob/master/design/frontend/layout/algoliasearch.xml#L30-L34

[2016-02-01 10:39] maxiloc commented on #303
https://github.com/algolia/algoliasearch-magento/blob/cc7ac51831526be094bbdb2ccff4aef6edb2c48a/design/frontend/layout/algoliasearch.xml#L16

[2016-02-01 10:45] pattrainingserviceslimited commented on #303
Sorted it thanks for your help.

[2016-02-01 15:11] maxiloc commented on #301
@technik-vitafy Are you still experiencing the issue ? If yes can you send me the config your are using regarding website, and a live example of what you have and what you would expect

[2016-02-01 17:50] technik-vitafy commented on #301
We had to apply following patch in Producthelper.php:
 'url'               => Mage::getBaseUrl() . $product->getRequestPath(),

You can reproduce the problem when having multiple storeviews with different base urls. The base url of the first store view seems is cached. On the otherhand this could not occure with a vanilla magento installation.

[2016-02-02 10:02] byjord commented on #298
@maxiloc maybe a quick fix for future version 1.5.4 could be a toggle option in the admin to switch between generic and non-generic class names. (Just a suggestion to help your on-boarding efforts, we're already changing out the extension in house)

[2016-02-02 10:08] maxiloc commented on #298
Thanks for the hint, this is definitely an option to consider.
The only thing is we are thinking about re-doing the css from scratch to use best practices including naming, so it will probably depends on how soon we are able to do this.

[2016-02-02 10:21] maxiloc commented on #301
@technik-vitafy Can you give me more details on why this could not occurs with a vanilla magento installation.
With the sample data of magento you have several store views, when I changed the base url of those views they are updated fine after a full reindex (even with all cache enabled).

(I don't know what I did 4 days ago because I am not able to reproduce it anymore)

[2016-02-02 17:51] dustincoates commented on #299
@maxiloc Is this closed because we already have it or because we don't plan on adding it?

[2016-02-02 17:52] maxiloc commented on #299
Yes it's implemented with d7c01b74a1277eeabf0676d7a26fe39814ec113d

[2016-02-02 17:58] dustincoates commented on #299
Thanks @maxiloc !

[2016-02-02 21:30] ZayLong opened #306 "Algolia not updating new products, no error messages??"
Running 1.5.1 I have the Algolia queue runner successfully configured runs every 15 minutes, however new products have stopped updating.

The queue runner returns a build successful message whenever it runs.

We don't use the suggestions or pages. We have updated to 1.5.1 about 2-3 weeks ago and things have ran relatively smoothly since.

Here's how our index manager is set up,
Is there anything w

[2016-02-02 21:35] ZayLong commented on #306
Also the algoliasearch_queue_log.txt says it has stopped  1/6/16 If that may be indication.

[2016-02-02 22:32] maxiloc commented on #306
Did you try a full reindex ?
Can you send your algolia.log file after a full reindex to support at algolia dot com (and an id of product that does not get indexed) ?

[2016-02-03 03:56] ZayLong commented on #306
It seems the product has finally updated in Algolia,
I did do a manual reindex however the algolia.log file has no new information in it (the file was last modified back in May of last year)

Every now and again we come across a situation where I see batch POST in the algolia dash, however many products are not updated.

Is it possible that the queue runner gets backed up? (Our store has thousands

[2016-02-03 08:47] maxiloc commented on #306
There should not be any issue once a query arrive to Algolia. Modifying Max number of element per indexing job and the Number of jobs can change something if you have low timeout or low memory on Magento side.

Ok let's close this and reopen-it if needed

[2016-02-03 08:47] #306 closed

[2016-02-03 08:49] maxiloc commented on #302
@bslinger Closing this, feel free to re-open it if needed

[2016-02-03 18:02] dustincoates opened #307 "Unable to follow links on iOS"
A user reported the following issue:

```I struggled following links on my own iPhone and BrowserStack appears to replicate this behaviour, but Android appears to be fine.```

With a follow-up of:

The iOS issue appeared to be around iOS not picking up on an < a > link around a < div > in the autocomplete popup – this is in the Algolia Autocomplete Template, but we use identical markup on the rest

[2016-02-05 17:59] maxiloc opened #308 "Price sorts aren't working"

[2016-02-05 18:46] sam327 opened #309 "typo in the instructions? --reindex algolia_queue_runner"
I'm not sure if this is a difference in systems, or if it's a typo that needs fixing. At any rate, I wanted to call it to your attention, and have it documented in case someone else trips up on it.

In the docs, it says I should set up the cron tab like so:
[code]
As I understand it, that `-- -reindex` should instead be `--reindex` like so:
[code]
Was wondering why a queue didn't run last night as

[2016-02-08 11:14] maxiloc commented on #309
What version of magento are you running. On 1.9.x ``` --reindex ``` fails

[2016-02-08 11:16] #308 closed

[2016-02-08 11:17] maxiloc commented on #308
Fixed with 62ffd6c

[2016-02-08 17:15] technik-vitafy commented on #301
@maxiloc: You can close this. We had a custom override for the Url Model implementation which cached the base url. Thanks!

On 02 Feb 2016, at 11:21, maxiloc <notifications@github.com<mailto:notifications@github.com>> wrote:

@technik-vitafy<https://github.com/technik-vitafy> Can you give me more details on why this could not occurs with a vanilla magento installation.
With the sample data of mage

[2016-02-08 18:43] #301 closed

[2016-02-09 10:29] byersdesign opened #311 "Really need a way to enable the front-end devs to style the elements"
Its absolutely horrendous to try and style this extension. There is no way of stopping the inner elements from 'disappearing' after you click off the search box. Please help

[2016-02-09 10:30] maxiloc commented on #311
Just set this to true https://github.com/algolia/algoliasearch-magento/blob/master/design/frontend/template/topsearch.phtml#L764

[2016-02-09 10:30] #311 closed

[2016-02-09 11:12] byersdesign commented on #311
awesome. thank you

[2016-02-09 11:41] byersdesign opened #312 "Search results are showing categories that are NOT included in the navigation"
It seems that search results are showing categories that are hidden from the navigation. So, for example: Categories that were never meant to be found by customers just viewing the website are now finding them. These might include categories that are used from promotional purposes.

[2016-02-09 11:46] byersdesign opened #313 "Configurable products with fixed prices"
It looks as though configurable products that have a fixed price are having their associated products' prices showing in search results. For example: Search for "Fiona" here https://www.littlewomen.com/ and you will see that its pulling in a rage of prices however this is incorrect as the main "Fiona" configurable product has a set price.

[2016-02-09 11:55] byersdesign commented on #312
For example, if you search for "Offer" here: https://www.littlewomen.com

[2016-02-09 12:39] maxiloc commented on #312
This got fixed with https://github.com/algolia/algoliasearch-magento/commit/d7c01b74a1277eeabf0676d7a26fe39814ec113d

It will be part of this week release

[2016-02-09 12:39] #312 closed

[2016-02-09 13:06] maxiloc commented on #313
Yes this is a issue. I just fixed it with https://github.com/algolia/algoliasearch-magento/commit/73d85643cf54d60b592f12d481854f9f8cc0fe3e
It will also be available with this week release

[2016-02-09 13:06] #313 closed

[2016-02-09 13:09] byersdesign commented on #312
So sorry to be a pain. I know you are probably a really busy guy and have lots of other bits to get on with but I have implemented the code changes mentioned in the 'd7c01b7' commit but its still pulling these categories into the autocomplete. I have re-indexed the results in Magento and checked on Algolia's dashboard. The "promotional" categories are still showing.

[2016-02-09 13:11] maxiloc commented on #312
Yes you might need to clear the index first and then reindex

[2016-02-09 13:50] byersdesign commented on #312
How would I clear the index first. Do you mean index Magento's indexes first and then run Algolia's ones?
I have done the following:

1. Run Magento's indexs'
2. Run Algolia's indexes'
3. Cleared cache
4. Run indexes again
5. Checked Algolia.com indices. they have updated but the promotional categories are still in there.

[2016-02-09 13:51] maxiloc commented on #312
You need to go to Algolia dashboard find the category index, clear it. And the run the algolia search indexer.

[2016-02-09 13:57] byersdesign commented on #312
You are so BOSS! Thank you Maxiloc

[2016-02-09 15:57] lazyguru commented on #312
@maxiloc clearing the index in Algolia is not an option for merchants with +500 products.  It takes 4-6 hours for a full reindex.  They can't have their site completely down during that time.  How can they get this update without clearing the index?

[2016-02-09 16:00] maxiloc commented on #312
@lazyguru This is for the category index which should not be more than few hundred records in the worse case scenario

[2016-02-10 09:54] maxiloc commented on #307
I am not able to reproduce. Let's close this and re-open it if needed

[2016-02-10 09:54] #307 closed

[2016-02-12 16:20] maximilianmikus opened #317 "reindex products - high memory consumption"
I maintain a webshop with about 20000 products, while indexing the memory consumption increases the more products are indexed. This leads to memory limit errors.

`PHP Fatal error:  Out of memory (allocated 2099249152) (tried to allocate 94208 bytes) in [..]/app/lib/Varien/Image/Adapter/Gd2.php on line 458`

[2016-02-12 16:22] maxiloc commented on #317
Do you have the queue enable ? For this amount of product it's almost required for indexing to work properly

[2016-02-12 16:27] maximilianmikus commented on #317
Of course not :smile:

I guess the queue will this then.

[2016-02-12 16:27] #317 closed

[2016-02-12 17:14] jrosell opened #318 "Filtrable with more than 1 result"
I see many filters used because only gives one product included as a result. In these case all #ux guidelines says is better to show that filters instead of showing all oth them with 1 result.
I don't know if you currently do that or you plan to do it...

[2016-02-12 17:36] maxiloc commented on #318
@jrosell I am not sure to understand. Can you give me a bit more details ? Maybe you could do some screenshot

[2016-02-12 17:42] jrosell commented on #318
For example, this 2 attributes i don't think it makes sense for good #265

![resultados de busqueda para cana](https://cloud.githubusercontent.com/assets/1544992/13015236/4a1dbc38-d1b8-11e5-85b4-177a02191ea4.png)

[2016-02-12 18:00] maxiloc commented on #318
I guess this is the behavior we want by default, but this is definitely something you can customize

[2016-02-15 19:01] sam327 commented on #309
Whoops. I didn't see the notification... I'm on 1.9.1.

- `php ... --reindex` runs correctly.
- `php -f ... -- -reindex` runs correctly.
- `php ... -- -reindex` fails.

At any rate, I'm closing this as 'user error.'

[2016-02-15 19:01] #309 closed

[2016-02-18 02:37] Ilia opened #319 "Customer Group prices"
Hi,

Is there anyway that we can get the customer group price without all prices being sent back from algolia service? It seems odd that users can see this without even logging in.

ie
![screen shot 2016-02-18 at 1 36 20 pm](https://cloud.githubusercontent.com/assets/75891/13132166/ae40d44e-d644-11e5-9728-b75db4172044.png)

[2016-02-19 16:14] rbrown opened #321 "Use Include in Navigation Menu to say if we index a category or not"
Was d7c01b74a1277eeabf0676d7a26fe39814ec113d the result of a user request or anything? Is there any chance of having it reverted or as a config flag? We use the option at the moment to differentiate between categories that appear on the top menu and ones that can only be reached by browsing through the hierarchy

[2016-02-19 16:16] maxiloc commented on #321
Yes we can definitely add an option

[2016-02-19 20:28] rbrown opened #322 "hits widget emits divs"
Hi, the hits widget emits a couple of divs around each hit which is breaking the layout that I'm trying to do for my results page.

[code]

I can't see how to disable the js from doing this? I see there's a new allItems template option in  https://github.com/algolia/instantsearch.js/commit/1f3f889d4cc246c317d9b0e7b436f5d427dc6c33 but that's not in the magento extension yet. Would using the newer v

[2016-02-19 20:48] vvo commented on #322
Yes @rbrown the new allItems option might be good for you. It will be available in magento soon, stay tuned here by subscribing to the issue (you already are subscribed in fact)

[2016-02-21 13:27] byjord commented on #298
Good to know that you're already working on a resolution for it dude. :)

[2016-02-21 13:27] #298 closed

[2016-02-22 02:17] bslinger opened #323 "Full reindex seems to be missing some products"
We've been using the Algolia Magento plugin in production for the last week or so, and have noticed that the occasional product just doesn't seem to exist in the index, even after a full reindex. Hitting save on the product (when we discover it) successfully updates the index, so presumably there is nothing about the product itself that the indexer is getting hung up on.

Any ideas on how I might

[2016-02-22 11:09] rbrown commented on #322
Great, thanks

[2016-02-23 13:17] maxiloc commented on #323
@bslinger Are you importing your products via an external extension ?

[2016-02-23 22:25] Ilia commented on #319
Any help is greatly appreciated on this

[2016-02-23 23:06] bslinger commented on #323
We have dataflow profiles which import products, though they all use the Magento models to do it so indexing events should be created correctly. It's come to our attention today that some of the products that we saved yesterday to force them into the index have disappeared from it again. I'll take a look at the algolia logs and see if I can figure out when that might have happened.

[2016-02-24 04:38] Ilia opened #324 "Catalog Price Rules"
Hi,

Can you please confirm if the prices transferred to algolia are affected by the catalog price rules?

In my testing I found that if i set the special price and have a catalog price rule on top with no group price on the product itself, it will only transfer the special price to algolia. Customer Groups in config is set to "Yes".

Any feedback on this would be greatly appreciated.

[2016-02-24 08:02] aude commented on #319
Users have access to everything that is allowed by the search API key. As far as I can see, that means that the only way to properly restrict it is to create a separate API key for each customer group.

[2016-02-24 10:00] maxiloc commented on #324
@Ilia Which version of the extension are you using ? I am not able to reproduce it locally

[2016-02-24 10:09] Ilia commented on #324
@maxiloc using the latest release 1.5.3, we have catalog price rules that affect the special prices as well as full price, we do not use the group prices on the products themselves. Looking at the product helper class around the handleprice method, there does seem to be a mention of catalog price rules model.. I must be missing something.

[2016-02-24 10:23] maxiloc commented on #324
Yes this call https://github.com/algolia/algoliasearch-magento/blob/master/code/Helper/Entity/Producthelper.php#L318
is handling both special price and any catalog price rule that there can be.

Same here https://github.com/algolia/algoliasearch-magento/blob/master/code/Helper/Entity/Producthelper.php#L328 when customer group is enabled.

[2016-02-24 10:26] Ilia commented on #324
Thank you, will debug that and see why it is not working for me

[2016-02-24 10:32] maxiloc commented on #319
No right now this is not possible. We have a feature that is not yet implemented in the engine that would allow to do this in the coming weeks. Let keep this open in the meantime

[2016-02-24 10:33] Ilia commented on #319
Thank you

[2016-02-24 18:35] chrisvanderpoel commented on #323
Make sure you have fully reindexed your site.  The collection methods for gathering up products to export to Algolia depends on the price index being up to date.  If a product has been imported but the price index is not up-to-date, you will run into a scenario where the product exists in Magento but is not showing up in Algolia.

A good place for debugging this is in the `app/code/community/Algol

[2016-02-25 17:07] technik-vitafy opened #325 "Add Google Analytics Product List Tracking for Category Pages"
This would allow to measure conversion funnel metrics for each product listed on a category page.

[2016-02-25 17:08] maxiloc commented on #325
I guess this is something you can do on your side no ?

[2016-02-25 17:17] maxiloc commented on #325
Because I am not sure it makes sense to have it by default in the extension

[2016-02-25 17:44] technik-vitafy commented on #325
Most ecommerce shops are using Google Analytics per default. So I think this would be a great feature for many algolia customers.

[2016-02-29 16:07] lzygmanski opened #326 "it is possible to add new info for query?"
hello!
We would like to and new dynamic element and some custom behavior for query result. how we can achieve that?

it is possible to add new info for query:

1. On the top of the container which has class name „autocomplete-wrapper” we would like have such text: „number of hits” Result for Query „query text”

2. if i have result for category and pages i want to show info before page and category

[2016-02-29 16:50] maxiloc commented on #326
ping @redox

[2016-02-29 17:06] redox commented on #326
Hi @lzygmanski,

the auto-completion menu of our Magento integration is based on the open-source [autocomplete.js](github.com/algolia/autocomplete.js) library and can for sure be extended.

That being said, each "sections" of the auto-completion menu is currently independent/isolated so you cannot easily control what you want to display based on the JavaScript code, especially not doing conditioni

[2016-03-01 14:52] Floddy opened #327 "Clear all button not translatable"
The 'Clear all' button is not translatable. Is it possible to add a template for this widget, so we can translate it?

[2016-03-01 15:02] maxiloc commented on #327
Yes you can add this. You can have a look at the currentRefinedValue widget doc for the template option list => https://community.algolia.com/instantsearch.js/documentation/#currentrefinedvalues

[2016-03-01 15:40] Floddy commented on #327
Thanks! A colleague solved it now. :)

[2016-03-01 21:51] lzygmanski commented on #326
Yep! thanks for your help!

[2016-03-01 21:52] #326 closed

[2016-03-04 11:53] maxiloc opened #328 "Do not cast sku (in case it is a number)"

[2016-03-04 12:19] #328 closed

[2016-03-07 05:48] bslinger commented on #323
So I've done some debugging today and it looks like the module is deleting configurable products from the index when their associated stock item is saved.

We are using Embedded ERP, and whenever an order comes in, it saves the stock item for each item in the order, including the parent configurable. This triggers _registerCatalogInventoryStockItemEvent, which adds the 'catalogsearch_delete_produc

[2016-03-07 08:18] maxiloc commented on #323
@bslinger Yes that might be possible. We are going to change the logic of the indexer, and adopt the same one that is being used in magento2 which is way simpler and less error prone.
When there is an update/sock update, we will delete + update. The update will create it again only if necessary

[2016-03-14 09:40] stefkosmo opened #334 "Autocomplete dropdown does not respond to z-index changes."
Hey,

The autocomplete dropdown is appearing before certain elements on my page. I've changed the **z-index** of **#algolia-autocomplete-container .aa-dropdown-menu** to **9999 !important;** to no avail.

Does this need attaching to a different element?

[2016-03-14 14:20] osm-dev opened #335 "Undefined Method"
Hey there,

I'm trying to update Algolia to the newest(1.5.4) version but i'm getting this error:

PHP Fatal error:  Call to undefined method Algolia_Algoliasearch_Helper_Config::getNumberOfProductSuggestions() in [...]app/design/frontend/default/my-theme/template/algoliasearch/topsearch.phtml on line 28

[2016-03-14 14:35] maxiloc commented on #335
it should be getNumberOfProductsSuggestions (with a "s" at product). See https://github.com/algolia/algoliasearch-magento/blob/a91de231822ce5e81849f4bcf52549da0ec6a446/design/frontend/template/beforetopsearch.phtml#L103

[2016-03-14 14:35] #335 closed

[2016-03-14 14:35] maxiloc commented on #334
Do you have a link where we can see the issue ?

[2016-03-14 14:46] stefkosmo commented on #334
Hey sorry, please visit dealicious.co.uk

[2016-03-14 15:01] maxiloc commented on #334
This is because you have an "overflow: hidden" for #content.
To be able to have a large autocomplete dropdown we need to put this dropdown in the content and not the header.

[2016-03-14 15:01] #334 closed

[2016-03-14 16:44] osm-dev commented on #335
Tryied, but still without success: ... Call to undefined method Algolia_Algoliasearch_Helper_Config::getNumberOfProductsSuggestions() ...

I used this file: https://github.com/algolia/algoliasearch-magento/blob/master/releases/algoliasearch-1.5.4.tgz

[2016-03-14 16:45] maxiloc commented on #335
Can you try to install it via magento connect

[2016-03-14 16:56] osm-dev commented on #335
Unfortunatly, can't. Magento connect is closed on the server i use due to security.

[2016-03-14 16:58] maxiloc commented on #335
I would say this is due to some files not being put at the right place and/or remaining files from the previous version.

[2016-03-14 16:59] maxiloc commented on #335
Are you able to install using modman ?

[2016-03-14 16:59] maxiloc commented on #335
https://github.com/algolia/algoliasearch-magento#2-modman

[2016-03-14 20:06] osm-dev commented on #335
I removed all previous installation files and re-installed trougth modgit(default on this project instead of modman) the page renders, but now i have a js error: ReferenceError: algoliaBundle is not defined.

[2016-03-14 20:09] maxiloc commented on #335
I never used modgit but since we don't have the configuration file it expected that is does not do all files mapped. You just need to check that you have all files that are mapped according to this https://github.com/algolia/algoliasearch-magento/blob/master/modman

Tell me how it goes

[2016-03-14 20:49] osm-dev commented on #335
Modgit clones the entire repository, modman has a config file so you can choose to ignore something. I checked your link and i think its all mapped, as you can see on my deploy log:

Deploying:
js/algoliasearch/algoliaAdminBundle.min.js/algoliasearch.map
js/algoliasearch/algoliaAdminBundle.min.js/algoliasearch
js/algoliasearch/algoliaBundle.min.js/algoliasearch
js/algoliasearch/admin_scripts.js/al

[2016-03-15 20:56] maximilianmikus opened #336 "Mixed Content error in https"
If I active https for the frontend, I get mixed content errors related to the search-form:

`Mixed Content: The page at 'https://www.beyondmedia.at/customer/account/login/' was loaded over HTTPS, but requested an insecure image 'http://www.beyondmedia.at//skin/frontend/base/default/algoliasearch/cross.png'. This content should also be served over HTTPS.`

[2016-03-15 21:16] maximilianmikus commented on #74
We have issues with this in our shop, if products get deleted, or disabled they are not removed from the index.

[2016-03-15 21:36] #327 closed

[2016-03-15 21:48] maxiloc commented on #336
You should be able to fix that by replacing references of Mage::getBaseUrl() by Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_LINK, true)

- https://github.com/algolia/algoliasearch-magento/blob/master/design/frontend/template/topsearch.phtml
- https://github.com/algolia/algoliasearch-magento/blob/master/design/frontend/template/beforetopsearch.phtml

We'll try to work on a more permanent solut

[2016-03-15 21:48] maxiloc commented on #325
I am closing this, feel free to submit a Pull Request

[2016-03-15 21:48] #325 closed

[2016-03-15 21:49] maxiloc commented on #324
I am closing this, let's re-open if needed

[2016-03-15 21:49] #324 closed

[2016-03-15 21:50] maxiloc opened #337 "Apply new magento2 update strategy"
When a product is saved:
- delete
- push

[2016-03-15 21:51] maxiloc commented on #323
I am closing this in favor of #337

[2016-03-15 21:51] #323 closed

[2016-03-15 21:51] #322 closed

[2016-03-15 21:52] #274 closed

[2016-03-15 21:52] maxiloc commented on #199
I am closing this, let's re-open if needed

[2016-03-15 21:52] #199 closed

[2016-03-15 21:53] maxiloc commented on #261
I am closing this, Feel free to reopen the issue in the bundle repo https://github.com/algolia/algoliasearch-extensions-bundle

[2016-03-15 21:53] #261 closed

[2016-03-15 21:54] maxiloc commented on #297
Let's close this and re-open if needed

[2016-03-15 23:39] manish172 commented on #261
@maxiloc No issues. is there any way to show products as well as pages on instant search result page with filter to show pages only or show products only?

[2016-03-16 08:56] maxiloc commented on #261
It's doable by instantiating two instantsearch object but to have the filter it will require custom code. Maybe you could create an issue in instantsearch.js repo to see if we can improve that.

[2016-03-17 07:38] maxiloc commented on #335
Can you try with modman instead of modgit ? Also do you have an url where I can see the issue live ?

[2016-03-17 11:24] maximilianmikus commented on #74
Could this be related to:

`$result = $process->getMode() !== Mage_Index_Model_Process::MODE_MANUAL;`

if manual mode is enabled the event is not registered?

[2016-03-17 11:25] maxiloc commented on #74
Which version of the extension are you using ?

[2016-03-17 11:27] maximilianmikus commented on #74
1.5.3

[2016-03-17 11:45] maximilianmikus commented on #74
just tested this, seems to work now that I enabled `update on save` for indices.

[2016-03-17 12:08] maxiloc commented on #74
Yes indeed. Usually what we recommend is having update on save + the queue enable to process those job asynchronously (https://community.algolia.com/magento/documentation/#indexing-queue-enabled)

[2016-03-17 14:37] stefkosmo opened #338 "IE9 algoliaConfig is undefined."
Hey,

Getting this error in ie9. (See attached image)
![screen shot 2016-03-17 at 14 35 18](https://cloud.githubusercontent.com/assets/8162643/13849373/cb660f3e-ec4d-11e5-8092-048d608a1a05.png)

[2016-03-17 15:06] maxiloc commented on #338
Do you have a url where we can see the issue live ?

[2016-03-18 14:14] osm-dev commented on #335
Hi! I tryied to install through modman, and the error is the same as when installed through modgit,  ReferenceError: algoliaBundle is not defined. I think there is some missing js file on my installation. Yes i do have a url, can you send me your email? (your team has my e-mail address)

[2016-03-18 14:28] maxiloc commented on #335
just send it to support at algolia dot com. I'll have a look

[2016-03-18 15:04] maxiloc commented on #335
It seems like this block https://github.com/algolia/algoliasearch-magento/blob/master/design/frontend/layout/algoliasearch.xml#L19 is added to your page.
You can either try to check why or import the two lines in https://github.com/algolia/algoliasearch-magento/blob/master/design/frontend/template/frontjs.phtml another way.

[2016-03-21 12:41] osm-dev commented on #335
That was the problem. Thanks.

[2016-03-23 09:33] spiralmedia-rupert opened #341 "Magento site crashes when Algolia Limit is reached"
If your Algolia account has been suspended because you have hit the limit and a user tries to search your site, they are taken to a error page (There has been an error processing your request
Exception printing is disabled by default for security reasons.). Looking at the report I see the following result: "a:5:{i:0;s:62:"Operations quota exceeded, change plan to get more Operations.";i:1;s:4563:"

[2016-03-23 09:56] maxiloc commented on #341
Fix with d69425a. It will be part of next release.

Thanks for reporting this.

[2016-03-23 09:56] #341 closed

[2016-03-24 22:15] redox opened #342 "Call to a member function getBackend() on a non-object in"
Error while manually reindexing (using 1.5.4):

Fatal error: Call to a member function getBackend() on a non-object in `.../apps/magento/htdocs/app/code/core/Mage/Eav/Model/Entity/Abstract.php` on line 816

This is my line 816 it is referring to:

[code]

Any idea what that could mean?

[2016-03-24 23:30] maxiloc commented on #342
Did you had any non default attribute ?

[2016-03-25 04:33] sammarcus commented on #342
By non default attribute do you mean our own custom attributes for products?

I actually just cleared `eav_attribute` table of all attributes that had `is_user_defined` = `1`, there are only 39 attributes left (39 in admin interface but 128 in actual table), all of them are system out-of-the-box attributes that come with the platform.

FWIW, this only occurs on "Algolia Search Additional autocompl

[2016-03-25 08:31] laurfx opened #343 "URL problem"
Hello,

I have a problem with url what is showing in the instant search box, after url it's add a /default/ , how can i remove this?

Thanks

[2016-03-25 10:01] maxiloc commented on #343
I am not sure to understand the issue. Can you give me a bit more details ? Do you have a url where I can see the issue live.

[2016-03-25 10:06] maxiloc commented on #342
Can you try to remove all attributes from additional sections in "System > Configuration > Algolia Search > Autocomplete" , add them again and then try to reindex

[2016-03-25 10:13] laurfx commented on #343
Sorry, i can't give you the URL but i can explain you.

I use MultiStore for this site because i have multi language, so.. the default language is RO, and the url for the site was: www.mysite.com/default/ (RO store) and the English one www.mysite.com/EN/ .

I managed to hide the /default/ from the URL with a module, but the Alogia Search get the url from the default store.

[2016-03-25 10:18] maxiloc commented on #343
Which version of the extension are you using ?

[2016-03-25 10:34] laurfx commented on #343
This is the module - https://github.com/Knectar/Magento-Store-Codes
And i use the latest version of Algolia Search.

[2016-03-25 10:47] maxiloc commented on #343
The url is fetch using the default magento core method here. https://github.com/algolia/algoliasearch-magento/blob/master/code/Helper/Entity/Producthelper.php#L494
I don't think this is something we can fix as part of the extension as it needs to stay generic for every magento store

[2016-03-25 10:47] #343 closed

[2016-03-29 00:23] manish172 opened #344 "Multi Indices Search"
Suggestion: Add option to search in products indices as well as pages indices on instant search result page. By default it will show both i.e. products as well as pages and there will be toggle filter to show products only/pages only

[2016-03-29 09:51] maxiloc commented on #344
Yes we are already thinking about it. We'll keep you updated. Thanks for the suggestion

[2016-03-29 16:51] sammarcus commented on #342
Yes, that worked! Thanks so much! Reindex finished perfectly, everything is terrific! Thanks for the help!

[2016-03-29 16:52] #342 closed

[2016-03-29 21:03] chrisvanderpoel opened #345 "Product Entity Helper Bug"
There's a particularly nasty bug in the `AlgoliaSearch/Helper/Entity/Producthelper.php::getProductCollectionQuery` method.  It revolves around the way you attempt to prepare the additional attributes array here:

[code]

Doing this will result in the last attribute in the array not being processed properly by the `$products->addAttributeToSelect()` method that follows it.  Long story short, the la

[2016-03-29 21:05] chrisvanderpoel commented on #345
Here's a quick shell script you can run to demonstrate the problem.

[code]

[2016-03-30 12:23] maxiloc commented on #345
@chrisvanderpoel Thanks for reporting this. Nice catch :+1:

[2016-03-30 12:23] #345 closed

[2016-03-30 12:24] chrisvanderpoel commented on #345
@maxiloc were you able to replicate the issue locally?

[2016-03-30 12:36] maxiloc commented on #345
I had the issue a while ago, but since we are using a docker image to develop, restarting the container fixed it, and I never investigate further. I was not able to reproduce with your script. The fix does not change much so I patch it just in case.

This might have something to do with the type of the custom field.

[2016-03-30 13:00] chrisvanderpoel commented on #345
@maxiloc What's the output when you run this shell script...

[code]

[2016-03-30 13:27] maxiloc commented on #345
Ok with this one I reproduce, it's super weird !!! The output of attributes_to_select is exactly the same with both ways

[2016-03-30 14:45] technik-vitafy commented on #321
We also need the indexing to be decoupled from the category option "include_in_menu" since some categories must not appear in the navigation but still must be available for other purposes (e.g. special deal/sale categories for marketing purposes).

[2016-04-04 06:05] Ilia opened #346 "Updating catalog rules discount and applying rule does not update prices in Algolia"
Hi,

We currently update the catalog rules ( discount percentages ) on a daily/weekly basis, which updates product prices for the customer group that are affected by the rule. The question I have is, do these prices changes flow through to algolia service.

I have done a number of tests and don't see the prices updated in algolia, I also don't see anything in the algolia queue table when I "apply

[2016-04-04 06:26] maxiloc commented on #346
Yes the extension does not handle this. If you create/update/delete a catalog rule you'll need to launch a full reindex manually.
I can not think of a clean way to handle it automatically. Their is two main reasons:
- The indexing in Algolia is done outside of the magento flow, and prices depends on others indexers. If we schedule it automatically, we have no guaranty that it will have picked up t

[2016-04-05 03:11] Ilia commented on #346
Thanks for that info, is there a way to do a full reindex? we are thinking to bypass this, we would do a nightly/weekly scheduled full reindex

[2016-04-06 19:45] algadgets opened #348 "Error while doing indexing in Magento 1.9.2.4"
I am getting some error while indexing algolia search indexers
![magento_indexing error](https://cloud.githubusercontent.com/assets/18314912/14330405/86dae556-fc51-11e5-9e42-924a2be9648a.JPG)

Please review the error picture to assist

thanks

[2016-04-06 19:56] #348 closed

[2016-04-06 20:00] maxiloc commented on #348
I quite sure this is not related to the extension. The error mean that the currencies fetch with the magento core method => https://github.com/algolia/algoliasearch-magento/blob/master/code/Helper/Entity/Producthelper.php#L291
are not valid.
What you can do to investigate is to wrap this line => https://github.com/algolia/algoliasearch-magento/blob/master/code/Helper/Entity/Producthelper.php#L308

[2016-04-07 06:26] thoaionline opened #349 "Unexpected rendering"
Our site https://www.schots.com.au/ is using this plugin for product search.

On a sub page, the search works fine

https://www.schots.com.au/furniture.html

![screen shot 2016-04-07 at 4 23 56 pm](https://cloud.githubusercontent.com/assets/229556/14342470/292c4170-fcdd-11e5-9ed5-96fb4a55f090.png)

However, on the homepage (only), the panel always overflows:

![screen shot 2016-04-07 at 4 23 20 pm

[2016-04-07 08:26] maxiloc commented on #349
To be able to have a large autocomplete in every website, we are forced to hook the dropdown in the “content" block instead of "top.search". Because of this if we do nothing the dropdown is not aligned with the input. So we have a function that make the dropdown stick to the input and is able (most of the time) to decide whether to stick on the left or on the right =>
https://github.com/algolia/al

[2016-04-11 15:41] spiralmedia-rupert opened #354 "Configurable product: Simple products (children) SKU's not searchable"
I've had a look through old issues but couldn't find an answer.

Basically, when searching for SKU's belonging to simple products that make up a configurable product no results are show. All the simple's are set to be 'not visible individually'. Is there a work around for this?

Thank you

[2016-04-11 15:42] maxiloc commented on #354
Which version of the extension are you using ?